@import "tds-components/_tds-variables.scss";
@import "_tds-cable-variables.scss";

/*/// Shopper ID  ///*/
#shopperId {
  .content-intro {
    padding: 20px 0
  }
}


.tds-msg-box {
  border: solid 3px #e3e3e3;
  min-height: 236px;
  max-height: auto;

  h2 {
    font-weight: 400;
    font-size: 21px;
  }

  @media(max-width: 750px) {
    margin: 0 0 30px 0;
  }
}

.col-sm-12 .tds-msg-box {
  margin: 0 0 30px 0;
}
