@import "tds-components/_tds-variables.scss";
@import "_tds-cable-variables.scss";

/* ===== tds cable Typography === */

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.25;
}

h1.page-header {
  border-bottom: 2px solid $tds-gray;
  padding-bottom: 15px;
  margin: 40px 0 20px;
}

/*==form styles==*/

.hr-after-text {
    overflow: hidden;
&:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid $tds-gray;
}
}


/*==Self-ID page styles==*/
.content-intro {
  font-size: 18px;
  color: $tds-dkr-gray;
  font-weight: normal;
}

/*==Text Formating==*/
.inline-block {
  display: inline-block;
}

.userGreeting-address {
  font-weight: bold;
}
