// tds-buttons.scss

// Main TDS button
// ------------------
.tds-btn {
  //display: table; // this gives the button size value without having to float.
  margin-top: 20px;
  padding: 12px 16px ;
  @include button-variant($tds-white, $tds-dk-blue, transparent);
  font-family: $tds-font-family;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  border: none;
  box-shadow: $box-shadow;
  a {
    color: #fff ;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background-color: $tds-lt-blue-100;
  }
  &:focus {
    box-shadow: none;
    background-color: $tds-dk-blue;
    color: #fff ;
  }
}
//added this because couldn't figure out how to add it above and make it work
a.tds-btn, a.tds-btn > span { text-decoration: none; }

.tds-btn:after {
  content: "";
  width: 24px;
  height: 16px;
  float: right;
  background-image: url("../images/ui/right-arrow-white2.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 9px 14px;
}

.btn-x {
  background-color: $tds-dk-gray-80;
  @media (max-width: 360px){
    display: block;
    width: 100%;
  }
}

// icon for edit appointment
.btn-x:after {
  content: "";
  width: 24px;
  height: 16px;
  float: right;
  background-image: url("../images/ui/icon_x-white.svg");
  background-position: right 3px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}
// icon for confirm appointment
.btn-checkmark:after {
  content: "";
  width: 24px;
  height: 16px;
  float: right;
  background-image: url("../images/ui/icon_checkmark-white.svg");
  background-position: right 2px;
  background-repeat: no-repeat;
  background-size: 15px 12px;
}

.tds-btn.btn-checkmark {
  margin-right: 24px;
  @media (max-width: 360px){
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }
}

// btn with plus icon in front
.btn-add {
  &:after {
    content: none;
  }
  &:before {
    content: "";
    width: 24px;
    height: 16px;
    float: left;
    background-image: url("../images/ui/icon_plus-ltblue-100.svg");
    background-position: left 2px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
  &:hover:before, &:focus:before {
    background-image: url("../images/ui/icon_plus-white.svg");
  }
}

// ===== .btn-block Arrows =====================================================
// New method for arrows on button btn-block set up.
// Now using btn-block class on .tds-btn so we don't have to alter it
// based on location every time.
// **TODO** || integrate method above into this.
// =============================================================================
.tds-btn.btn-block:after {
  // position: absolute; // holy hell! may not need this here after cleaning up
  // right: 40px; // it may have been something in all those styles causing it.
  float: right;
  display: inline;
  margin-top: 3px; // this aligns the carat to center
  height: 14px;
}


// ===== Green button ==========================================================
// You know, the green one.
// added `#addtocart` ID for those that need to be green we missed.
// =============================================================================
.tds-btn.btn-green,
.tds-btn-green,
button#addtocart {
  border-color: #6b9c22;
}

// ===== Gray button ===========================================================
// gray button, blue text
// =============================================================================
.tds-btn-gray {
  color: $tds-lt-blue ;
  background: $tds-ltr-gray;
  &:hover {
    background: $tds-lt-blue ;
    color: $tds-white ;
  }
}
// gray close button
td .line-item-actions .tds-btn-gray {
  border-radius: 15px;
  padding: 0px 9px 3px 8px;
}

// ===== Orange button =========================================================
// orange button, white text
// =============================================================================
.tds-btn-orange {
  color: $tds-white ;
  background: $tds-orange-100;
  &:hover {
    background: $tds-orange-80 ;
  }
}

// ===== Light blue button =========================================================
// light blue button, white text
// =============================================================================
.tds-btn-lt-blue {
  background: $tds-lt-blue-100;
  color: $tds-white ;
  &:hover {
    background: darken($tds-lt-blue, 5%) ;
    color: $tds-white ;
  }
}

// button link style
// when it's a tds button but by design shows as text
.tds-btn-link,
.tds-btn.tds-btn-link {
  @include btn;
  font-family: 'ITC Avant Garde Gothic W01';
  color: $tds-green-100;
  &:hover {
    color: $tds-green-80;
  }
}
// arrow icon (default setting)
.tds-btn-link:after {
  @extend .fa;
  content: "\f054";
  margin-top: 3px;
  margin-left: 14px;
}
// No arrow icon `tds-btn-plain`
// when this class is applied it removes the default button
.tds-btn.tds-btn-plain:after {
  display: none;
}

// When button is an `input` submit element
// - *Note* || Working on changing this. All `<input>` divs should be changed
//   to `<button>` divs.
.tds-btn input {
  padding-top: 2px;
  background: transparent;
  border: transparent;
}

// Back & Next buttons
// Mainly used for walkthrough pages like the bundle picker
.btn-right {
  float: right;
  // next arrow
  .next-arrow:after {
    content: "\f054";
    margin-left: 15px;
    //.fa;
  }
}
// removes extra space from default tds-btn
.btn-right {
  padding-right: 0px ;
}
.btn-left,
.btn-back {
  float: left;
  // back arrow
  .back-arrow:before,
  .tds-icon-chevron-left:before {
    content: "\f053";
    margin-right: 15px;
  }
  .back-arrow:after,
  .tds-icon-chevron-left:after {
    display: none;
  }
}
