<div id="genericfooter-container">

  <!-- START subscribe box -->
  <div id="subscribe-container" class="container-fluid">
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td class="subscribe-text"><!-- {{Email Sign Up Copy/Description Text}} -->This is the message that will make people lose there minds!</td>
            <td class=""><a href="{{Subscribe Button URL}}" class="btn-subscribe"><!--{{Subscribe Button CTA Text}}-->Sign Up</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END subscribe box -->

  <div class="container">

    <!-- START text links nav bar -->
      <!-- INSERT a large nav bar component, we need a a way to create an ID but otherwise it should work for this spot -->
    <!-- END text links nav bar -->

    <!-- START social media icon links -->
    <div id="social-container">
      <ul id="social-media-links">
        <li>
          <a href="{{Social Media Page URL}}" class="circle-gray size-40"><img src="{{Icon Image Location}}" alt="{{Alt Text}}"></a>
        </li>
      </ul>
    </div>
    <!--END social media icon links-->

  </div>

</div>
<!--genericfooter-container-->

<!--fortune logo and copyright-->
<div id="copyright-container">
  <div class="container">
    <div class="copyright-logo">
      <img src="{{Logo/Graphic}}" id="fortune-logo" alt="{{Logo/Graphic Alt Text}}">
    </div>
    <div class="copyright-text">
      <div id="copyright-long-text">
        $copyRightLongText
      </div>
      $copyRightShortText
    </div>
  </div>
</div>
<!--END fortune logo and copyright-->
