<header class="container-header">


	<!--top bar left Navigation-->
	<nav class="cable-top-bar">
		<div id="skiptonav">
			<a href="#main-navbar">Skip to main nav</a>
		</div>
		<div id="skiptocontent">
			<a href="#maincontent">Skip to main content</a>
		</div>

		<a href="#" class="ui-mobile-menu" role="navigation" aria-label="Main menu"><span>Menu</span></a>

		<div class="cable-nav-top-bar">
			<div class="container">
				<div class="customLargeNavBar parbase navbar">
					<div class="tds-nav-lg" id="tdsbizfooter--navbar" role="navigation" aria-label="Navigation menu">
						<ul role="menubar">
							<li class="active" role="menuitem"><a tabindex="0" href="/" target="_self"><span>Home</span></a></li>
							<li role="menuitem"><a tabindex="-1" href="#" target="_blank"><span>Terms of Service</span></a></li>
							<li aria-haspopup="true" role="menuitem"><a tabindex="-1" class="navbar-has-dropdown" href="#" target="_blank"><span>Policies</span></a>
								<ul aria-hidden="true" data-test="true" role="menu">
									<li role="menuitem"><a tabindex="-1" href="#" target="_blank"><span>Privacy</span></a></li>
									<li role="menuitem"><a tabindex="-1" href="#" target="_blank"><span>Acceptable Use</span></a></li>
								</ul>
							</li>
						</ul>
						<div class="tds-clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!--top bar left Navigation end-->


		<!--top bar right Navigation Residential and Business links-->
		<div class="nav-tds-external-sites">
			<ul>
				<li><a href="/" class="res">Residential</a></li>
				<li><a href="/business" class="bus">Business</a></li>
			</ul>
		</div>

	</nav>
	<!--top bar right Navigation Residential and Business links end-->



	<!--Navigation cable account, view cart, contact, ect links-->
	<div class="row-header">
		<div class="contact-links-wrap" id="header-contact-links">
			<ul role="menubar">


				<li>
					<a class="contact-links-text contact-account-icon" href="/login.html">Log In</a>
				</li>

				<li>
					<a class="contact-links-text contact-cart-icon" href="/cart.html">View Cart</a>
				</li>

				<li>
					<a class="contact-links-text contact-call-icon" href="tel:8556963868"><span class="header_phone_num parbase phoneNumberDisplay"><span>855-696-8368</span></span></a>
				</li>

				<!---Optinal CTA Button-->
				<li>
					<a class="gallery-btn tds-btn-orange gallery-btn tds-btn-orange" href="/get-quote.html">Optional CTA</a>
				</li>
				<!---Optinal CTA Button end-->

			</ul>
		</div>
	</div>
	<!--Navigation cable account, view cart, contact, ect links end-->


	<!--Logo and Main Site Navigation-->
	<div class="row-header">

		<!--Logo-->
		<div class="container-logo">
			<a href="/" id="tds-logo" aria-label="TDS Logo"></a>
		</div>
		<!--Logo end-->



		<!--Main Site Navigation-->
		<nav>
			<div class="cable-nav-main">
				<div class="container">
					<div class="customLargeNavBar parbase navbar">
						<div class="tds-nav-lg" id="tdsbizfooter--navbar" role="navigation" aria-label="Navigation menu">
							<ul role="menubar">
								<li class="active" role="menuitem"><a tabindex="0" href="/" target="_self"><span>Home</span></a></li>
								<li role="menuitem"><a tabindex="-1" href="http://tdstelecom.com/policies/terms-of-service.html" target="_blank"><span>Best Deals</span></a></li>
								<li aria-haspopup="true" role="menuitem"><a tabindex="-1" class="navbar-has-dropdown" href="http://tdstelecom.com/policies.html" target="_blank"><span>TV</span></a>
									<ul aria-hidden="true" data-test="true" role="menu">
										<li role="menuitem"><a tabindex="-1" href="#" target="_blank"><span>Dropdown 1</span></a></li>
										<li role="menuitem"><a tabindex="-1" href="http://tdstelecom.com/policies/acceptable-use-policy.html" target="_blank"><span>Dropdown 2</span></a></li>
									</ul>
								</li>
							</ul>
							<div class="tds-clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!--Main Site Navigation end-->
	</div>
</header>

<!--Scripts for mobile menu toggle and page highlight for main nav-->
<script>
	$(document).ready(function() {
		$(".ui-mobile-menu").click(function() {
			$(".cable-nav-main").slideToggle('fast', 'swing');
		});
	});
</script>
