<div class="container pkg-builder-subtotal">
	<div class="tds-divider-line"></div>
	<div class="row pkg-subtotal-content">
		<div class="sel-summary col-sm-12 col-md-3">
        <h3 class="subtotal-header-text">Selection Summary</h3>
    </div>
    <div class="subtotal-items col-sm-12 col-md-9" id="monthly-charges">
			<table class="table pkg-subtotal-table">
				<tbody>
					<tr>
						<td class="subtotal-column" id="one-time-costs" style="display: table-cell;">
							<div class="subtotal-column-content">
								<p class="sel-head-text">One-time costs</p>
								<p class="sel-price-text">$49.95</p>
							</div>
							<td class="subtotal-column" id="one-time-credits" style="display: table-cell;">
								<div class="subtotal-column-content">
									<p class="sel-head-text">One-time credits</p>
									<p class="sel-price-text">($49.95)</p>
								</div>
							</td>
							<td class="subtotal-column" id="monthly-charges">
								<div class="subtotal-column-content">
									<p class="sel-head-text sel-head-text-mth">Monthly Charges</p>
									<p class="sel-price-text sel-price-text-mth">$221.88</p>
									<p class="subtotal-fees">Plus Taxes and Fees</p>
								</div>
							</td>
						</td>
					</tr>
				</tbody>
			</table>
    </div>
	</div>
	<div class="tds-divider-line bgcolor-lt-blue"></div>
</div>
