/* ADDRESS ENTRY -*/

.address-entry h2 {
	font-size:18px;
	font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #737373;
	line-height: 24px;
	margin: 16px 0;
}

.form-control {
    border-width: 2px!important;
    border-radius: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

label,
input,
.address-entry .hint-block {
	font-weight: 500;
    font-size: 14px;
	font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.address-entry .tds-divider-line {
	background-color: #D9D9D9;
	margin-top: 26px;
}

.address-entry #address-submit {
	margin-top:14px;
}

.address-entry  .address-entry-notes {
	padding-bottom:20px;
}



   /* ADDRESS ENTRY - Errors -*/

#allErrorsContainer {
	background-color: #ffecec;
    background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-error.svg);
    background-size: 20px 20px;
    background-position: 16px 14px;
    background-repeat: no-repeat;
    border-left: 3px solid #cb1d1d;
    padding: 12px 16px 12px 52px;
    margin: 16px 0;
    display: block;
    width: 100%;
}

#allErrorsContainer p {
    line-height: 24px;
    text-align: left;
    font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400!important;
    color: black;
    margin-top:0;
}

#addressForm .has-error label {
    color: #cb1d1d;
}

#addressForm .has-error input {
	background: #ffecec;
}

.address-entry #fullAddressError {
	font-weight: 600;
	font-size: 16px;
	font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}


#out-of-service-area .tds-alert-warning {
	border: 4px #f70 solid;
	margin:20px 0;
	padding: 0 18px;
}

   /* ADDRESS ENTRY (cont) -*/

.address-entry .tds-card {
	min-height: 130px;
}

.address-entry .tds-card-heading {
	color: #737373;
	margin-bottom: 14px;
	font-size: 26px;
}

.address-entry .text-link {
	 background:none!important;
     color: #f70;
     text-decoration: underline;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
     font-size:16px;
}

.address-entry .text-link:hover {
	 background:none!important;
     color: #f70;
     text-decoration: none;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
     font-size:16px;
}

p.entered-address {color:#737373;}

.address-entry .tds-address {
	margin: 10px 0 40px;
	background-color: #fff;
	padding: 6px 20px 20px;
	border: 1px solid silver;
	font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.address-entry .tds-address p {
	color: #585852;
	line-height: 10px;
}

.address-entry .tds-card {
	border: 1px solid silver;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	padding: 0;
}

.address-entry .tds-card form,
.address-entry .tds-card .login {
	padding: 15px 18px 18px 18px;
}

.address-entry .icon-account {
	font: 400 14px "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.33;
	text-decoration: none;
	background-color: #1c76b4;
	color: #fff;
	padding: 10px 16px 8px;
	text-transform: uppercase;
	border-radius: 2px;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
}

.address-entry .icon-account:hover,
.address-entry .icon-account:focus {
	background-color: #156398;
}

.address-entry .tds-card-heading {
background-color: rgb(245, 245, 245);
border-bottom: rgb(221, 221, 221) solid 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-size: 30px;
font-weight: bold;
height: 54px;
line-height: 33px;
margin: 0 0 10px 0;
padding: 10px 15px;
text-align: center;
}

@media (max-width: 767px) {
.address-entry h3 {
    font-size: 20px;
  }
}
