/* bend-errors-alerts
==========================================*/
.has-error .form-control {
    border-color: $bend-red;
}
.has-error .form-control:focus {
    border-color: $bend-dk-blue;
}

.tds-card .alert {
    margin-bottom: 0;
}
.alert {
  a {
      color: black;
      &:hover, &:focus {
        text-decoration:none;
        background: white;
      }
  }
  .h4 {
      color: #fff;
      margin-bottom: 8px;
      .bold {
          font-weight: 600;
      }
  }
  ul.alert-list {
      margin-left: 12px;
      li {
          list-style-type: none;
          padding: 0;
          margin: 0;
          color: #fff;
          &:before {
              background: #fff;
              width: 6px;
              height: 6px;
              margin-top: 7px;
              content: "";
              position: relative;
              top: 0;
              display: block;
              float: left;
              margin-left: -12px;
          }
      }
  }
}
.alert,
.tds-error-msg,
.tds-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin: 1em 0;
  padding: 14px;
  padding-left: 2.75em;
}


.alert-success
.tds-error-success,
.tds-alert-success  {
    background-color: lighten($bend-green, 20);
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-success-bend.svg');
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    border-radius: 4px;
}
.alert-danger,
.tds-error-critical,
.tds-alert-critical {
    background-color: $bend-red;
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-error-bend.svg');
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    border-radius: 4px;
}
.alert-info,
.tds-error-info,
.tds-alert-info,
.alert-loading,
.tds-alert-loading  {
    background-color: lighten($bend-lt-blue, 10);
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-information-bend.svg');
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    border-radius: 4px;
}
.tds-error-info,
.tds-alert-info  {
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-information-bend.svg');
}
.alert-loading {
    background-image: url('/content/dam/bendbroadband/images/ui/loading-icon.gif');
}
.alert-warning,
.tds-error-warning,
.tds-alert-warning {
    color: #555;
    background-color: lighten($bend-yellow, 15);
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-warning-bend.svg');
    background-size: 1.45em 1.45em;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    border-radius: 4px;
}

.alert-success.bend-usage-status {
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-success-bend-green.svg');
}
.alert-warning.bend-usage-status {
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-warning-bend-orange.svg');
}
.alert-danger.bend-usage-status {
    background-image: url('/content/dam/bendbroadband/images/ui/icon_alert-error-bend-red.svg');
}

/* address-entry errors
==========================================*/

#allErrorsContainer {
background-color: #ffecec;
 background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-error.svg);
 background-size: 20px 20px;
 background-position: 16px 14px;
 background-repeat: no-repeat;
 border-left: 3px solid #cb1d1d;
 padding: 12px 16px 12px 52px;
 margin: 16px 0;
 display: block;
 width: 100%;
}

#allErrorsContainer p {
 line-height: 24px;
 text-align: left;
 font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
 font-size: 14px;
 font-weight: 400!important;
 color: black;
 margin-top:0;
}

.address-entry #fullAddressError {
font-weight: 600;
font-size: 16px;
font-family: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#out-of-service-area .tds-alert-warning {
border: 4px #f70 solid;
margin:20px 0;
padding: 0 18px;
}
