//TOC
// ====================================
// BRAND COLOR PALETTE
// OTHER UI COLORS
// ALERT/STATUS MESSAGES
// IMAGES
// TYPOGRAPHY
// INPUT STYLES
// MOBILE BREAKPOINTS GLOBAL OVERRIDES
// LAYOUT

// BRAND COLOR PALETTE
// ====================================
$bend-orange: #f70;
$bend-green: #8dc73f;
$bend-dk-green: #5cb85c;
$bend-yellow: #fc0;
$bend-lt-blue: #64bfd3;
$bend-dk-blue: #1c76b4;
$bend-red: #FF4D50;
$bend-gray: #585852;


$bend-orange-80: lighten($bend-orange, 10); //aka #ff9233

$bend-ltr-gray: lighten($bend-gray, 60);
$bend-lt-gray: lighten($bend-gray, 15); //aka #808077
$bend-dk-gray: darken($bend-gray, 15); //aka #30302d

.brand-primary {
    color: $bend-orange;
}
.brand-primary a {
    color: $bend-orange;
}
.brand-secondary {
    color: $bend-lt-blue;
}
.brand-secondary a {
    color: $bend-lt-blue;
}
.brand-tertiary {
    color: $bend-green;
}
.brand-tertiary a {
    color: $bend-green;
}
.brand-quartenary {
    color: $bend-yellow;
}
.brand-quartenary a {
    color: $bend-yellow;
}
.brand-quincenary {
    color: $bend-dk-blue;
}
.brand-quincenary a {
    color: $bend-dk-blue;
}

// OTHER UI COLORS
// ====================================
// body text color
$text-color: $bend-gray;
// radius reset
$border-radius-base: 0 !important;
// xrms box shadow setting
$box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
//** `.form-group` margin
$form-group-margin-bottom: 20px;

// ALERT/STATUS MESSAGES
// ====================================---
// *informational
$state-info-bg: $tds-lt-bluegray;
$state-info-text: $tds-dkr-gray;

// *loading or status
$tds-status: $tds-lt-blue-80;
$tds-status-bg: #d6efff;

// *warning yellow
$tds-warning-yellow: #FFCE00;
$state-warning-bg: #FFF8D8;

// *error red
$tds-red: #CB1D1D;
$tds-critical-bg: #ffecec;

// *success green
$tds-success: $tds-green-100;
$tds-success-bg: #E5F0D4;

// bootstrap alert
$state-danger-bg: $tds-critical-bg;

// TYPOGRAPHY
// ====================================

// font families
$bend-font-headings: "Museo W01", Museo, Georgia, "Times New Roman", Times, serif;
$bend-font-body: "Museo Sans W01", Museo Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$tds-font-family: $bend-font-headings;
$tds-font-body: $bend-font-body;
