/* bend-buttons
==========================================*/
.navbutton button {
  color: #fff;
  background-color: #1c76b4;

  &:focus,
  &:hover {
    background-color: #156398;
  }
}

.gallery-btn,
.tds-btn {
  padding: 10px 16px 8px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* BUTTON - Colors */
.gallery-btn,
.tds-btn {
  color: #fff;
  background-color: #f70;

  &:focus,
  &:hover {
    background-color: #cc5f00;
  }

  &.tds-btn-lt-blue {
    background-color: #64bfd3;

    &:focus,
    &:hover {
      background-color: #51a7ba;
    }
  }

  &.tds-btn-gray {
    background-color: #808077;

    &:focus,
    &:hover {
      background-color: #6d6d5e;
    }
  }

  &.tds-btn-dk-gray {
    background-color: #30302d;

    &:focus,
    &:hover {
      background-color: #161614;
    }
  }

  &.tds-btn-green {
    background-color: #8dc73f;

    &:focus,
    &:hover {
      background-color: #75a92e;
    }
  }

  &.tds-btn-orange {
    background-color: #f70;

    &:focus,
    &:hover {
      background-color: #cc5f00;
    }
  }

  &.tds-btn-transparent {
    background-color: rgba(0, 0, 0, 0.0);

    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  // button border colors
  &.border-tds-blue {
    border-color: #1c76b4;
  }

  &.border-lt-blue {
    border-color: #64bfd3;
  }

  &.border-lt-gray {
    border-color: #808077;
  }

  &.border-gray {
    border-color: #585852;
  }

  &.border-dk-gray {
    border-color: #30302d;
  }

  &.border-green {
    border-color: #8dc73f;
  }

  &.border-orange {
    border-color: #f70;
  }
}

/* BUTTON - Decoration */
.gallery-btn .btn-next-arrow:after,
.tds-btn .btn-next-arrow:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  width: 10px;
  height: 14px;
  margin-top: -3px;
  margin-left: 10px;
  background-image: url("/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.gallery-btn .tds-icon-chevron-left:before,
.tds-btn .tds-icon-chevron-left:before {
  content: "";
  width: 10px;
  height: 21px;
  padding: 0;
  margin-top: -3px;
  margin-right: 10px;
  float: left;
  background-image: url("/content/dam/tdstelecom/images/ui/arrows/left-arrow-white.svg");
  background-position: right center;
  background-repeat: no-repeat;
}
