/* bend-search
==========================================*/
@media (min-width:768px) {
  .bend-searchbar > .topSearch > form,
  .navbar.bbb-navbar-utility .navbar-form {
    width: 220px;
  }
}

.navbar.bbb-navbar-primary .navbar-form {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar.bbb-navbar-primary .navbar-form .form-group {
  margin-bottom: 0;
}

.bend-searchbar > .topSearch > form .tds-searchbar-input,
.form-control.search {
  height: 36px;
  margin-top: 3px;
  -webkit-appearance: none;
  width: calc(100% - 44px);
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  border-radius: 0;
}
@media (min-width:768px) {
  .bend-searchbar > .topSearch > form .tds-searchbar-input,
  .navbar .form-control.search {
    color: #000;
    border: transparent;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    background: transparent;
    font-size: 14px;
    &::placeholder {
      color: white;
      font-weight: 300;
    }
  }
}

.panel.sidebar .form-control.search {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.tds-searchbar-button:before {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  content: '🔎';
}
.tds-searchbar-button span.display-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.bend-searchbar > .topSearch > form .tds-searchbar-button,
.btn-search {
  border: transparent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: transparent;
  width: 44px;
  height: 44px;
  float: right;
  text-align: center;
  text-indent: -9999px;

  &:focus,
  &:hover {
    background-color: #f70!important;
  }
  &:before {
  font-size: 18px;
  line-height: 44px;
  text-indent: 0;
  float: right;
  margin-right: 7px;
  }
}
@media (min-width:768px) {
  .bend-searchbar > .topSearch > form .tds-searchbar-button,
  .navbar .btn-search {
    border-radius: 0;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.panel.sidebar .btn-search {
  color: #f70;
}

// MOBILE SEARCH BAR

.tds-search-container {
    padding: 0;
    position: relative;
}

#mobile-searchbar {
  display: none;
}

.mobile-search .tds-searchbar-input {
  float: left;
  line-height: 44px;
  height: 44px\9;
  height: 44px;
  border: solid 1px #bbb;
  width: 100%;
  border-radius: 2px;
  padding-left: 8px;
}

.mobile-search .tds-searchbar-button {
  float: right;
  width: auto;
  margin: 0;
  padding: 0 10px;
  height: 44px;
  position: absolute;
  right: 0;
  border: solid 1px #518eaa;
  border-left: 0;
  background: #518eaa;
  color: white;
  border-radius: 0 2px 2px 0;
  &:hover, &:focus {
    background-color: $bend-orange;
    border-color: $bend-orange;
  }
  &:before {
    content: none;
  }
}

.topSearch.mobile-search {
  margin-bottom: 16px;
}
// ---
// search card
// ---

.tds-card.bend-search-card {
  border: none;
  background-color: #5a5a4d;
  border-radius: 2px;
}

.contactUsCard .bend-search-card .tds-card-heading {
  color: white;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.bend-search-card .tds-card-content p {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.bend-search-card {
  .topSearch.section {
    margin-top: 20px;
  }

  .tds-searchbar-input {
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border: solid 1px transparent;
    height: 36px;
    width: calc(100% - 36px);
    border-top-right-radius: 0;
    padding-left: 8px;
    ::placeholder {
      color: #d9d9d9;
    }
  }

  .tds-searchbar-button {
    float: right;
    width: 36px;
    height: 36px;
    border: solid 1px transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    padding: 0;
    font-size: 16px;
    text-indent: -9999px;

    &:before {
      font-size: 16px;
      line-height: 36px;
      color: #f70;
      text-indent: 0;
      float: right;
      margin-right: 9px;
    }

    &:focus,
    &:hover {
      background-color: #f70;
      &:before {
        color: #fff;
      }
    }

    span.display-text {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

  }
}
