/* bend-pills
==========================================*/
.panes-nav {
    background: url(../../bend-assets/images/checkers-light.gif) left top repeat;
    border-top: 3px solid rgba(0, 0, 0, .2)
}
.panes-nav .nav-pills {
    font-size: 20px;
    font-family: "Museo Slab W01_300", Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 1.1
}
.ie .panes-nav .nav-pills {
    font-weight: 500;
    font-size: 17px
}
@media (min-width:768px) {
    .panes-nav .nav-pills {
        margin-top: -3px
    }
}
.panes-nav .nav-pills>li>a {
    border-radius: 2px;
    color: #47473d;
    text-align: left;
    padding-top: 18px;
    padding-bottom: 18px
}
@media (max-width:767px) {
    .panes-nav .nav-pills>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -12px;
        margin-right: -10px
    }
}
@media (min-width:768px) and (max-width:991px) {
    .panes-nav .nav-pills>li>a {
        text-align: center
    }
}
.panes-nav .nav-pills>li>a:hover, .panes-nav .nav-pills>li>a:focus {
    color: #3cafc8;
    background: 0
}
.panes-nav .nav-pills>li.active {
    background-color: #64bfd3
}
@media (min-width:768px) {
    .panes-nav .nav-pills>li.active {
        position: relative;
        border-top: 3px solid rgba(0, 0, 0, .2);
        background-clip: border-box
    }
    .panes-nav .nav-pills>li.active:after {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 50%;
        width: 0;
        height: 0;
        margin: 0 0 0 -24px;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 24px solid #64bfd3
    }
}
.panes-nav .nav-pills>li.active>a, .panes-nav .nav-pills>li.active>a:hover, .panes-nav .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #64bfd3
}
.panes-nav .nav-pills>li:last-child>a {
    margin-bottom: 0
}
.panes-nav.business {
    background: url(../../bend-assets/images/checkers-dark.gif) left top repeat
}
.panes-nav.business .nav-pills>li>a {
    color: #d9d9d9
}
.panes-nav.business .nav-pills>li>a:hover, .panes-nav.business .nav-pills>li>a:focus {
    color: #fff;
    background: 0
}
.panes-nav.business .nav-pills>li.active {
    background-color: #3298af
}
@media (min-width:768px) {
    .panes-nav.business .nav-pills>li.active:after {
        border-top: 24px solid #3298af
    }
}
.panes-nav.business .nav-pills>li.active>a, .panes-nav.business .nav-pills>li.active>a:hover, .panes-nav.business .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #3298af
}
