/* bend-story-panes
==========================================*/

.story-panes .tab-content h1 {
    color: #64bfd3
}
.story-panes .tab-content .tab-pane {
    color: #fff;
    background: #47473d;
    padding-top: 30px;
    padding-bottom: 30px
}
@media (max-width:991px) {
    .story-panes .tab-content .tab-pane {
        background: #47473d!important
    }
}
@media (min-width:768px) {
    .story-panes .tab-content .tab-pane {
        padding-top: 75px;
        padding-bottom: 0;
        height: 460px
    }
}
@media (max-width:480px) {
    .story-panes .tab-content .btn {
        display: block;
        max-width: 200px
    }
    .story-panes .tab-content .btn+.btn {
        margin-top: 5px
    }
}
/* END bend-story-panes */
