/* bend-media.scss
==========================================*/
img {
    border: none!important;
}
img.link-item-imgIcon {
    width: 14px;
    margin-bottom: 5px;
}
.tds-content-rich img.inline {
  display: inline-block;
  margin-right: 8px;
}
/* END bend-media.scss */
