/* bend-modals.scss
==========================================*/
.modal-title {
  font-size: 24px;
  font-weight: 500;
}

h2.modal-title {
  color: #f70;
  margin-top: 16px;
  border-bottom: solid 1px silver;
  text-align: center;
}

.modal-header {
  padding: 15px 15px 0;
  position: relative;

  .close {
    padding: 4px 8px 6px;
    color: white;
    background-color: #f70;
    border: solid 1px transparent;
    border-radius: 50%;
    text-shadow: none;
    -webkit-appearance: none;
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
    float: none;
    position: absolute;
    right: -14px;
    top: -13px;
    z-index: 1;
    @media (max-width: 768px) {
      right: 6px;
      top: 8px;
    }

    &:focus,
    &:hover {
      background-color: $bend-dk-gray;
      color: white;
    }
  }
}

.modal-body {
  padding: 0 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 50px;
  }
}
//--- PACKAGE BUILDER LOADING MODAL ---//
.modal-body.tds-msg-box .tds-msg-box {
  padding: 0 16px;
}

.modal-body.tds-msg-box .tds-msg-box h2 {
  text-align: center;
  color: #f70;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 28px;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url("/content/dam/bendbroadband/images/ui/bend-loading-ellipsis.gif");
  background-image: url("/content/dam/bendbroadband/images/ui/bend-loading-ellipsis.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loadingOverlay.modal {
  overflow: auto;
  background: rgba(0,0,0,0.5);
}

.pkg-builder-modal .modal-dialog {
  max-width: 400px;
}
@media (min-width: 768px) {
  .pkg-builder-modal .modal-dialog {
    max-width: 400px;
    margin: 30px auto;
  }
}

// CAREERS PAGE MODALS

.careersModals .modal-title {
  color: #ff7700;
}

.careersModals .modal-body .panel.panel-default {
  margin-top: 20px;
}

.bendbroadband-content .pagelayout .careersModals ul {
  margin: 0 0 0 20px;
}
//--- FULL SCREEN MODAL ---//
.modal.full {
  padding-right: 0 !important;
  background-color: white;
  .modal-dialog.tds-modal {
    margin: 0;
    max-width: 100%;
    height: 100%;
  }
  .modal-content {
    box-shadow: none;
  }
  .modal-body {
    padding: 0;
  }
}

.careersModals .modal {
  top: 62px;
  padding-right: 0 !important;
}

.careersModals .modal-footer a.gallery-btn {
  float: left;
}
/* END bend-modals.scss */
