/* bend-checkout-questions.scss
==========================================*/

.checkout-container label:hover input:checked+.tds-radio-btn:before {
  top: 0;
  left: 0;
}

#contactEmail-error+.checkbox>label {
  padding: 0;
}
.cablecheckoutquestions span.label-text {
  display: inline;
  line-height: 25px;
  font-size: 16px;
}

.cablecheckoutquestions span.label-text>span {
  margin-left: 38px;
  line-height: 25px;
  width: 100%;
}

div#customerServiceCity:after {
  content: ",";
  margin-left: -3px;
}

div#customerServiceCity {
  display: inline-block;
}

div#customerServiceState {
  display: inline-block;
}

div#serviceAddressBlock>div {
  display: inline-block;
  font-size: 16px;
}

div#customerServiceAddressLine {
  display: block!important;
  margin-top: 8px;
}

div#serviceAddressBlock {
  margin-bottom: 20px;
}

.cablecheckoutquestions .checkbox, .cablecheckoutquestions .checkbox label {
  padding: 0;
}

div#billingAddressBlock>fieldset {
  margin-top: 20px;
}

.cablecheckoutquestions p {
  margin-top: 8px;
}

.cablecheckoutquestions label {
  font-size: 16px
}

.checkout-container .tds-divider-line {
  height: 2px;
  background: #f70;
  margin-top: 25px;
}

.checkout-container.submit>.tds-divider-line {
  height: 1px;
  background: silver;
  margin-bottom: 25px;
  margin-top: 2px;
}

form#cableCheckoutQuestionsForm {
  margin-bottom: 40px;
}

input#pinNumber {
  max-width: 80px;
}

.pin-requirements {
  margin: 20px 0;
}

.pin-requirements ul {
  margin-left: 28px;
}

.pin-requirements li {
  font-size: 16px;
  margin: 5px 0;
}

.existingPhoneLine-section {
  margin-left: 57px;
}
@media (max-width:400px) {
  .existingPhoneLine-section {
    margin-left: 38px;
  }
}
div#certifyReadAuthorizationAgreementDiv>label {
  padding-left: 36px;
}

div#certifyReadAuthorizationAgreementDiv .tds-radio-btn {
  margin-left: -36px;
}

button#submitOrder-top {
  margin-bottom: 20px;
}
/* END bend-checkout-questions.scss */
