/* buttons
==========================================*/

.gallery-btn,
.tds-btn {
	padding: 10px 16px 8px;
	font-size: 14px;
	line-height: 1.33;
	border-radius: 2px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
}

.gallery-btn .align-center,
.tds-btn .align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

   /* BUTTON - Colors */

.gallery-btn,
.tds-btn  {
	color: #fff;
	background-color: #F70;
	/* background-color: #1c76b4; */
}

.gallery-btn.tds-btn-lt-blue,
.tds-btn.tds-btn-lt-blue  {
	color: #fff;
	background-color: #64bfd3;
}

.gallery-btn.tds-btn-gray,
.tds-btn.tds-btn-gray {
	color: #fff;
	background-color: #808077;
}

.gallery-btn.tds-btn-dk-gray,
.tds-btn.tds-btn-dk-gray  {
	color: #fff;
	background-color: #30302d;
}

.gallery-btn.tds-btn-green,
.tds-btn.tds-btn-green  {
	color: #fff;
	background-color: #8dc73f;
}

.gallery-btn.tds-btn-orange,
.tds-btn.tds-btn-orange {
	color: #fff;
	background-color:  #f70;
}

.gallery-btn.tds-btn-transparent,
.tds-btn.tds-btn-transparent {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.0);
}

   /* BUTTON - hover focus */

.gallery-btn:hover,
.tds-btn:hover,
.gallery-btn:focus,
.tds-btn:focus  {
	color: #fff;
	background-color: #156398;
}

.gallery-btn.tds-btn-lt-blue:hover,
.gallery-btn.tds-btn-lt-blue:focus,
.tds-btn.tds-btn-lt-blue:hover,
.tds-btn.tds-btn-lt-blue:focus {
	color: #fff;
	background-color: #51a7ba;
}

.gallery-btn.tds-btn-gray:hover,
.gallery-btn.tds-btn-gray:focus,
.tds-btn.tds-btn-gray:hover,
.tds-btn.tds-btn-gray:focus {
	color: #fff;
	background-color: #6d6d5e;
}

.gallery-btn.tds-btn-dk-gray:hover,
.gallery-btn.tds-btn-dk-gray:focus,
.tds-btn.tds-btn-dk-gray:hover,
.tds-btn.tds-btn-dk-gray:hover {
	color: #fff;
	background-color: #161614;
}

.gallery-btn.tds-btn-green:hover,
.gallery-btn.tds-btn-green:focus,
.tds-btn.tds-btn-green:hover ,
.tds-btn.tds-btn-green:focus {
	color: #fff;
	background-color: #75a92e;
}

.gallery-btn.tds-btn-orange:hover,
.gallery-btn.tds-btn-orange:focus,
.tds-btn.tds-btn-orange:hover,
.tds-btn.tds-btn-orange:focus {
	color: #fff;
	background-color:  #cc5f00;
}

.gallery-btn.tds-btn-transparent:hover,
.gallery-btn.tds-btn-transparent:focus,
.tds-btn.tds-btn-transparent:hover,
.tds-btn.tds-btn-transparent:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}


   /* BUTTON - Border */

.gallery-btn.border-tds-blue,
.tds-btn .border-tds-blue {
	border-color: #1c76b4;
}

.gallery-btn.border-lt-blue,
.tds-btn  {border-color: #64bfd3;}
.gallery-btn.border-lt-gray,
.tds-btn.border-lt-gray  {border-color: #808077;}
.gallery-btn.border-gray,
.tds-btn.border-gray  {border-color: #585852;}
.gallery-btn.border-dk-gray,
.tds-btn.border-dk-gray  {border-color: #30302d;}
.gallery-btn.border-green,
.tds-btn.border-green {border-color: #8dc73f;}
.gallery-btn.border-orange,
.tds-btn.border-orange  {border-color: #f70;}

   /* BUTTON - Decoration */

.gallery-btn .btn-next-arrow:after,
.tds-btn .btn-next-arrow:after  {
	content: "";
	display:inline-block;
	position:relative;
	top:1px;
    width: 10px;
    height: 14px;
	margin-top: -3px;
	margin-left: 10px;
    background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg);
    background-position: right center;
    background-repeat: no-repeat;
}

.gallery-btn .tds-icon-chevron-left:before,
.tds-btn .tds-icon-chevron-left:before  {
	content: "";
    width: 10px;
    height: 21px;
    padding: 0;
    margin-top: -3px;
	margin-right: 10px;
    float: left;
    background-image: url(/content/dam/tdstelecom/images/ui/arrows/left-arrow-white.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
