/* bend-rssfeed
==========================================*/

.rssFeedReader {
	margin: 0;
	padding: 0;
}

.rssFeedReader .feature-article,
.rssFeedReader .tds-news-feed {
	margin-right:24px;
}

.rssFeedReader .tds-news-feed {
	border-bottom: 1px #ccc solid;
}

.rssFeedReader .tds-news-feed:nth-last-child(1) {
	border-bottom: none;
}

.rssFeedReader .feature-article {
	border-bottom: none;
}

.rssFeedReader h2 {
	font-size: 26px;
	font-weight:700;
}

.rssFeedReader .tds-card {
	padding: 0;
}

.rssFeedReader  .post-date {
	font-size: 14px;
}

.rssFeedReader  .post-meta {
	margin-top:5px;
}

.rssFeedReader .tds-card-plain.tds-card-plain {
	border:0;
}

.rssFeedReader .media-heading {
	margin-top:6px;
}

.rssFeedReader .feature-article h4 a,
.rssFeedReader .feature-article h4 a:hover,
 .rssFeedReader .feature-article h4 a:focus {
	font-size: 21px;
	line-height: 24px;
	text-transform:unset;
}

.rssFeedReader a {
	font-size:12px;
	display:block;
	text-transform: uppercase;
	padding: 4px 10px;
	background: rgba(0,0,0, 0.0);
	border:solid thin #f70;
	margin: 6px 0;
	font-weight:lighter;
	text-decoration: none;
	max-width:92px;
	color: #f70;
}

.rssFeedReader a:hover ,
.rssFeedReader a:focus {
	opacity: 0.85;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.tds-block-orange .rssFeedReader a {

	display:block;
	text-transform: uppercase;
	padding: 4px 10px;
	background: rgba(0,0,0, 0.0);
	border:solid thin #fff;
	margin: 6px 0;
	font-weight:lighter;
	text-decoration: none;
	max-width:92px;
	color: #fff;
}

.tds-block-orange .rssFeedReader a:hover ,
.tds-block-orange .rssFeedReader a:focus {
	opacity: 0.85;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.rssFeedReader h4 a {
	color:#f70;
	border: 0;
	background: no-repeat right transparent;
	text-transform:unset;
	padding: 0;
	font-size: 15px;
	line-height:19px;
	margin-bottom:0;
	max-width:100%;
}

.tds-block-orange .rssFeedReader h4 a {
	color:#fff;
	border: 0;
	background: no-repeat right transparent;
	text-transform:unset;
	padding: 0;
	margin-bottom:0;
	max-width:100%;
}

.rssFeedReader h4 a:hover,
.rssFeedReader h4 a:focus {
	color:#cc5f00;
	background: no-repeat right transparent;
	opacity: 1.0;
}

.tds-block-orange  .feature-article h4 a:hover,
.tds-block-orange .feature-article h4 a:focus,
.tds-block-orange  .rssFeedReader h4 a:hover,
.tds-block-orange  .rssFeedReader h4 a:focus {
	color:#fff;
	background: no-repeat right transparent;
	opacity: 1.0;
}

.rssFeedReader .feed-content {
	font-weight:lighter;
	font-size:14px;
}

.tds-block-dk-gray .rssFeedReader,
.tds-block-orange .rssFeedReader {
	color: #fff;
}

.tds-block-lt-gray .rssFeedReader {
	color: #333;
}

.rssFeedReader  .feature-article {
	font-weight:bold;
}

// PRESS ROOM PAGE
.rssFeedReader .press-room .feed-image img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  padding: 0 !important;
  margin-right: 24px;
  border-radius: 50%;
  margin-top: 8px;
}

.rssFeedReader .press-room .feed-image {
  display: table-cell;
}

.rssFeedReader .press-room .feed-content {
  display: table-cell;
  vertical-align: top;
}

.rssFeedReader .press-room > .tds-news-feed {
  margin-right: 0;
}

.rssFeedReader .press-room > .tds-news-feed:first-child {
  border-top: 1px solid #ccc;
  padding-top: 13px;
  margin-top: 24px;
}
@media (max-width: 460px) {
  .rssFeedReader .press-room .feed-content,
  .rssFeedReader .press-room .feed-image {
    display: block;
  }

  .rssFeedReader .press-room .feed-image img {
    height: 200px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 0;
  }
}
.rssFeedReader .press-room > .tds-news-feed:last-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
