/* bend-header-nav-main
==========================================*/
.navbar {
  margin-bottom: 15px;
  min-height: 0;
  border: 0;
  border-radius: 0;
}
.navbar-has-dropdown:after {
    display: inline-block;
    width: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
// #STYLING FROM BENDBROADBAND.COM
// -------------------------------

#navbar-primary li {
  font-size: 18px;
}
@media (max-width:860px) {
  #navbar-primary li {
    font-size: 16px;
  }
}
@media (max-width:795px) {
  #navbar-primary li {
    font-size: 15px;
  }
}

.navbar.bbb-navbar-primary {
  margin-bottom: 0;
  border-bottom: 3px solid rgba(0, 0, 0, .25);
  background: 0;
}
@media (min-width:768px) {
  .navbar.bbb-navbar-primary {
    padding-top: 13px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -3px;
  }
}

.navbar.bbb-navbar-primary .navbar-toggle {
  border: 0;
}

.navbar.bbb-navbar-primary .navbar-nav > li > a {
  color: #585852;
}

.navbar.bbb-navbar-primary .navbar-nav > li > a:focus,
.navbar.bbb-navbar-primary .navbar-nav > li > a:hover {
  color: $bend-orange;
}
@media (min-width:768px) {
  .navbar.bbb-navbar-primary .navbar-nav > li > a {
    padding-top: 19px;
    padding-bottom: 7px;
    margin-right: 1px;
  }

  .navbar.bbb-navbar-primary .navbar-nav > li > a.md-last {
    margin-right: 0;
  }

  .navbar.bbb-navbar-primary .navbar-nav > li > a:focus:before,
  .navbar.bbb-navbar-primary .navbar-nav > li > a:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0 0 0 -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $bend-orange;
  }
}
@media (min-width:992px) {
  .navbar.bbb-navbar-primary .navbar-nav > li > a {
    padding-top: 35px;
  }
}

.navbar.bbb-navbar-primary .navbar-nav > li.active > a,
.navbar.bbb-navbar-primary .navbar-nav > li.active > a:focus,
.navbar.bbb-navbar-primary .navbar-nav > li.active > a:hover {
  color: $bend-orange;
}
@media (min-width:768px) {
  .navbar.bbb-navbar-primary .navbar-nav > li.active > a {
    background: 0;
  }

  .navbar.bbb-navbar-primary .navbar-nav > li.active > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0 0 0 -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid darken($bend-orange,10%);
  }
}

.business .navbar.bbb-navbar-primary .navbar-nav > li > a {
  color: #fff;
}

.business .navbar.bbb-navbar-primary .navbar-nav > li > a:focus,
.business .navbar.bbb-navbar-primary .navbar-nav > li > a:hover {
  color: $bend-orange;
}
@media (min-width:992px) {
  .business .navbar.bbb-navbar-primary .navbar-nav > li > a {
    padding-top: 35px;
  }
}
// -------------------------------

.bendMainLargeNav.customLargeNavBar.parbase {
  display: flex;
}

.bend-header {
  border-bottom: solid 3px rgba(0,0,0,.25);
}
// #LEVEL 1 NAV STYLING
// default styling used on custom large nav bar
// -------------------------------

.L1-nav {
  display: inherit;
  z-index: 100;
}

.L1-nav > ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  -moz-box-orient: horizontal;
  width: 100%;
}

.L1-nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  // gets rid of any inherited margins and padding
  font-family: $bend-font-headings;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.L1-nav > ul > li {
  position: relative;
  float: left;
  font-size: 14px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.L1-nav > ul > li > a {
  white-space: nowrap;
  width: auto;
  background-color: $tds-white;
  display: block;
  padding: 14px;
  text-decoration: none;
  color: $tds-dk-gray;
}

.L1-nav > ul > li:focus > a,
.L1-nav > ul > li:hover > a {
  color: $tds-white;
  background: $tds-dkr-gray;
}

.L1-nav > ul > li > a:focus,
.L1-nav > ul > li > a:hover {
  background-color: $tds-dkr-gray;
  color: $tds-white;
}
// the show/hide effects
// the drop-down box

.L1-nav ul ul {
  position: absolute;
  z-index: 200;
  height: 0;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0,0,0,.3);
}

.L1-nav > ul > li > a:focus ul,
.L1-nav > ul > li > a:focus ~ ul,
.L1-nav > ul > li > a:hover ~ ul,
.L1-nav > ul > li:focus ul,
.L1-nav > ul > li:hover ul,
.L1-nav ul ul li a:focus > ul,
.L1-nav ul ul li a:hover > ul,
.L1-nav ul ul li:focus > ul,
.L1-nav ul ul li:hover > ul {
  // display: inline-block; removed via commit #0fc0579 to fix footer hover nav
  height: auto;
}

// unfortunate ie7 gap fix
.ie7 .L1-nav ul ul li {
  margin-bottom: -3px;
}

// drop-down item styles
.L1-nav ul ul li {
  background-color: white;
  overflow: visible;
  button {
    border: 0;
    text-transform: inherit;
    font-weight: 400;
  }
  a, button {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    padding: 10px 12px;
    color: #333;
    background-color: white;
  }
}

.L1-nav ul ul li.divider a,
.L1-nav ul ul li.divider {
    background-color: #d9d9d9;
    height: 1px;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
    &:hover {
      background-color: #d9d9d9;
    }
}

.L1-nav ul ul li:focus,
.L1-nav ul ul li:hover {
  background-color: $bend-orange;
  color: white;
  a, button {
    background-color: $bend-orange;
    color: white;
  }
}

.top-bar .L1-nav.bend-nav-lg > ul {
  display: block;
  border-bottom: none;

  > li {
    > a {
      background-color: transparent;
      height: 44px;
      font-weight: 300;
      font-size: 12px;

      &:after {
        background: none;
        padding-right: 0;
        margin-left: 0;
      }
    }
  }
  ul li a {
    font-size: 12px;
    padding: 8px 12px;
  }
}

.bendMainLargeNav .L1-nav.bend-nav-lg > ul {
  border-bottom: none;

  > li {
    &.active,
    &:hover {
      > a {
        color: $bend-orange;
      }
    }

    > a {
      color: #585852;
      background: none;
      padding: 6px 12px;
      font-weight: 600;
      font-size: 18px;

      &:active,
      &:hover {
        color: $bend-orange;
      }
    }
  }
}

.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li > a:focus ul,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li > a:focus ~ ul,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li > a:hover ~ ul,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li:focus ul,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li:hover ul,
.bendMainLargeNav .L1-nav.bend-nav-lg ul ul li a:focus > ul,
.bendMainLargeNav .L1-nav.bend-nav-lg ul ul li a:hover > ul,
.bendMainLargeNav .L1-nav.bend-nav-lg ul ul li:focus > ul,
.bendMainLargeNav .L1-nav.bend-nav-lg ul ul li:hover > ul {
  // display: inline-block; removed via commit #0fc0579 to fix footer hover nav
  height: auto;
  border-top: 3px solid darken($bend-orange,10%);
}

.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li > a:focus:before,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li > a:hover:before,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li.active > a:before,
.bendMainLargeNav .L1-nav.bend-nav-lg > ul > li:hover > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid darken($bend-orange,10%);
}

.bendMainLargeNav .L1-nav.bend-nav-lg ul ul {
  li {
    background-color: $bend-orange;

    &:hover {
      background-color: #47473d;
    }

    a {
      background-color: $bend-orange;
      border-top: none;
      color: #FFF;
      margin: 0;
      padding: 10px 12px;

      &:focus,
      &:hover {
        background-color: #47473d;
      }
    }
  }
}

.bend-logo-wrap {
  a.navbar-brand {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .bend-contact-links {
    margin-top: 28px;

    > li > button {
      background-color: transparent;
      border: 0;
      padding: 10px;
    }

     > li > button,
    > li > a {
      color: $bend-gray;
      font-size: 14px;
      font-weight: 400;

      &:focus,
      &:hover {
        background: $bend-orange;
        color: white;
        border-radius: 3px;

        > .ss-icon,
        > .link-item-cssIcon {
          color: white;
        }
      }

      > .ss-icon,
      > .link-item-cssIcon {
        color: $bend-orange;
      }
      > .link-item-cssIcon:before {
        top: 1px;
        position: relative;
      }

    }
  }
}
