/* bend-lists
==========================================*/
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    font-size: 14px;
    line-height: 24px;
}

.tds-card ul.bullets li {
    font-size: 14px;
}

.tds-card ul.bullets {
    margin-top: .5em;
}
/* #RIGHT COLUMN/MAIN CONTENT BULLETS
--------------------------------- */

.column-right > ul,
ul.bullets {
    margin: 1em 0 1em 0;
    color: $bend-gray;
}

/* first level */

.column-right > ul,
ul.bullets {
    margin: 1em 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
}
.column-right > ul li,
ul.bullets li {
    margin: 0 0 .25em 1em;
    padding-left: 1em;
    background: url('../images/ui/square-orange.svg') no-repeat 0px .5em;
    background-size: .5em .5em;
    font-size: 16px;
}

/* second level */

.column-right > ul ul,
ul.bullets ul {
    margin: .5em 0 0 0;
    padding: 0;
    list-style-type: none;
}
.column-right > ul li li,
ul.bullets li li {
    margin: 1em;
    padding-left: 1em;
    margin-bottom: .5em;
    background: url('../images/ui/circle-gray.svg') no-repeat 0px .5em;
    background-size: .5em .5em;
}

.pagelayout ul {
  margin: 16px 0 16px 36px;
  li {
    font-size: 16px;
    &:before {
      background: #ff7700;
      margin-top: 7px;
      content: "";
      position: relative;
      top: 0;
      display: block;
      float: left;
      width: 8px;
      height: 8px;
      margin-left: -18px;
    }
    li {
      &:before {
        background: #000;
      }
      li {
        &:before {
          background: #999;
        }
      }
    }
  }
}

.bendbroadband-content .pagelayout ol {
  counter-reset: li;
  margin-bottom: 24px;
  margin-left: 12px;
  > li {
    display: block;
    padding: 0;
    margin: 16px 0 8px 36px;
    color: #555;
    text-decoration: none;
    position: relative;
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: -2px;
      left: -40px;
      text-align: center;
      border-radius: 2em;
      color: white;
      background: #ff7700;
      height: 2em;
      width: 2em;
      line-height: 2em;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
    }
  }
}
.bendbroadband-content .tds-content-rich ol li ol li:before {
  content: counter(li, lower-alpha);
  background: #777;
}
.bendbroadband-content .panel ul ul,
.bendbroadband-content .tds-content-rich ul ul {
  margin: 8px 0 8px 36px;
}

.bendbroadband-content .panel ul ul ul,
.bendbroadband-content .tds-content-rich ul ul ul {
  margin: 8px 0 8px 36px;
}

/* UNSTYLED LIST */
/*========================*/
.bendbroadband-content .pagelayout .list-unstyled li:before {
  background: none;
  width: 0;
  height: 0;
  margin-left: 0;
}

.bendbroadband-content .tds-content-rich ul.list-unstyled {
  margin-left: 0;
}

.bendbroadband-content .tds-content-rich .list-unstyled li {
  margin-bottom: 6px;
}

/* LIST-CHECKMARK */
/*========================*/
ul.list-checkmark {
  margin: 16px 0 16px 26px;
  > li {
    line-height: 32px;
    &:before {
      @include ssstandard-font;
      content: '\2713';
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      top: -3px;
      border: solid 2px #ff7700;
      border-radius: 50%;
      height: 22px;
      width: 22px;
      background: white;
      margin-right: 6px;
      color: #ff7700;
    }
  }
  &.tds-lt-blue > li:before {
    color: #64bfd3;
    border-color: #64bfd3;
  }
}
