/* bend-cards
==========================================*/
.tds-card {
    margin-bottom: 18px;
}
.tds-card-border {
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 18px;
}
.tds-card-gray {
    background: #ddd;
    border-radius: 8px;
    border-bottom: 0;
    padding: 12px;
}
