/* bend-color-blocks.scss
==========================================*/

.bg-orange {
  background: #ff7700;
}
.contactUsCard .bg-orange .tds-card-heading {
  color: #ffffff;
}

.bg-orange p {
  color: #ffffff;
}

.tds-block-orange {
  background-color: #ff7700;
}

.tds-block-orange a {
  color: white;
}

/* END bend-color-blocks.scss */
