/* bend-cards.scss
==========================================*/
.tds-card {
  margin-bottom: 18px;
  border: 1px solid silver;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0;
  h4 {
      margin: 0;
  }
  .alert {
    margin-bottom: 0;
  }
  .tds-card-heading {
    color: #737373;
    margin-bottom: 14px;
    font-size: 26px;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.tds-card-border {
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 18px;
}

.tds-card-gray,
.pagelayout .tds-card.tds-card-gray {
    background-color: #5a5a4d;
    border-radius: 4px;
    padding: 20px;
}
.tds-card.tds-card-gray {
  .tds-card-heading {
      font-size: 22px;
      line-height: 28px;
  }
  h2 {
     color: white;
     font-weight: 500;
  }
  .tds-card-content {
    p {
      color: white;
      font-weight: 200;
    }
  }
}
