/* bend-buttons
==========================================*/
.btn {
    text-transform: uppercase
}
.btn-inverse {
    color: #e6e6e6;
    background: 0;
    border-color: #e6e6e6
}
.btn-inverse:focus, .btn-inverse:hover {
    color: #fff;
    border-color: #fff
}
