/* bend-modals
==========================================*/
.modal-title {
    font-size: 24px;
    font-weight: 500;
}
.modal-body {
    padding: 0 15px;
    font-weight: 500;
}
.modal-header {
    padding: 15px 15px 0 15px;
}
