/* bend-icons
==========================================*/
.bend-nav-mobile .ss-icon {
    margin-right: 8px;
    font-size: 12px;
}
/* bend-biggie-pix
-------------------*/
.biggie-pix {
    font-size: 56px;
    float: left;
    padding-right: 10px;
    margin-top: -8px
}
.biggie-pix.icon-biggie-beer {
    padding-left: 10px;
    padding-right: 20px
}
.biggie-pix.icon-biggie-check {
    padding-right: 7px
}
.biggie-pix.icon-biggie-bundle {
    margin-top: -9px;
    font-size: 58px;
    padding-left: 5px;
    padding-right: 20px
}
.biggie-pix.icon-biggie-internet {
    margin-top: -2px;
    font-size: 44px
}
.biggie-pix.icon-biggie-tv {
    margin-top: -6px;
    padding-right: 12px;
    font-size: 50px
}
.biggie-pix.icon-biggie-phone {
    margin-top: -6px;
    padding-right: 12px;
    font-size: 48px
}
@media (max-width:991px) {
    .biggie-pix {
        display: none
    }
}

// icons being used in self id page buttons
.icon-location:before,
.fa-user:before {
    margin-right: 8px;
}
.icon-location:before, {
  content:"\E6D0"
}

.tds-icon-pencil {
  background: #64bfd3;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 12px;
  &:hover {
    background: #318CA0;
    color: white;
  }
  &:before {
    content: "\270E";
    @include ssstandard-font;
  }
}

#emptyCartButton:before, #emptyCartButton:after, .tds-icon-trash:before {
  @include ssstandard-font;
}

.tds-icon-trash:before, #emptyCartButton:before {
  content: "\2421";
}

#emptyCartButton:after {
  content: "\e500";
  margin-left: 8px;
  margin-right: 0;
}

.tds-icon-trash, #emptyCartButton {
  background: #518eaa;
  color: white;
  float: right;
  padding: 8px 12px!important;
  border-radius: 2px;
  text-transform: uppercase;
}

.tds-icon-trash:hover, #emptyCartButton:hover {
  background: #387591;
  color: white;
}
span.tds-icon.tds-icon-search:before {
  @include ssstandard-font;
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  content: 'ðŸ”Ž';
  font-size: 16px;
  line-height:inherit;
  display: inherit;
  margin-right:0;
}
/* END bend-icons */
