/* bend-forms
==========================================*/
.help-text {
  font-size: 12px;
  font-style: italic;
  margin-top: 4px;
}

.hint-block {
  font-size: 13px;
  color: $bend-gray;
}

.has-error .help-text {
  color: #FF4D50;
  display: block;
  font-weight: 700;
}

.has-error .help-text.form-hint,
.help-text.form-hint {
  color: $bend-gray;
  font-weight: 500;
}

.form-control {
  height: 44px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &:focus {
    border-color: $bend-lt-blue;
    border-width: 2px;
    outline: 0;
    -webkit-box-shadow: 0 0 3px rgba(100,191,211, .6);
    box-shadow: 0 0 3px rgba(100,191,211, .6);
  }
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
input,
input.form-control {
  font-size: 16px;
  font-family: $bend-font-body;
  color: black;
  font-weight: 700;
}
.tds-form-group input,
.tds-form-group select,
input.form-control {
  border: solid 2px silver;
  border-radius: 2px!important;
}
label {
  font-weight: 700;
  font-family: $bend-font-headings;
  color: $bend-dk-gray;
  font-size: 13px;
}
span.tds-radio-btn {
    border: solid 2px silver;
}
label:hover .tds-radio-btn {
  border: solid 3px #f70;
}

label input:focus ~ .tds-radio-btn {
  border-color: #f70;
}

input[type="checkbox"] + .tds-radio-btn {
  border-radius: 2px;
}

input:checked + .tds-radio-btn {
  background: #8dc73f;
  border: 3px solid #8dc73f;
}
span.tds-radio-btn {
  position: relative;
}

.label-text > span > p {
  margin-top: 0;
}

.tds-form-group .help-block {
  font-size: 14px;
}

label:hover > .label-text {
  color: #f70;
}
label:hover input:checked + .tds-radio-btn {
    background: #f70;
    border-color: #f70;
}
.form-group.tds-form-group.has-error input,
.form-group.tds-form-group.has-error select,
.form-group.tds-form-group.has-error textarea {
  background: #FFE6E9;
  border-color: #FF4D50!important;
}

.form-group.has-error > label {
  color: #FF4D50;
}

.form-group.tds-form-group.has-error span.help-block {
  margin-top: 10px;
  color: #FF4D50;
}

.form-group.has-error input,
.form-group.has-error select,
.form-group.has-error textarea {
  background: #FFE6E9;
  border-color: #FF4D50!important;
}
@media (max-width:400px) {
  .checkbox label,
  .radio label {
    padding-left: 0;
  }
}

.checkbox+.checkbox,
.radio+.radio {
  margin-top: 0;
}

select.form-control {
  border-radius: 2px!important;
  background-image: none;
  background-image: url("/content/dam/tdstelecom/images/ui/arrows/down-caret-gray.svg");
  border-color: silver;
}
