/* bend-layout
==========================================*/
// use this to address layout issues fixes that are sitewide
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    zoom: 1;
}
/* IE6 */
*:first-child+html .clearfix {
    zoom: 1;
}
@media (min-width: 960px) {
  .container,
  .tds-width-container,
  .multiPathSearch,
  .multiPathSearch {
    width: 100%;
    max-width: 1120px;
  }
}
/* #VISIBILITY
--------------------------------- */
.lg-visible {
    display: block;
}
.xs-visible {
    display: none;
}
@media all and (max-width: 40em) {
    .lg-visible {
        display: none;
    }
    .xs-visible {
        display: block;
    }
}
