/* bend-tables
==========================================*/
.table>tbody>tr>td {
    vertical-align: middle;
}
thead {
    font-family: "Museo W01";
    font-weight: 700;
}
tbody {
    border-bottom: solid 1px #ddd;
}
.table, .dataTable {
    width: 100%;
}
.table th, .dataTable th {
    color: #000;
    font-size: 16px;
    background: transparent;
    padding: 8px;
    font-weight: 700;
}
.table td {
  font-size: 16px;
}
.table td, .dataTable td {
    padding: 8px;
    vertical-align: middle;
}
.table tr, .dataTable tr {
    border-bottom: solid 1px #ddd;
}
.table tr, .dataTable thead tr {
    border-bottom: solid 2px #ddd;
    border-top: solid 2px #ddd;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 7px;
    right: 8px;
    display: block;
    opacity: 1;
    content: "";
    background-size: 11px;
    background-position: left center;
    background-repeat: no-repeat;
    height: 24px;
    width: 18px;
}
table.dataTable thead .sorting:after {
  background-image: url('../images/ui/icon_ui-table-sort-bend.svg');
}
table.dataTable thead .sorting_desc:after {
  background-image: url('../images/ui/icon_ui-table-sort-descend-bend.svg');
}
table.dataTable thead .sorting_asc:after {
    background-image: url('../images/ui/icon_ui-table-sort-ascend-bend.svg');
}
div.dataTables_length select {
    border: solid 2px #ccc;
    background-color: #fff;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 8px;
    font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
    font-weight: 200;
    font-style: normal;
    color: $bend-dk-gray;
    width: auto;
    text-align: center;
    background-position: 85% 50%;
}
div.dataTables_length label {
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    padding-top: 0;
}

/* RESPONSIVE TABLE
-------------------*/
.tds-responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
}
@media (min-width: 751px) {
    .tds-responsive-table {
        font-size: 1em;
    }
}
.tds-responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media (min-width: 584px) and (max-width:640px) {
    .tds-responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
@media (min-width:790px) {
    .tds-responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
.tds-responsive-table thead th:first-of-type {
    text-align: left;
}
.tds-responsive-table tbody, .tds-responsive-table tr, .tds-responsive-table th, .tds-responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
.tds-responsive-table th, .tds-responsive-table td:before {
    color: #585852;
    text-align: left;
}
.tds-responsive-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 584px) and (max-width:640px) {
    .tds-responsive-table tr {
        display: table-row;
    }
}
@media (min-width:790px) {
    .tds-responsive-table tr {
        display: table-row;
    }
}
.tds-responsive-table th, .tds-responsive-table td {
    padding: .5em;
    vertical-align: middle;
}
@media (min-width:584px) and (max-width:640px) {
    .tds-responsive-table td:before {
        display: none;
    }
    .tds-responsive-table th, .tds-responsive-table td {
        display: table-cell;
        padding: .5em;
    }
}
@media (min-width:790px) {
    .tds-responsive-table td:before {
        display: none;
    }
    .tds-responsive-table th, .tds-responsive-table td {
        display: table-cell;
        padding: .5em;
    }
}
@media (min-width: 751px) {
    .tds-responsive-table th, .tds-responsive-table td {
        padding: .75em .5em;
    }
}
@media (min-width: 960px) {
    .tds-responsive-table th, .tds-responsive-table td {
        padding: .75em;
    }
}
.tds-responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 751px) {
    .tds-responsive-table caption {
        font-size: 1.5em;
    }
}
.tds-responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
}
@media (min-width: 751px) {
    .tds-responsive-table tfoot {
        font-size: .9em;
    }
}
@media (min-width: 584px) {
    .tds-responsive-table tbody {
        display: table-row-group;
    }
}
.tds-responsive-table tbody tr {
    margin-bottom: 1em;
}
@media (max-width: 584px) {
    .tds-responsive-table tbody tr {
        border: 2px solid #ccc;
    }
}
@media (min-width: 640px)and (max-width:790px) {
    .tds-responsive-table tbody tr {
        border: 2px solid #ccc;
    }
}
@media (min-width: 584px) and (max-width:640px) {
    .tds-responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}
@media (min-width:790px) {
    .tds-responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}
.tds-responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
    border-bottom: 2px solid #ccc;
}
.tds-responsive-table tbody tr th:first-child {
    vertical-align: middle;
    border-bottom: solid 2px $bend-ltr-gray !important;
}
@media (min-width: 584px) {
    .tds-responsive-table tbody th[scope="row"] {
        text-align: left;
    }
}
.tds-responsive-table tbody td {
    text-align: left;
}

.tds-responsive-table tbody td {
    border-bottom: 1px solid #ddd;
}

.tds-responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .85em;
    color: #999;
}
@media (min-width: 584px) {
    .tds-responsive-table tbody td[data-title]:before {
        font-size: .9em;
    }
}
@media (min-width: 584px) {
    .tds-responsive-table tbody td[data-title]:before {
        content: none;
    }
}
