/* bend-forms
==========================================*/

/* #FORMS/INPUTS
--------------------------------- */

.form-control {
    height: auto;
    border-radius: 3px;
    box-shadow: none;
}
label {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: .75em;
    color: #555555;
    padding-top: 28px;
    margin-bottom: 12px;
}
.form-group label {
    padding-top: 12px;
}
.form-cta {
    margin-top: 18px;
}
.checkbox-label {
    margin-left: 25px;
    margin-top: -18px;
    font-weight: 200;
    font-style: normal;
    color: #353535;
    line-height: 120%;
}
input, button, select {
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 14px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
input[type=password], input[type=text] {
    font-weight: 500;
    font-style: normal;
    color: #000;
    border: solid 2px #ccc;
    width: 100%;
}
button[disabled], html input[disabled] {
    cursor: default;
    background: #ccc;
    color: #666;
}
input[type=password]:focus, input[type=text]:focus {
    outline: none;
    border: solid 2px #309CF4;
}
@media (max-width: 768px) {
    input[type=password], input[type=text] {
        width: 100%;
    }
}
select, select.form-control {
    padding: 14px;
    padding-right: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border: solid 2px #ccc;
    border-radius: 3px;
    background-color: #ddd;
    width: 75%;
    white-space: inherit;
    background-image: url('../images/ui/down-arrow-black.svg');
    background-size: 11px 16px;
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
.tds-ut-text-notifications select.form-control, .tds-ut-text-notifications input.form-control {
    width: 100%;
}
select:focus {
    border: solid 2px #518eaa;
}
@media (max-width:640px) {
    select {
        width: 100%;
    }
}
.mafco-form-input {
    max-width: 360px;
}
/* #BUTTONS
--------------------------------- */

input[type=submit], input[type=reset], button, .button {
    font-family: "Museo W01", Museo, Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #f70;
    border: solid 1px #f70;
    border-radius: 3px;
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
}
input[type=submit], input[type=reset] {
    width: 100px;
}
input[type=submit] {
    margin-top: 16px;
    margin-bottom: 40px;
}
.form-cta input+input {
    margin-left: 20px;
}
input.button:first-child {
    margin-right: 18px;
}
button {
    width: auto;
}
input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover, input[type=submit]:focus, input[type=reset]:focus, button:focus, .button:focus {
    background-color: #d66400;
    border: solid 1px #c25a00;
    color: white;
    text-decoration: none;
}
@media all and (max-width: 20em) {
    input[type=submit], input[type=reset], button, .button {
        width: 100%;
        padding: 8px 10px;
    }
}
button[disabled], html input[disabled], .form-control[disabled] {
    border-color: #ccc;
    cursor: text;
    background: #ccc;
    color: #666;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button[disabled]:hover, html input[disabled]:hover {
    border-color: #ccc;
    cursor: text;
    background: #ccc;
    color: #666;
}
.mafco-body-btn {
    margin-top: 2em;
}
.btn {
    font-family: "Museo W01", Museo, Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    padding: 6px 12px 4px;
}
.btn-primary {
    color: #fff;
    background-color: #f70;
    border-color: #f70;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d66400;
    border-color: #c25a00;
}
.superfoot .btn-primary {
    margin: 10px 0 0 -10px;
}

/*add spacing if buttons are next to each other*/

button + button, .button + .button {
    margin-left: 10px;
}
@media (max-width: 320px) {
    button + button, .button + .button {
        margin-left: 0px;
        margin-top: 16px
    }
}
.button.button-secondary {
    color: black;
    background: white;
}
.button.button-secondary:hover, .button.button-secondary:focus {
    background-color: #bbb;
    color: #000;
    text-decoration: none;
}

/*button icon sizes*/

.button span.ss-icon.ss-standard {
    font-size: 10px;
    margin-right: 5px;
}
.button-ltblue {
    background-color: #31b0d5;
    border: solid 1px #269abc;
    color: white;
    text-decoration: none;
}
.button-ltblue:hover, .button-ltblue:focus {
    background-color: #5bc0de;
    color: white;
    border: solid 1px #46b8da;
}
.tds-card.account-settings-card button {
    display: block;
    margin-left: 0;
    margin-top: 18px;
    width: 60%;
}
@media (max-width: 768px) {
    .tds-card.account-settings-card button {
        width: 100%;
    }
}
.comport-button {
    width: 30px;
    height: 35px;
    margin: 5px;
    font-size: 0.9em ;
    padding: 0 ;
}
.comport-button:hover {
    background-color: #f70;
    color: #ffffff;
}
#changeNameLink.visible span.caret {
    border-bottom: 4px solid;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: top;
    margin-top: 4px;
}

/* #RADIO BUTTONS and CHECKBOXES
--------------------------------- */

input[type=radio][disabled]:checked ~ .tds-radio-btn, input[type=checkbox][disabled]:checked ~ .tds-radio-btn {
    background-color: #bbb;
    border: 3px solid #bbb;
}
input[type=radio][disabled]:focus ~ .tds-radio-btn ~ .label-text, input[type=radio][disabled]:hover ~ .tds-radio-btn ~ .label-text, input[type=checkbox][disabled]:focus ~ .tds-radio-btn ~ .label-text, input[type=checkbox][disabled]:hover ~ .tds-radio-btn ~ .label-text {
    color: #555;
}
label:hover input[type=checkbox]:focus ~ .tds-radio-btn input[type=radio]:focus, input[type=checkbox]:focus {
    outline: none;
}
input[type=radio]:checked ~ .tds-radio-btn, input[type=checkbox]:checked ~ .tds-radio-btn {
    background-color: #31b0d5;
    border: 3px solid #31b0d5;
}
input[type=radio]:checked:hover ~ .tds-radio-btn, input[type=radio]:hover ~ .tds-radio-btn, input[type=radio]:checked:focus ~ .tds-radio-btn, input[type=radio]:focus ~ .tds-radio-btn, input[type=checkbox]:checked:hover ~ .tds-radio-btn, input[type=checkbox]:hover ~ .tds-radio-btn, input[type=checkbox]:checked:focus ~ .tds-radio-btn, input[type=checkbox]:focus ~ .tds-radio-btn {
    background-color: #31b0d5;
    border: 3px solid #31b0d5;
}
input[type=radio]:focus ~ .tds-radio-btn ~ .label-text, input[type=radio]:hover ~ .tds-radio-btn ~ .label-text, input[type=checkbox]:focus ~ .tds-radio-btn ~ .label-text, input[type=checkbox]:hover ~ .tds-radio-btn ~ .label-text {
    color: #f70;
}
label:hover input[type=radio]:checked ~ .tds-radio-btn, label:hover input[type=radio] ~ .tds-radio-btn, label:hover input[type=radio]:checked:focus ~ .tds-radio-btn, label:hover input[type=radio]:focus ~ .tds-radio-btn, label:hover input[type=checkbox]:checked ~ .tds-radio-btn, label:hover input[type=checkbox] ~ .tds-radio-btn, label:hover input[type=checkbox]:checked:focus ~ .tds-radio-btn, label:hover input[type=checkbox]:focus ~ .tds-radio-btn {
    background-color: #f70;
    border: 3px solid #f70;
}
.radio input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    left: 20px;
    top: 12px;
    height: 21px;
    width: 21px;
    padding: 0;
}
.tds-radio-btn {
    display: block;
    position: relative;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    background-color: white;
    height: 20px;
    width: 20px;
    top: 16px;
    left: -27px;
    z-index: 5;
}
input:checked + .tds-radio-btn:before {
    content: "";
    position: absolute;
    margin: 2px 1px;
    height: 7px;
    width: 11px;
    background: transparent;
    border: 3px solid white;
    border-top-style: none ;
    border-right-style: none ;
    border-radius: 0;
    transform: rotate(-45deg);
}
.radio label {
    padding-top: 18px;
    padding-left: 28px;
    line-height: 1em;
}
span.tds-radio-btn.check-radio-btn {
    border-radius: 0;
}
.checkbox-inline {
    margin-right: 20px;
}
input[type=checkbox] {
    padding: 0;
    position: relative;
    top: 32px;
    left: -4px;
}

/* #USERS PAGE
--------------------------------- */
#usersTable th:first-child {
    width: 60%;
}
table.table.editUser-table-form .radio-inline {
    margin-bottom: 10px;
}
.username-card #addNewUser .form-group input {
    width: 100%;
}
.tds-card.username-card .tds-form-group .form-control {
    width: 100%;
}
@media (max-width: 500px) {
    .editUser-table-form label.radio-inline {
        display: block;
        margin-left: 0;
        margin-bottom: 18px;
    }
    .table.editUser-table-form td {
        vertical-align: top;
    }
}
div#userNameDiv {
    margin-top: 32px;
}
#userNameForm input#currentusername {
    margin-top: 0;
    /* width: 100%; */
    display: block;
}
div#searchCurrentUsers input {
    width: 100%;
    border: none;
    background: white;
}
div#searchCurrentUsers label:first-child {
    padding-top: 0px;
}

div#searchCurrentUsers {
    position: relative;
    margin-bottom: 0;
}
#searchCurrentUsers span.fa.fa-search {
    color: #f70;
    position: absolute;
    top: 38px;
    left: 12px;
    font-size: 14px;
}
#searchCurrentUsers button {
    border-radius: 50%;
    position: absolute;
    top: 33px;
    right: 12px;
    background: none;
    color: #555;
}
input#searchUsers {
    padding-left: 36px;
}
#div#searchCurrentUsers input {
    padding-left:20px;
}
@media (max-width: 20em) {
    #searchCurrentUsers button {
        width: auto;
        padding:4px 6px;
    }
}
.mafco-form-input #domain {
    font-weight: 600;
    font-size: 16px;
}
/* #SECURITY QUESTIONS FORM
--------------------------------- */

@media screen and (max-width: 585px) {
    #security_question1-menu, #security_question2-menu, #security_question3-menu {
        width: auto ;
    }
}
#security_question1-button, #security_question1-menu, #security_question2-button, #security_question2-menu, #security_question3-button, #security_question3-menu {
    padding: 14px;
    font-style: normal;
    font-size: 14px;
    border: solid 2px #e3e3e3;
    width: auto;
    border: solid 1px #f70;
    font-family: "Museo W01";
    font-weight: 700;
    width: 100%;
}
#security_question1-button:focus, #security_question2-button:focus, #security_question3-button:focus {
    border: solid 2px #518eaa;
}
ul#security_question1-menu {
    margin-top: -3px;
    border-color: black;
}
input#security_answer3 {
    border-radius: 0;
    box-shadow: none;
}
label[for=security_question1-button], label[for=security_answer1], label[for=security_question2-button], label[for=security_answer2], label[for=security_question3-button], label[for=security_answer3] {
    /* margin-top: -1.25em; */
}
label[for=security_question1-button], label[for=security_question2-button], label[for=security_question3-button] {
    font-size: 16px;
    color: black;
}
.ui-dialog-titlebar-close {
    width: auto ;
    font-size: 0.6em ;
}
div.ui-selectmenu-open ul {
    width: 100%;
}
div.mafco-form-input ui-selectmenu-button {
    width: 100%;
}
.down-arrow-ltblue {
    background-image: url('../images/ui/down-arrow-black.svg');
    background-position: center right;
    background-repeat: no-repeat;
}
.ui-selectmenu-button {
    border-radius: 3px;
}
span.ui-icon2.down-arrow-ltblue {
    width: 13px;
}
.ui-menu.ui-widget.ui-widget-content {
    margin-top: -3px;
    border: solid 1px #000;
    padding: 14px;
    font-size: 14px;
    font-family: "Museo W01"
}
.ui-selectmenu-button {
    padding: 15px;
    font-style: normal;
    font-size: 14px;
    border: solid 2px #e3e3e3;
    width: auto;
    border: solid 1px #f70;
    font-family: "Museo W01";
    font-weight: 500;
    display: block;
    color: #555
}

.ui-selectmenu-button:hover, .ui-selectmenu-button:focus, .ui-selectmenu-button:active {
    color: #fff
}
/* #PASSWORD FORM
--------------------------------- */

label[for=newPassword], label[for=retypePassword] {
    /* margin-top: -1.25em; */
}
input#newPassword {
    /* margin-top: -14px; */
}

/* #USERNAME FORM
--------------------------------- */

label[for=currentusername], label[for=username] {
    /* margin-top: -1.25em; */
}
input#currentusername, input#username {
    /* margin-top: -18px; */
}

/* #EDIT USER FORM
--------------------------------- */

.username-display {
    margin-bottom: 8px;
}
.editUser-section a {
    text-decoration: underline;
}
.editUser-section .account-settings-card .button {
    text-decoration: none;
    display: block;
    max-width: 340px;
    margin-left: 0;
    margin-top: 18px;
}
span.help-text.email-domain {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: -8px;
}
span#loginNameText {
    font-size: 18px;
    font-weight: 500;
}
#changeNameLinkDiv {
    margin-bottom: 16px;
}
div#generateNameLinkDiv {
    margin-top: 18px;
}
div#generateNameTextDiv {
    margin-top: 18px;
}
div#nameRecommendationDiv {
    margin-top: 18px;
    margin-bottom: 0;
}
form#nameRecommendation {
    padding-left: 20px;
}
form#nameRecommendation > .radio:first-child {
    margin-top: 0;
}

.editUser-table-form label.radio-inline {
    padding-top: 0;
}
.editUser-table-form .radio-inline input[type=radio] {
    padding: 0;
    position: relative;
    top: 32px;
    left: -4px;
}
.editUser-table-form label.radio-inline {
    margin-right: 20px;
    margin-top: -23px;
}
#nameRecommendationDiv label {
    padding-top: 0;
}
.email-form-group .form-group.tds-form-group {
    margin-bottom: 0;
}
table.table.editUser-table-form thead tr th:first-child {
    width: 65%;
}
table.table.editUser-table-form thead tr th:last-child {
    padding-left:0px;
}
#emailUsername .tds-form-group {
    margin-bottom: 0;
}
.hr-ltblue + .form-cta .button {
    margin-top: 0;
}
