/* bend-selfID.scss
==========================================*/

.selfid {
  margin-bottom: 36px;
  .page-intro {
    color: #518eaa;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .tds-card-gray {
    .tds-card-content {
      margin-bottom: 26px;
    }
  }
}
