/* tds-biz-channel-lineup
==========================================*/

.channelLineupResults h4 {
    margin-bottom: 20px;
    line-height: 29px;
    font-size: 18px;
}

.channel-filter button#dropdownMenu1 {
    text-align: left;
    background: #19388a;
    color: white;
}

.channelLineupResults #DataTables_Table_0_wrapper {
    margin-top: 24px;
}

.tds-tv-channel-lineup > .row {
    margin: 0;
}

.tds-card.tds-tv-channel-legend {
    float: none;
}

/* END tds-biz-channel-lineup.scss */
