/* tds-biz-buttons
==========================================*/
.gallery-btn {
    text-align: center;
}
.gallery-btn:after {
    background-image: url("/content/dam/tdstelecom/images/ui/arrows/right-caret-white.svg");
}

.shift-up button.gallery-btn.btn-block.tds-btn-plain {
    text-align: left;
}

// buttons in agent promos getting cut off at bottom
.tds-news-feed-parsys .navbutton>.gallery-btn {
  margin-bottom: 3px;
}
.tds-block-lt-blue .gallery-btn:hover {
  background-color: #4760A1;
}
.loginForm .tds-card #loginForm button.gallery-btn:hover {
  background: #C8600B !important;
}
