/* tds-biz-card
==========================================*/
.tds-card {
    border: none;
    background-color: #e3e3e3;
    padding: 20px;
}
.tds-card.card-horizontal,
.tds-card.card-image-first {
    padding: 0;
}
.tds-card.card-image-first .tds-card-heading {
    text-align: left;
}
.contactcard .gallery-btn {
    margin-bottom: 16px;
}
.contactcard .gallery-btn:last-child {
    margin-bottom: 0;
}
.contactcard .gallery-btn {
    text-align: left;
}
.contactcard .gallery-btn:after {
    content: none;
}
.contactUsCard .tds-well.well.tds-card-well {
    background-color: white;
}
.tds-card-cta .navbutton {
    margin-top: 20px;
}

//match cards on homepage*/
.home-block .contactUsCard .tds-card-content > .card_content > .navbutton:first-child > .gallery-btn {
    margin-top: 0;
}
