/* tds-cable-errors-alerts-warnings.scss
==========================================*/

//user display greeting, typically found at the top of every page
.shopperId .tds-error-msg.tds-error-info {
    margin-bottom: 0;
}

.tds-alert {
  padding: 15px;
}
.userGreeting .tds-error-msg,
.userGreeting .tds-alert {
    margin-bottom: 0;
}
.userGreeting .container {
    padding: 0;
}
