/* tds-cable-errors-alerts-warnings.scss
==========================================*/

.tds-alert {
  padding: 15px;
}

 .container.warning-cartEmpty,
 .container.tds-alert.tds-alert-critical {
  max-width: 100%;
  padding: 15px 15px 5px 15px;
  p {
    line-height: 1.5em;
    font-size: 14px;
  }
  a {
    color: $tds-dk-gray;
    &:hover, :focus {
      color: $cable-dk-blue;
    }
  }
}

.container.warning-cartEmpty {
  background-color: $state-warning-bg;
}

.tds-alert.tds-alert-warning,
.tds-alert.tds-alert-critical {
  background-image: none ;
  border-left: 0px;
  padding-left: 0px;
  .col-md-9.col-sm-7.col-xs-12, .col-md-3.col-sm-5.col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }

  a {
      color: #0C8FD0;
    }

  a.gallery-btn.pull-right {
    margin-top: 0;
    color: $tds-white;
    text-decoration: none;

    @media (max-width: 750px) {
      float: left!important;
      margin-top: 10px;
    }
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  p:last-child {
    margin-bottom: 0
  }
}


.tds-alert.tds-alert-critical {
  border-top: 3px solid $tds-red;

  .container {
    background-color: $tds-critical-bg;
    background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-error.svg);
    background-size: 22px 22px;
    background-position: 16px 0px;
    background-repeat: no-repeat;
    padding-left: 52px;
    a {
      color: $tds-red;
      &:hover, :focus {
        color: #991419;
      }
    }

    ul li {
      list-style-type: square;
      display: list-item;
    }
  }
}


.container .tds-alert.tds-alert-critical {
  border-left: 3px solid $tds-red;
  border-top: 0px;
  background-color: $tds-critical-bg;
  background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-error.svg);
  background-size: 22px 22px;
  background-position: 16px;
  background-repeat: no-repeat;
  padding-left: 50px;

    a {
      color: $tds-red;
      &:hover, :focus {
        color: #991419;
      }
    }

    ul li {
      list-style-type: square;
      display: list-item;
    }
  }


.container tr.tds-alert.tds-alert-critical {
  border-top: none;
  font-size: inherit;
  font-weight: normal;
  background-image: none ;

  td:first-child:before  {
  content: "";
  position: relative;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-error.svg) ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-right: 15px
  }
}

  .tds-alert.tds-alert-warning {
    border-top: 3px solid #FFCE00;

    .container {
      background-color: $state-warning-bg;
      background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-warning.svg);
      background-size: 22px 22px;
      background-position: 16px 0px;
      background-repeat: no-repeat;
      padding-left: 52px;

        ul li {
        list-style-type: square;
        display: list-item;
      }
    }
  }


.container .tds-alert.tds-alert-warning  {
  border-left: 3px solid #FFCE00;
  border-top: 0px;
  background-color: $state-warning-bg;
  background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-warning.svg);
  background-size: 22px 22px;
  background-position: 16px;
  background-repeat: no-repeat;
  padding-left: 50px;
}


//Data picker
.datepicker-switch {
  color:red;
}
