/* tds-cable-page-banner.scss
==========================================*/

.cws-content {
  .tds-page-banner {
      padding-left: 0;
      padding-right: 0;
      div#page-banner {
          border-top: 0;
          border-bottom: 0;
      }
      div#banner-overlay {
          display: none;
      }
      .banner-image {
          background-color: #eaeef5;
          background-size: auto 100% !important;
          background-position: 20% top;
      }
      .banner-content {
          display: table-cell;
          height: 320px;
          vertical-align: middle;
          width: 100%;
          max-width: 600px;
          h1.banner-title {
              border-bottom: 0;
              padding-bottom: 0;
          }
      }
  }
}

/* ======= CATCH TV Page ======= */
.catchtv-pagebanner {
  .banner-title {
      font-size: 36px;
      text-align: center;
      color: #000;
      margin-top: -12px;
      .banner-never {
          font-weight: 500;
          color: #19388a;
      }
      .banner-secondline {
          display: block;
          text-align: center;
          font-size: 50px;
          margin-top: 14px;
      }
      .banner-catchtv {
          font-weight: 600;
          color: #19388a;
          sup {
              font-size: 60%;
          }
      }
  }
}
