/* tds-cable-header.scss
==========================================*/

// Layout
// ------------------
.container-header {
    //padding: 0 0 40px;
    margin: 0 auto;
    clear: both;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid $cable-dk-blue;
    position: relative;
    padding: 0;
}
.row-header {
    clear: both;
    &.nav-container {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 1120px;
    }
    &.logo-contact-container {
        margin: 0 auto;
        max-width: 1120px;
    }
}

// cable top bar
// ------------------
#skiptonav {
    z-index: 100;
    > a {
        padding: 15px 12px;
    }
}
#skiptocontent {
    z-index: 100;
    > a {
        padding: 15px 12px;
    }
}
.cable-top-bar {
    font-family: $tds-font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: $tds-white;
    background-color: $tds-dk-gray;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: block;
    @media (max-width: 630px){
        display:none;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}
.cable-top-bar-links {
    margin: 0 auto;
    max-width: 1120px;
}
//-- top gray bar left nav links
.cable-top-bar div.customLargeNavBar {
    @media (min-width: 568px) {
        display: inline;
    }
}
//-- L1-nav override
.L1-nav {
    float: left;
    @media only screen and (max-width: 568px) {
        float: none;
    }
}
.L1-nav > ul {
    border-bottom: none;
    font-weight: inherit;
    > li {
        font-size: inherit;
    }
}
.L1-nav > ul > li > a:hover {
    background-color: inherit;
}
.L1-nav > ul > li > a:after,
.L1-nav > ul > li > a:focus:after,
.L1-nav > ul > li > a:hover:after {
    content: none;
}
.L1-nav ul ul {
    //overflow: visible;
}
.L1-nav ul ul li:hover a {
    background-image: none;
}

// Top level of Nav
.cable-nav-top-bar {
    .L1-nav > ul > li > a {
        background-color: inherit;
    }
    .L1-nav ul ul li a {
        background-color: inherit !important;
        color: $tds-white;
    }
    > .container {
        max-width: 100%;
    }
    ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        position: relative;
        /*--Set relative positioning on the unordered list itself - not on the list item--*/
        z-index: 200;
    }
    ul li {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        a {
            padding: 15px 10px;
            display: block;
            color: $tds-white;
            text-decoration: none;
        }
        &:hover,
        &:focus {
            background: $cable-dk-blue;
        }
        &:hover ul,
        &:focus {
            display: block;
            background: $cable-dk-blue;
        }
    }
    // drop down state of Top Nav
    ul li ul {
        list-type: none;
        float: left;
        position: absolute;
        left: 0;
        /*--Hide by default--*/
        color: #fff;
        &:hover,
        &:focus {
            background: $cable-dk-blue;
        }
    }
    ul li ul li {
        float: none;
        color: #555;
        padding: 0 10px;
        font-size: 14px;
        background: $cable-dk-blue;
        &:hover,
        &:focus,
        a:hover {
            background: $tds-lt-blue-100;
        }
        a {
            padding-right: 0;
            margin: 0 2px;
            font-weight: 300;
        }
    }
    //Horizontal rule between dropdown menu items
    .L1-nav ul ul li + li a,
    .L1-nav ul ul li + li a:focus,
    .L1-nav ul ul li + li a:hover {
        border-top: 2px solid $tds-white;
    }
    @media screen and (max-width: 568px) {
        display: none;
    }
}
// top bar - Residential and Business Tabs
.nav-tds-external-sites {
    float: right;
    .res {
        border-top: 5px solid $cable-dk-blue;
        background: #fff;
        color: #353535;
        &:hover,
        &:focus {
            background-color: $cable-dk-blue;
            color: white;
            border-color: white;
        }
    }
    .bus {
        border-top: 5px solid $cable-orange;
        background: #353535;
        color: #fff;
        &:hover,
        &:focus {
            color: white;
            background-color: $cable-orange;
            border-color: #353535;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        /*--Set relative positioning on the unordered list itself - not on the list item--*/
        z-index: 100;
    }
    ul li {
        margin: 0;
        padding: 0;
        float: left;
        list-style-type: none;
        text-align: center;
        a {
            padding: 11px 18px 14px;
            width: auto;
            display: block;
            text-decoration: none;
            @media screen and (max-width: 360px) {
                width: 102px;
                padding: 11px 30px 14px 15px;
            }
        }
    }
}

// logo
// ------------------
.container-logo {
    margin-left: 15px;
    @media (max-width: 751 px) {
      margin-left: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @media (max-width: 510px) {
        text-align: center;
    }
    @media (max-width: 400px){
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #tds-logo {
        text-indent: 0;
        text-align: center;
        float: left;
        margin: 32px 0;
        background: none;
        height: inherit;
        width: inherit;
        @media (max-width:630px){
            margin: 18px 0;
        }
        @media (max-width: 510px) {
            float: none;
        }
        img {
            width: 140px;
            height: auto;
        }
    }
}


// Contact links
// ------------------
#header-contact-links {
    margin-top: 45px;
    @media screen and (max-width: 751px) {
        display: block;
    }
    @media screen and (max-width: 630px){
        margin-top: 30px;
    }
    @media (max-width: 510px){
        margin: 0 auto;
        float: none;
    }
    ul {
        @media (max-width: 510px){
            text-align: center;
            margin-bottom: 16px;
        }
        li {
          margin: 0 16px 0 0;
          &:last-child {
            @media (max-width: 510px){
        		    margin: 0;
            }
          }
        }
    }
    .contact-links-text {
        font-size: 16px;
        font-weight: 300;
        color: $cable-dk-blue;
        @media screen and (max-width: 480px) {
            font-size: 14px;
        }
        @media screen and (max-width: 360px) {
            font-size: 0.9em;
        }
    }
    .contact-links-text.quote {
        background: #7ab342;
        padding: 12px;
        color: white;
        margin-left: 2px;
    }
    .contact-account-icon:before,
    .contact-call-icon:before,
    .contact-cart-icon:before,
    .contact-chat-icon:before,
    .contact-email-icon:before,
    .contact-form-icon:before {
        content: "";
        width: 34px;
        height: 34px;
        margin-right: 8px;
        position: relative;
        @media screen and (max-width: 751px) {
            margin-right: 4px;
            width: 30px;
            height: 30px;
            top: 0;
        }
        @media screen and (max-width: 360px) {
            margin-right: 4px;
            width: 25px;
            height: 25px;
        }
    }
    .contact-call-icon:before {
        background-image: url("/content/dam/tdstelecom/images/ui/contact/icon_contact-call.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        @media screen and (max-width: 480px) {
            background-size: 12px;
        }
    }
    .contact-account-icon:before {
        background-image: url("/content/dam/tdstelecom/images/ui/icon_account-white.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px;
        @media screen and (max-width: 480px) {
            background-size: 12px;
        }
    }
    .contact-cart-icon:before {
        background-image: url("/content/dam/tdstelecom/images/ui/icon_ui-cart-empty-white.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 17px;
        @media screen and (max-width: 480px) {
            background-size: 12px;
        }
    }
}

// Main site Navigation bar
//----------
nav.desktop-nav {
    float: left;
}
.cable-nav-main #tdscableheader--nav-main {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: 300;
    @media screen and (max-width: 568px) {
        display: none;
        margin: 20px auto;
        width: 85%;
    }
    > ul > li > a {
        padding: 15px 12px;
        display: block;
        color: $tds-dk-blue;
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        position: relative;
        /*--Set relative positioning on the unordered list itself - not on the list item--*/
        z-index: 100;
        @media screen and (max-width: 568px) {
            width: 100%;
        }
    }
    > ul > li.active > a {
        color: $tds-white;
        background: $cable-dk-blue;
    }
    ul li {
        margin: 0;
        padding: 0;
        position: relative;
        @media screen and (max-width: 568px) {
            float: none;
            clear: both;
        }
        &:focus,
        li:hover {
            color: $tds-white;
        }
        &:hover,
        &:focus {
            background: $cable-dk-blue;
            color: #ffffff;
            a {
                color: $tds-white;
            };
        }
        &:hover ul,
        &:focus {
            display: block;
            background: $tds-dk-gray;
            color: $tds-white;
            @media screen and (max-width: 568px) {
                display: none;
            }
        }
        @media screen and (max-width: 568px) {
            border-top: 1px solid $tds-lt-blue-100;
        }
    }
    // drop down state of Main Nav
    ul li ul {
        list-type: none;
        float: left;
        position: absolute;
        left: 0;
        /*--Hide by default--*/
        color: #fff;
        &:hover,
        &:focus {
            background: $cable-dk-blue;
        }
    }
    ul li ul li {
        color: #555;
        padding: 0 10px;
        font-size: 16px;
        background: $tds-dkr-gray;
        &:hover,
        &:focus,
        a:hover {
            background: $tds-dk-gray;
        }
        a {
            padding-right: 0;
            margin: 0 2px;
            font-weight: 300;
        }
    }
    //Horizontal rule between dropdown menu items
    .L1-nav ul ul li + li a,
    .L1-nav ul ul li + li a:focus,
    .L1-nav ul ul li + li a:hover {
        border-top: 2px solid $tds-lt-blue-100 !important;
    }
}
// mobile nav menu
//------------------------
#btn-menu-only {
    font-size: 18px;
    text-transform: uppercase;
    background: #555;
    color: white;
    border-top: none;
    font-weight: 300;
    &:after {
    	content: none;
    }
    &:hover {
    color: #FFF;
    background-color: #0C8FD0;
    border-color: #0c8fd0;
    }
}
#mobile-menu {
    border-bottom: solid 3px #0c8fd0;
    ul li {
        background-color: #fff;
        &:hover {
            background-color: #0c8fd0;
            > a {
                background-image: none;
            }
        }
        &:last-child a {
            border-bottom: none;
        }
        a {
            color: #19388a;
            margin: 0 40px;
            padding: 18px;
            font-size: 18px;
            font-weight: 300;
            border-bottom: solid 1px #0c8fd0;
            &:hover {
                background-color: #0c8fd0;
                background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg);
                background-size: 11px 16px;
            }
        }
        li {
          &:hover {
              background-color: #096694;
          }
          &:last-child a {
              border-bottom: solid 1px #0c8fd0;
          }
          a {
              color: #0c8fd0;
              padding-left: 40px;
              &:hover {
                  background-color: #096697;
              }
          }
        }
    }
}
