// tds-cable-variables.scss

//TOC
// ====================================
// BRAND COLOR PALETTE
// OTHER UI COLORS
// ALERT/STATUS MESSAGES
// IMAGES
// TYPOGRAPHY
// INPUT STYLES
// MOBILE BREAKPOINTS GLOBAL OVERRIDES
// LAYOUT

// BRAND COLOR PALETTE
// ====================================

//classes for colors for authors to use
.tds-orange {
    color: #f37d1d;
}
.tds-blue {
    color: #19388a;
}
.tds-lt-blue {
    color: #0c8fd0;
}
.tds-green {
    color: #7bb227;
}

$cable-dk-blue: #0A7AAA;
$cable-orange: #f47e1d;

$tds-font-body: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
