/* tds-cable-layout.scss
==========================================*/

//remove extra padding when bootstrap containers are nested within each other
.container-fluid.cws-content .pagelayout .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid.cws-content {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid.center {
    text-align: center;
}

//classes for colors for authors to use
.tds-orange {
    color: #f37d1d;
}
.tds-blue {
    color: #19388a;
}
.tds-lt-blue {
    color: #0c8fd0;
}
.tds-green {
    color: #7bb227;
}
