/* tds-cable-card.scss
==========================================*/
.cws-content .tds-card-content {
    text-align: left;
}

/* ======= CATCH TV Page ======= */
.catchtv-benefits .tds-card .card-content-wrap {
    padding-bottom: 0!important;
}

.catchtv-benefits .tds-card .tds-card-content p {
    margin-bottom: 0;
}
