/* tds-cable-forms.scss
==========================================*/
#subscribeToEmail + label {
      margin-top: 10px;
    }

.checkbox .tds-radio-btn {
    border-radius: 0;
}

label:hover input:checked + .tds-radio-btn:before {
    top: inherit;
    left: inherit;
}

/* Address Enrty Page */
#addressForm .form-group + button.gallery-btn {
    margin-top: 12px;
}
.address-entry {
  .gallery-btn {
    margin: 0 0 20px 0;
  }
  .tds-card {
    min-height: 0;
    padding: 28px;
    h3:first-child {
      margin-top: 0;
    }
    #loginButton, #provideAddressButton {
      height: auto;
    }
    .gallery-btn {
      margin-bottom: 0
    }
  }
  h4, .h4 {
    margin: 0 0 5px 0;
  }
}
//existing service intercept
.existingService .login #loginFieldset {
    padding: 0 3px 3px 0;
}
.gallery-btn.icon-account:before {
    content: "";
    width: 24px;
    height: 14px;
    display: inline-block;
    background-image: url(/content/dam/tdstelecom/images/ui/icon_account-white.svg);
    background-position: left 2px;
    background-repeat: no-repeat;
    background-size: 14px 12px;
}
.existingService .address-entry .tds-card-heading {
    margin-bottom: 24px;
}
//Overwrite for foundations//
div#suggestedAddresses {
  button.gallery-btn.pull-left {
    margin-top: 25px;
  }
}

.readOnly {
  display: inline-block;
}
.ui-widget {
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    font-size: initial;
}
