/* ===== Start tds cable style overrides ======================================
/* ========================================================================== */
/* ===== tds cable layouts === */
.row {
  width: 100%;
  max-width: 1156px;
  margin: 0 auto;
}

/*/// Package Compairison  ///*/
/* ===== tds cable header === */
/*////overrides/////*/
@media (min-width: 568px) {
  .cable-top-bar div.customLargeNavBar {
    display: inline;
  }
}

@media (min-width: 1px) {
  .cable-nav-main div.customLargeNavBar {
    display: block;
  }
}

.cable-top-bar .tds-clearfix:after,
.cable-nav-main .tds-clearfix:after {
  visibility: hidden;
  display: none;
  font-size: 0;
  content: none;
  clear: none;
  height: 0;
}

.cable-top-bar .navbar:before, .cable-top-bar .navbar:after,
.cable-nav-main .navbar:before, .cable-nav-main .navbar:after {
  content: " ";
  display: none;
  clear: none;
}

.cable-top-bar .container:before, .cable-top-bar .container:after,
.cable-nav-main .container:before, .cable-nav-main .container:after {
  content: none;
  display: none;
}

/*////overrides end////*/
#skiptonav {
  z-index: 100;
}
#skiptonav > a {
  padding: 15px 12px;
}

#skiptocontent {
  z-index: 100;
}
#skiptocontent > a {
  padding: 15px 12px;
}

.container-header {
  padding: 0 0 40px 0;
  margin: 0 auto;
  clear: both;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #0A7AAA;
}

.row-header {
  clear: both;
}

.cable-top-bar {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: #FFF;
  background-color: #555;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
.cable-top-bar:after {
  content: " ";
  display: table;
  clear: both;
}

.ui-mobile-menu {
  display: none;
  position: relative;
  padding-left: 1.25em;
  cursor: pointer;
}
.ui-mobile-menu span {
  display: none;
}
.ui-mobile-menu:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 14px;
  width: 40px;
  height: 22px;
  background-size: contain;
  background: url("../content/dam/tdstelecom/images/ui/icon_cable-mobile-menu.svg");
}
@media only screen and (max-width: 568px) {
  .ui-mobile-menu {
    display: block;
    top: 0;
  }
}

.cable-nav-top-bar > .container {
  max-width: 100%;
}
.cable-nav-top-bar ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
  /*--Set relative positioning on the unordered list itself - not on the list item--*/
  z-index: 50;
}
.cable-nav-top-bar ul li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.cable-nav-top-bar ul li a {
  padding: 15px 10px;
  display: block;
  color: #FFF;
  text-decoration: none;
}
.cable-nav-top-bar ul li:hover, .cable-nav-top-bar ul li :focus {
  background: #0A7AAA;
}
.cable-nav-top-bar ul li:hover ul, .cable-nav-top-bar ul li :focus {
  display: block;
  background: #0A7AAA;
}
.cable-nav-top-bar ul li ul {
  list-type: none;
  float: left;
  position: absolute;
  left: 0;
  display: none;
  /*--Hide by default--*/
  width: 100%;
  color: #fff;
}
.cable-nav-top-bar ul li ul:hover, .cable-nav-top-bar ul li ul :focus {
  background: #0A7AAA;
}
.cable-nav-top-bar ul li ul li {
  color: #555;
  padding: 0 10px;
  font-size: 14px;
  min-width: 200px;
  background: #0A7AAA;
}
.cable-nav-top-bar ul li ul li:hover, .cable-nav-top-bar ul li ul li a:hover, .cable-nav-top-bar ul li ul li :focus {
  background: #0C8FD0;
}
.cable-nav-top-bar ul ul li + li a {
  border-top: 2px solid #FFF;
}
@media screen and (max-width: 568px) {
  .cable-nav-top-bar {
    display: none;
  }
}

.nav-tds-external-sites {
  float: right;
}
.nav-tds-external-sites .res {
  border-top: 5px solid #0A7AAA;
  background: #fff;
  color: #353535;
}
.nav-tds-external-sites .res:hover, .nav-tds-external-sites .res :focus {
  color: #0A7AAA;
}
.nav-tds-external-sites .bus {
  border-top: 5px solid #f47e1d;
  background: #353535;
  color: #fff;
}
.nav-tds-external-sites .bus:hover, .nav-tds-external-sites .bus :focus {
  color: #f47e1d;
}
.nav-tds-external-sites ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  /*--Set relative positioning on the unordered list itself - not on the list item--*/
  z-index: 100;
}
.nav-tds-external-sites ul li {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
  text-align: center;
}
.nav-tds-external-sites ul li a {
  padding: 11px 30px 14px 30px;
  width: 135px;
  display: block;
  text-decoration: none;
}
@media screen and (max-width: 360px) {
  .nav-tds-external-sites ul li a {
    width: 120px;
  }
}

.cable-nav-main {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 18%;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .cable-nav-main {
    margin: 0 0 0 18%;
  }
}
@media screen and (max-width: 568px) {
  .cable-nav-main {
    display: none;
    margin: 20px auto;
    width: 85%;
  }
}
.cable-nav-main a.active {
  color: #FFF;
  background: #0A7AAA;
}
.cable-nav-main a {
  padding: 15px 12px;
  display: block;
  color: #19388A;
  text-decoration: none;
}
.cable-nav-main ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
  /*--Set relative positioning on the unordered list itself - not on the list item--*/
  z-index: 100;
}
@media screen and (max-width: 568px) {
  .cable-nav-main ul {
    width: 100%;
  }
}
.cable-nav-main ul li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 568px) {
  .cable-nav-main ul li {
    float: none;
    clear: both;
  }
}
.cable-nav-main ul li li:hover, .cable-nav-main ul li :focus {
  color: #FFF;
}
.cable-nav-main ul li:hover, .cable-nav-main ul li :focus {
  background: #0A7AAA;
  color: #ffffff;
}
.cable-nav-main ul li:hover a, .cable-nav-main ul li :focus a {
  color: #FFF;
}
.cable-nav-main ul li:hover ul, .cable-nav-main ul li :focus {
  display: block;
  background: #555;
  color: #FFF;
}
@media screen and (max-width: 568px) {
  .cable-nav-main ul li:hover ul, .cable-nav-main ul li :focus {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .cable-nav-main ul li {
    border-top: 1px solid #0C8FD0;
  }
}
.cable-nav-main ul li ul {
  list-type: none;
  float: left;
  position: absolute;
  left: 0;
  display: none;
  /*--Hide by default--*/
  width: 100%;
  color: #fff;
}
.cable-nav-main ul li ul:hover, .cable-nav-main ul li ul :focus {
  background: #0A7AAA;
}
.cable-nav-main ul li ul li {
  color: #555;
  padding: 0 10px;
  font-size: 16px;
  min-width: 225px;
  background: #353535;
}
.cable-nav-main ul li ul li:hover, .cable-nav-main ul li ul li a:hover, .cable-nav-main ul li ul li :focus {
  background: #555;
}
.cable-nav-main ul ul li + li a {
  border-top: 2px solid #0C8FD0;
}

.contact-links-wrap {
  margin: 15px 0;
  overflow: visible;
}
@media screen and (max-width: 360px) {
  .contact-links-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contact-links-wrap ul li {
  margin: 8px 0 0 16px;
  display: inline-block;
  vertical-align: top;
}
.contact-links-wrap ul li .gallery-btn.tds-btn-orange.gallery-btn.tds-btn-orange {
  margin: 12px 0 0 16px;
}
.contact-links-wrap ul li:last-child {
  margin-right: 15px;
}
@media screen and (max-width: 680px) {
  .contact-links-wrap ul li:last-child {
    margin: 8px 8px 8px 0;
  }
}
@media screen and (max-width: 480px) {
  .contact-links-wrap ul li:last-child {
    margin: 8px 0px;
  }
}
.contact-links-wrap ul li:last-child:last-child.gallery-btn.tds-btn-orange.gallery-btn.tds-btn-orange {
  margin: 15px -15px 8px 8px;
}
@media screen and (max-width: 480px) {
  .contact-links-wrap ul li:last-child:last-child.gallery-btn.tds-btn-orange.gallery-btn.tds-btn-orange {
    margin: 18px -15px 8px 8px;
  }
}
@media screen and (max-width: 680px) {
  .contact-links-wrap {
    text-align: left;
  }
  .contact-links-wrap .gallery-btn.tds-btn-orange.gallery-btn.tds-btn-orange {
    margin: 24px 0 0 12px;
    float: right;
  }
}

#header-contact-links .contact-links-text {
  font-size: 16px;
  font-weight: 300;
  color: #0A7AAA;
}
@media screen and (max-width: 480px) {
  #header-contact-links .contact-links-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  #header-contact-links .contact-links-text {
    font-size: .9em;
  }
}
#header-contact-links .contact-chat-icon:before, #header-contact-links .contact-email-icon:before, #header-contact-links .contact-call-icon:before, #header-contact-links .contact-form-icon:before,
#header-contact-links .contact-account-icon:before, #header-contact-links .contact-cart-icon:before {
  content: "";
  width: 34px;
  height: 34px;
  margin-right: 8px;
  position: relative;
  top: -2px;
}
@media screen and (max-width: 751px) {
  #header-contact-links .contact-chat-icon:before, #header-contact-links .contact-email-icon:before, #header-contact-links .contact-call-icon:before, #header-contact-links .contact-form-icon:before,
  #header-contact-links .contact-account-icon:before, #header-contact-links .contact-cart-icon:before {
    margin-right: 4px;
    width: 30px;
    height: 30px;
    top: 0px;
  }
}
@media screen and (max-width: 360px) {
  #header-contact-links .contact-chat-icon:before, #header-contact-links .contact-email-icon:before, #header-contact-links .contact-call-icon:before, #header-contact-links .contact-form-icon:before,
  #header-contact-links .contact-account-icon:before, #header-contact-links .contact-cart-icon:before {
    margin-right: 4px;
    width: 25px;
    height: 25px;
  }
}
#header-contact-links .contact-call-icon:before {
  background-image: url(../content/dam/tdstelecom/images/ui/contact/icon_contact-call.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
}
@media screen and (max-width: 480px) {
  #header-contact-links .contact-call-icon:before {
    background-size: 35px;
  }
}
#header-contact-links .contact-account-icon:before {
  background-image: url(../content/dam/tdstelecom/images/ui/icon_account-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
@media screen and (max-width: 480px) {
  #header-contact-links .contact-account-icon:before {
    background-size: 12px;
  }
}
#header-contact-links .contact-cart-icon:before {
  background-image: url(../content/dam/tdstelecom/images/ui/icon_ui-cart-empty-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
}
@media screen and (max-width: 480px) {
  #header-contact-links .contact-cart-icon:before {
    background-size: 12px;
  }
}
@media screen and (max-width: 751px) {
  #header-contact-links {
    display: flex;
    justify-content: right;
    align-items: right;
  }
}

/*Header logo */
.container-logo #tds-logo {
  float: left;
  width: 204px;
  height: 83px;
  margin: -15px 10% 0px 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 992px) {
  .container-logo #tds-logo {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .container-logo {
    width: 33%;
  }
}
@media only screen and (max-width: 568px) {
  .container-logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .container-logo #tds-logo {
    float: none;
    width: 204px;
    height: 83px;
    margin: 0;
  }
}

.subscribe-text:before {
  content: "";
  padding: 15px 25px;
  background-image: linear-gradient(transparent, transparent), url(../content/dam/tdstelecom/images/ui/contact/icon_contact-email.svg);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.btn-subscribe {
  padding: 0 10px;
  display: block;
}
.btn-subscribe:after {
  content: "";
  padding-right: 0px;
  margin-left: 0px;
  background-image: none;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

a.btn-subscribe::before {
  content: "";
  padding-left: 0;
  margin-right: 0;
  background-image: none;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

/*/// Package Compairison  ///*/
.cws-packages section {
  margin: 5px 0;
  padding: 20px 0;
}
.cws-packages section .col-lg-2.col-md-1 {
  padding: 0;
}
.cws-packages section a {
  text-decoration: none !important;
}
.cws-packages section a:hover, .cws-packages section a:focus {
  text-decoration: underline;
  color: #19388A;
}
.cws-packages section:hover, .cws-packages section:focus {
  background-color: #ebf6fc;
  border-radius: 5px;
  border: 0px;
}

@media (max-width: 959px) {
  h3.hr-after-text {
    text-align: center;
    overflow: hidden;
    font-size: 1.75em;
  }
  h3.hr-after-text:after {
    content: "";
    display: none;
  }
}

.cws-container-packageDetails .col-md-3 {
  padding-left: 0;
}
.cws-container-packageDetails .col-md-9 {
  padding-left: 0;
}

.cws-icon-packageCompairison {
  max-width: 150px;
  float: right;
  display: block;
}
@media (max-width: 991px) {
  .cws-icon-packageCompairison {
    margin: 0 auto;
    float: none;
  }
}
.cws-icon-packageCompairison:hover, .cws-icon-packageCompairison:focus {
  border-radius: 0;
  border: 0;
}

.cws-container-productDescription {
  float: left;
  padding-right: 15px;
  width: 33%;
}
.cws-container-productDescription + div {
  border-left: 1px #777 solid;
  padding-left: 15px;
}
.cws-container-productDescription + div:before {
  content: "";
  width: 25px;
  height: 25px;
  margin-left: -28px;
  background: #0C8FD0;
  border-radius: 20px;
  z-index: 50;
  position: absolute;
  top: 50px;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_plus-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
@media (max-width: 958px) {
  .cws-container-productDescription + div:before {
    top: auto;
    margin: -34px 37%;
  }
}
@media (max-width: 958px) {
  .cws-container-productDescription + div {
    border-left: 0;
  }
}
@media (max-width: 959px) {
  .cws-container-productDescription {
    width: 100%;
    border-top: 1px #777 solid;
    padding: 20px 0;
  }
}

.linkOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 25;
}

a.cws-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px 16px;
  clear: both;
  color: #FFFFFF !important;
  background-color: #6B9C22;
  border-color: #6B9C22;
  text-align: left;
  border: 1px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  z-index: 100;
}
a.cws-btn:after {
  content: "";
  width: 24px;
  height: 16px;
  float: right;
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 9px 14px;
}
a.cws-btn:before {
  content: " ";
  display: table;
  clear: both;
}
a.cws-btn:hover, a.cws-btn:focus {
  text-decoration: none;
  background-color: #618e34 !important;
  cursor: pointer;
  box-shadow: none;
  text-decoration: none !important;
  color: #FFF;
  border-radius: 0;
  border: 0;
  z-index: 100;
}

@media (max-width: 959px) {
  a.cws-btn.desktop {
    display: none;
  }
}

@media (min-width: 958px) {
  a.cws-btn.mobile {
    display: none;
  }
}

.cws-container-priceDetails {
  text-align: center;
}
.cws-container-priceDetails h4, .cws-container-priceDetails p, .cws-container-priceDetails ul, .cws-container-priceDetails .cws-packagePrice {
  color: #0C8FD0;
}
.cws-container-priceDetails h4:hover, .cws-container-priceDetails h4:focus, .cws-container-priceDetails p:hover, .cws-container-priceDetails p:focus, .cws-container-priceDetails ul:hover, .cws-container-priceDetails ul:focus, .cws-container-priceDetails .cws-packagePrice:hover, .cws-container-priceDetails .cws-packagePrice:focus {
  color: #19388A;
}
.cws-container-priceDetails .cws-packagePrice {
  color: #0C8FD0;
  font-size: 42px;
  line-height: 18px;
}
.cws-container-priceDetails .cws-packagePrice .cws-sub-text {
  display: inline-block;
  font-size: 14px;
}

.lessThenThree {
  width: 50%;
}
@media (max-width: 959px) {
  .lessThenThree {
    width: 100%;
  }
}

.cws-packages section.vertical h3.hr-after-text {
  text-align: center;
  overflow: hidden;
  font-size: 1.75em;
}
.cws-packages section.vertical h3.hr-after-text:after {
  content: "";
  display: none;
}

.cws-packages section.vertical .cws-icon-packageCompairison {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  float: none;
}
.cws-packages section.vertical .cws-icon-packageCompairison:hover, .cws-packages section.vertical .cws-icon-packageCompairison:focus {
  border-radius: 0;
  border: 0;
}

.cws-packages section.vertical .packageOfferings {
  padding: 0 15px;
}

.cws-packages section.vertical .cws-container-productDescription {
  float: left;
  padding: 20px 0;
  width: 100%;
  border-top: 1px #777 solid;
}
.cws-packages section.vertical .cws-container-productDescription + div {
  border-left: 0;
  width: 100%;
  padding: 20px 0;
}
.cws-packages section.vertical .cws-container-productDescription + div:before {
  content: "";
  width: 25px;
  height: 25px;
  background: #0C8FD0;
  border-radius: 20px;
  z-index: 50;
  position: absolute;
  top: auto;
  margin: -34px 40%;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_plus-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}

/* ===== tds cable warrnings and error messages === */
.container.shopperId, .container.warning-cartEmpty, .container.tds-alert.tds-alert-critical {
  max-width: 100%;
  padding: 15px 15px 5px 15px;
}
.container.shopperId p, .container.warning-cartEmpty p, .container.tds-alert.tds-alert-critical p {
  line-height: 1.5em;
  font-size: 14px;
}
.container.shopperId a, .container.warning-cartEmpty a, .container.tds-alert.tds-alert-critical a {
  color: #555;
}
.container.shopperId a:hover, .container.shopperId a :focus, .container.warning-cartEmpty a:hover, .container.warning-cartEmpty a :focus, .container.tds-alert.tds-alert-critical a:hover, .container.tds-alert.tds-alert-critical a :focus {
  color: #0A7AAA;
}

.container.shopperId {
  background-color: #E8EBF3;
}

.container.warning-cartEmpty {
  background-color: #FFF8D8;
}

.container.tds-alert.tds-alert-critical {
  background-color: #ffecec;
}
.container.tds-alert.tds-alert-critical a {
  color: #CB1D1D;
}
.container.tds-alert.tds-alert-critical a:hover, .container.tds-alert.tds-alert-critical a :focus {
  color: #991419;
}

.datepicker-switch {
  color: red;
}

/* ===== tds cable  form styles === */
#subscribeToEmail + label {
  margin-top: 10px;
}

.checkbox .tds-radio-btn {
  border-radius: 0;
}

label:hover input:checked + .tds-radio-btn:before {
  top: inherit;
  left: inherit;
}

.datepicker-switch {
  color: red;
}

.readOnly {
  display: inline-block;
}

/* ===== tds cable Typography === */
/*==form styles==*/
.hr-after-text {
  overflow: hidden;
}
.hr-after-text:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #BBB;
}

/* ===== END tds cable style overrides ========================================
/* ========================================================================== */
