/*Hi, I'm an emergency stylesheet. More later.*/
.panel-group.tds-tariff-select-menu .panel {
  box-shadow: none;
}

.input-group.tds-search-input .tds-btn-search-text {
  display: none !important;
}

.newsSearchBar h2 {
  font-size: 24px;
}

.tds-news-feed-article ul {
  display: table;
  list-style-type: none;
}

.tds-news-feed-article ul > li::before {
  content: "\f04d";
  position: relative;
  top: -3px;
  margin-right: 10px;
  margin-left: -22px;
  font: 8px/1 FontAwesome;
  color: #0C8FD0;
  text-rendering: auto;
  transform: translate(0px, 0px);
}

.tds-news-feed-group {
  display: inline;
  float: left;
}

.tds-form-group-search-filters:nth-child(4) {
  margin-bottom: 0;
}

.tds-article-logos .tds-article-logo {
  width: 33.33333%;
  float: left;
}

.tds-card-gallery-4 {
  margin-right: -7px;
  margin-left: -7px;
}

.tds-card-gallery-4 .contactUsCard {
  float: left;
  padding: 7px;
}

.tds-card-gallery-3 .contactUsCard,
.tds-card-gallery-2 .contactUsCard {
  float: left;
  padding: 7px;
}

.tds-card-gallery-3,
.tds-card-gallery-2 {
  margin-left: -15px;
  margin-right: -15px;
}

.tds-card-gallery-3 .contactUsCard,
.tds-card-gallery-2 .contactUsCard {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.tds-card-gallery-4 .tds-card img,
.tds-card-gallery-3 .tds-card img,
.tds-card-gallery-2 .tds-card img {
  padding-bottom: 20px;
}

.tds-card-gallery-4:before,
.tds-card-gallery-3:before,
.tds-card-gallery-2:before,
.tds-card-gallery-4:after,
.tds-card-gallery-3:after,
.tds-card-gallery-2:after {
  content: " ";
  display: table;
}

.tds-card-gallery-4:after,
.tds-card-gallery-3:after,
.tds-card-gallery-2:after {
  clear: both;
}

.tds-card-gallery-3 .contactUsCard {
  width: 33.33333%;
  float: left;
}

@media (min-width: 751px) {
  .tds-card-gallery-4 .contactUsCard {
    width: 25%;
  }
}
@media (min-width: 751px) {
  .tds-card-gallery-2 .contactUsCard {
    width: 50%;
  }
}
.tds-menu-group ul div > li:before {
  content: "\f04d";
  position: relative;
  top: -3px;
  margin-right: 10px;
  margin-left: -22px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 8px;
  color: #0C8FD0;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.tds-content-rich .tds-li-steps .tds-menu-group ul div > li:before {
  display: none;
}

.tds-card .open > .dropdown-menu {
  width: 100%;
  padding-left: 0px;
}

.tds-card button.dropdown-toggle .caret {
  position: relative;
  right: -135px;
}

.open > button.gallery-btn.dropdown-toggle {
  color: #fff !important;
  background-color: #0C8FD0;
}

.tds-tv-channel-lineup h2 {
  margin-left: -15px;
}

.tds-form-group th {
  background: inherit;
}

.contact-call-icon:before {
  background-image: url("/content/dam/tdstelecom/images/ui/contact/icon_contact-call.png");
  background-size: 12px;
}

.contact-chat-icon:before {
  background-image: url("/content/dam/tdstelecom/images/ui/contact/icon_contact-chat.png");
  background-size: 14px;
}

.contact-form-icon:before {
  background-image: url("/content/dam/tdstelecom/images/ui/contact/icon_contact-form.png");
  background-size: 12px;
}
