/* tds-biz-header
==========================================*/
.tds-other-nav ul {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
  font-weight: 400;
}

#othernav-container-topright {
  margin-right: 0;
}

.tds-other-nav > ul > li > a {
  white-space: nowrap;
  width: auto;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  color: #cacaca;
  border-right: solid 1px #999;
  margin-bottom: -1px;
}

#othernav-container-topright .tds-other-nav > ul > li:first-child > a {
  border-left: solid 1px #999;
}

#othernav-container-topright .tds-other-nav > ul > li > a {
  border-right: solid 1px #999;
}

#top-links {
  border-bottom: solid 2px #555;
}

@media (max-width: 750px) {
  #add-padding {
    height: 72px;
  }
}

.tds-other-nav > ul > li a:focus,
.tds-other-nav > ul > li a:focus,
.tds-other-nav a.focus {
  text-decoration: underline;
}

#header-contact-links .button .gallery-btn.tds-btn-orange:after {
  content: none;
}

#header-contact-links.contact-links-wrap {
  margin-top: 1.5em;
}

#header-contact-links.contact-links-wrap ul li {
  vertical-align: middle;
}

#header-contact-links.contact-links-wrap .contact-links-text:before {
  background-color: #FFF;
}

#header-contact-links.contact-links-wrap .contact-chat-icon:before {
  background-image: url(/content/dam/tdstelecom/images/ui/contact/icon_contact-chat-gray.svg);
  background-size: 16px;
}

#header-contact-links.contact-links-wrap .contact-call-icon:before {
  background-image: url(/content/dam/tdstelecom/images/ui/contact/icon_contact-call-gray.svg);
  background-size: 14px;
}

#header-contact-links.contact-links-wrap > ul > li:hover > a,
#header-contact-links.contact-links-wrap > ul > li:hover > a:hover {
  color: #19388A;
}

#header-contact-links.contact-links-wrap > ul > li:hover > a:before, #header-contact-links.contact-links-wrap > ul > li:hover > a:hover:before,
#header-contact-links.contact-links-wrap > ul > li:hover > a:hover:before,
#header-contact-links.contact-links-wrap > ul > li:hover > a:hover:hover:before {
  background-color: #19388A;
}

#header-contact-links.contact-links-wrap > ul > li:hover > .contact-chat-icon:before {
  background-image: url(/content/dam/tdstelecom/images/ui/contact/icon_contact-chat.svg);
  background-size: 14px;
}

#header-contact-links.contact-links-wrap > ul > li:hover > .contact-call-icon:before {
  background-image: url(/content/dam/tdstelecom/images/ui/contact/icon_contact-call.svg);
  background-size: 12px;
}

.parbase.navbar {
  margin-bottom: 0px;
}

div#main-navbar {
  border-bottom: solid 2px #e3e3e3;
  margin-bottom: 0;
}

.L0-nav-wrap {
  border-bottom: solid 4px #25ACF2;
}

.L0-nav-container {
  border-bottom: none;
}

.L1-nav > ul > li > a:after,
.L1-nav > ul > li > a:hover:after,
.L1-nav > ul > li > a:active:after,
.L1-nav > ul > li > a:focus:after {
  content: none;
}

.L1-nav ul ul li:hover a {
  background-image: none;
}

.L1-nav ul ul li a {
  padding-right: 0;
}

.L1-nav > ul {
  border-bottom: none;
  display: block;
}

.L1-nav ul ul li + li a {
  border-top: none;
}

.L1-nav ul ul li:hover + li a {
  border-top: none;
}

.L1-nav > ul > li > a:hover {
  background-color: #25acf0;
}

.L1-nav > ul > li:hover > a {
  background: #25acf0;
}

.L1-nav ul ul li:hover {
  background-color: #19388a;
}

.L1-nav ul ul li:hover a {
  background-color: #19388a !important;
}

.L1-nav ul ul li {
  background-color: #e3e3e3;
}

.L1-nav ul ul li a {
  color: #353535;
  background-color: #e3e3e3 !important;
}

.L1-nav > ul > li a:focus {
  color: #19388a;
  text-decoration: underline;
}

.L1-nav > ul > li > a:focus {
  color: white;
}

ul.mobile-header-nav {
  text-align: right;
  float: none;
}

div.hr-gray {
  border-bottom: solid 4px #25acf0;
}

div.hr-mobile-tdsblue {
  display: none;
}

div#mobile-menu {
  border-bottom: solid 4px #25acf0;
  top: 0;
}

#mobile-menu ul li {
  background-color: #e3e3e3;
}

#mobile-menu ul li a {
  border-bottom: none;
  color: #19388a;
  font-weight: 500;
  padding: 14px 0;
}

#mobile-menu ul li li a,
#mobile-menu ul li a,
#mobile-menu ul li li:last-child a {
  border-bottom: none;
}

#mobile-menu ul li li a {
  color: #353535;
  font-weight: 400;
}

#mobile-menu ul li {
  background-color: #e3e3e3;
}

#mobile-menu ul li:hover > a {
  background: none;
}

#mobile-menu ul li:hover {
  background-color: #25acf0;
}

#mobile-menu ul ul li:hover {
  background-color: #19388a;
  border-top: none;
}

#mobile-menu ul li a:hover {
  background: none;
}

a#btn-menu.menu-active:hover,
a#btn-menu.menu-active:active {
  background-color: #25acf0 !important;
  border: solid 2px #25acf0 !important;
}

#skiptonav a:after,
#skiptocontent a:after {
  content: '\e821';
  font-size: 10px;
}

/*--HYDRA-2133 Business Header Alignment - Styling - Firefox --*/
#header-contact-links.contact-links-wrap {
  margin-top: 3.25em;
}

#header-contact-links li {
  display: inline;
}

.contact-chat-icon {
  display: inline-block;
}

.tds-block-lt-blue .gallery-btn:hover {
  background-color: #4760A1;
}

.loginForm .tds-card #loginForm button.gallery-btn:hover {
  background: #C8600B !important;
}

/* tds-biz-footer
==========================================*/
.extended-footer .container .homepageFooter div {
  padding: 0 32px;
}

div#tdsbizfooter--navbar {
  display: inline-block;
}

#genericfooter-container {
  border-top: none;
}

#othernav-container-bottom {
  padding: 36px 0 0;
}

#footer-login {
  display: none;
}

#social-container {
  border-top: none;
  padding: 28px 0;
}

.size-40 {
  height: 40px;
  padding-bottom: 0;
}

.homepageFooter {
  border-top: none;
}

@media (max-width: 750px) {
  .homepageFooter {
    display: initial;
  }
}

.homepageFooter .sectionTitle {
  font-size: 16px;
  text-align: left;
  border-bottom: solid 4px #777;
}

.homepageFooter ul.sectionLinks {
  margin-left: 0;
  padding-left: 0;
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
}

.homepageFooter ul.sectionLinks li {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
}

.homepageFooter ul.sectionLinks li a {
  display: inline-block;
}

.homepageFooter ul.sectionLinks a:hover {
  text-decoration: underline;
}

.homepageFooter ul.sectionLinks a:hover:after {
  content: "";
  width: 16px;
  height: 12px;
  float: right;
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-caret-gray.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 6px 10px;
}

.sectionTitle a {
  text-decoration: none;
  color: #BBBBBB;
  display: inline-block;
}

.sectionTitle a:hover {
  text-decoration: underline;
  color: #fff;
}

.sectionTitle a:hover:after {
  content: "";
  margin-left: 10px;
  width: 6px;
  height: 20px;
  float: right;
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-caret-gray.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 6px 10px;
}

#footer-contact-links {
  border-bottom: none;
  padding-bottom: 24px;
}

#footer-contact-links li {
  margin-right: 16px;
}

#footer-contact-links li:last-child {
  margin-right: 0;
}

@media (max-width: 350px) {
  #footer-contact-links {
    text-align: left;
  }
}

.container-fluid.footer-contact-wrap {
  background: #353535;
  clear: both;
}

.contact-links-text:before {
  background-color: #2a2a2a;
}

div.contact-links-wrap > ul > li:hover > a:before,
div.contact-links-wrap > ul > li:hover > a:hover:before {
  background-color: #f37d1d;
}

.circle-gray:hover, .circle-gray:focus {
  background-color: #f37d1d;
}

#subscribe-container {
  padding: 32px;
  border-bottom: none;
  background-color: #25ACF2;
}

#subscribe-container .subscribe-text p {
  color: #FFF;
  margin-bottom: 0;
  max-width: 550px;
}

#subscribe-container a.btn-subscribe {
  margin-top: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#subscribe-container a.btn-subscribe:after {
  content: none;
}

#subscribe-container a.btn-subscribe:hover {
  background-color: #4760A1;
  box-shadow: none;
}

#subscribe-container table {
  max-width: 600px;
}

/*icon not showing up in ie 9, remove linear gradient*/
a.btn-subscribe::before {
  background-image: url("/content/dam/tdstelecom/images/ui/contact/icon_contact-email.svg");
}

div.copyright-text {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
}

.copyright-text p {
  color: #cacaca;
  font-size: 11px;
  line-height: 21px;
}

#genericfooter-container .customLargeNavBar.parbase.navbar {
  text-align: center;
}

@media (max-width: 751px) {
  #genericfooter-container .customLargeNavBar.parbase.navbar {
    display: inherit;
  }
}

#genericfooter-container .customLargeNavBar .tds-other-nav > ul > li:last-child > a {
  border-right: none;
}

@media (max-width: 460px) {
  #genericfooter-container .customLargeNavBar .tds-other-nav > ul {
    text-align: center;
  }
  #genericfooter-container .customLargeNavBar .tds-other-nav > ul ul {
    text-align: left;
  }
  #genericfooter-container .customLargeNavBar .tds-other-nav > ul > li {
    float: none;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 12px;
  }
  .customLargeNavBar + #social-container {
    padding-top: 12px;
  }
}

@media (max-width: 584px) {
  .tdsbizfooter .copyright-logo {
    display: block;
    padding-bottom: 0;
  }
  .tdsbizfooter .copyright-logo #fortune-logo {
    display: block;
    margin: 0 auto;
  }
  .tdsbizfooter .copyright-text {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* tds-biz-searchbar
==========================================*/
input.tds-searchbar-input {
  background-color: #D9D9D9;
  margin-right: 0;
  width: 240px;
  padding-left: 44px;
}

input.tds-searchbar-input:hover, input.tds-searchbar-input:active, input.tds-searchbar-input:focus {
  background-color: #D9D9D9;
}

.tds-searchbar-button {
  background-color: #D9D9D9;
  height: 40px;
  float: left;
  left: 0;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_search-binoculars-gray.svg);
  background-size: 20px;
}

.tds-searchbar-button:hover, .tds-searchbar-button:active, .tds-searchbar-button:focus {
  background-image: url(/content/dam/tdstelecom/images/ui/icon_search-binoculars-blue.svg);
  background-color: transparent;
}

#mobile-searchbar input.tds-searchbar-button {
  color: transparent !important;
  background-color: #D9D9D9;
  height: 40px;
  float: left;
  left: 0;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_search-binoculars-gray.svg);
  background-size: 20px;
}

#mobile-searchbar .tds-searchbar-input {
  line-height: 40px;
  height: 40px\9;
  height: 40px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

.newsSearchBar h2 {
  color: #19388a;
}

.newsSearchBar .tds-card .tds-form-group .tds-search-input input.form-control {
  background-color: #fff;
}

.newsSearchBar .tds-card {
  padding: 28px;
}

a.search-result {
  text-decoration: none;
  font-size: 20px;
}

.searchResultsContainer {
  padding: 0;
  max-width: 600px;
}

span.search-current-page {
  color: #555;
}

.search-results-pagination.pagination {
  border-top: #19388a solid 2px;
  border-bottom: solid 2px #19388a;
}

p.resultText.tds-error-msg.tds-error-status {
  background: #e3e3e3;
}

span.current-page {
  background-color: #25acf0;
  color: white;
}

.search-results-pagination a:hover {
  background-color: #e3e3e3;
}

.tds-body-content .search-result-content .searchResultsContainer {
  padding-left: 0px;
}

/* tds-biz-breadcrumb
==========================================*/
.breadcrumb .breadcrumb a.breadcrumbText:focus {
  text-decoration: underline;
}

/* tds-biz-layout
==========================================*/
.page_content {
  margin-bottom: 0;
}

.tds-width-container, .container {
  max-width: 1120px;
}

.pagelayout .contentcontainer .tds-card .parbase.richTextComponent.section,
.pagelayout .contentcontainer .tds-card .parbase.richTextComponent.section p {
  margin-bottom: 0;
}

.tds-pagedivider-two-col {
  margin-left: -15px;
  margin-right: -15px;
}

.pagelayout .tds-news-feed-group {
  padding-left: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

/*need to be more specific*/
.pagelayout .parbase.richTextComponent.section {
  margin-bottom: 0;
}

/* tds-biz-type
==========================================*/
body {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h1 sup {
  font-size: .5em;
  vertical-align: .2em;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

p ~ h2, ul ~ h2, ol ~ h2 {
  margin-top: 28px;
}

.loginForm .tds-card h2 {
  color: #19388a;
  margin-bottom: 20px;
}

h3, .h3 {
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 600;
  color: #777;
}

.tds-content-rich h3 {
  margin-bottom: 14px;
}

.troubleReporting > .tds-card.tds-card-gray > h3 {
  margin-top: 12px;
  margin-bottom: 24px;
  color: #19388a;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1em;
}

p {
  margin: 0 0 12px 0;
  font-size: 1em;
  line-height: 1.65em;
  color: #555;
}

a {
  color: #19388A;
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
  color: #25ACF2;
}

/* tds-biz-lists
==========================================*/
.pagelayout .tds-content-rich ul {
  padding-left: 20px;
}

.pagelayout .tds-content-rich ul li {
  margin-bottom: 12px;
}

.pagelayout .tds-content-rich ul li:before {
  color: #999;
  margin-right: 14px;
  margin-left: -21px;
  content: "\f111";
}

.pagelayout .tds-block-lt-blue .tds-content-rich li,
.pagelayout .tds-block-lt-gray .tds-content-rich li,
.pagelayout .tds-block-dk-blue .tds-content-rich li,
.pagelayout .tds-block-dk-gray .tds-content-rich li,
.pagelayout .tds-block-orange .tds-content-rich li,
.pagelayout .tds-block-lt-blue .tds-content-rich li:before,
.pagelayout .tds-block-lt-gray .tds-content-rich li:before,
.pagelayout .tds-block-dk-blue .tds-content-rich li:before,
.pagelayout .tds-block-dk-gray .tds-content-rich li:before,
.pagelayout .tds-block-orange .tds-content-rich li:before {
  color: white;
}

/* tds-biz-buttons
==========================================*/
.gallery-btn {
  text-align: center;
}

.gallery-btn:after {
  background-image: url("/content/dam/tdstelecom/images/ui/arrows/right-caret-white.svg");
}

.shift-up button.gallery-btn.btn-block.tds-btn-plain {
  text-align: left;
}

/* tds-biz-card
==========================================*/
.tds-card {
  border: none;
  background-color: #e3e3e3;
  padding: 20px;
}

.tds-card.card-horizontal,
.tds-card.card-image-first {
  padding: 0;
}

.tds-card.card-image-first .tds-card-heading {
  text-align: left;
}

.contactcard .gallery-btn {
  margin-bottom: 16px;
}

.contactcard .gallery-btn:last-child {
  margin-bottom: 0;
}

.contactcard .gallery-btn {
  text-align: left;
}

.contactcard .gallery-btn:after {
  content: none;
}

.contactUsCard .tds-well.well.tds-card-well {
  background-color: white;
}

.tds-card-cta .navbutton {
  margin-top: 20px;
}

.home-block .contactUsCard .tds-card-content > .card_content > .navbutton:first-child > .gallery-btn {
  margin-top: 0;
}

/* tds-biz-forms
==========================================*/
label {
  font-weight: 500;
}

.form-control:focus,
form.elq-form .form-design-field input:focus,
form.elq-form .form-design-field select:focus,
form.elq-form .form-design-field textarea:focus {
  border: solid 2px #25acf0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tds-form-group input,
.tds-form-group select {
  border: none;
  background: #e3e3e3;
  color: #19388a;
  font-weight: 500;
}

.form-group.tds-form-group .radio-inline > label {
  margin-top: 9px;
  line-height: 24px;
  margin-bottom: 11px;
  cursor: pointer;
}

.loginForm .tds-card {
  border: solid 3px #F37D1D;
  background-color: white;
}

.loginForm .tds-form-group input,
.tds-form-group select,
.loginForm .tds-card .tds-form-group input.form-control {
  border: none;
  background-color: #e3e3e3;
}

.loginForm .tds-card #loginForm button.gallery-btn {
  background-color: #F37D1D;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.loginForm .tds-card #loginForm button.gallery-btn:after {
  content: none;
}

.contactcard .tds-card.contact-card-form {
  border: solid 3px #F37D1D;
  background-color: white;
}

.contactcard .contact-card-form .contact-form-code form .field-wrapper input,
.contactcard .contact-card-form .contact-form-code form .field-wrapper select {
  border: none;
  background-color: #e3e3e3;
}

.contactcard .contact-card-form .contact-form-code form .field-wrapper label {
  color: #555;
  font-weight: 500;
}

.contactcard .contact-card-form .contact-form-code form .field-wrapper input[type="submit"] {
  background-color: #F37D1D;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: -14px;
}

.contactcard .contact-card-form .contact-form-code form .field-wrapper input[type="submit"]:hover {
  background-color: #19388a;
}

.contactcard .contact-card-form .contact-form-code form .field-wrapper input[type="submit"]:focus {
  background-color: #19388a;
  border: solid 2px #25acf0;
}

.resetPasswordForm #resetPwdInstructions p {
  margin-bottom: 16px;
}

div#forgotPasswordModal .modal-body .h4 {
  margin-bottom: 16px;
}

#resetPwdSuccessBlock .tds-alert.tds-alert-success {
  margin-bottom: 0;
}

#setPasswordDiv .tds-form-group input,
.tds-form-group select {
  border: none;
  background: white;
}

#setPasswordDiv .tds-form-group input:focus,
.tds-form-group select {
  border: solid 2px #25acf0;
}

.password-requirements {
  background-color: transparent;
  padding: 0;
}

div#setPasswordResults.tds-alert {
  margin-bottom: 0;
}

.leadSubmitForm {
  margin-bottom: 40px;
}

.leadSubmitForm > div {
  margin-left: -12px;
  margin-right: -12px;
}

/*--HYDRA-2139 Agent Portal - Styling - Temp password--*/
#createAccountForm .tds-card .tds-form-group input {
  background: #ffffff;
}

#createAccountForm .tds-card .tds-form-group select {
  background: #ffffff;
}

.LV_validation_message.LV_invalid {
  color: #cd1d1d;
}

.LV_validation_message.LV_valid {
  display: none;
  color: #6b9c22;
}

/*
//check styles on https://fdevp.tdsbusiness.com/my-account/support-tickets.html
//might not need this section anymore
.parbase.troubleReporting.section {
    margin-top: 28px;
}
@media (max-width:751px) {
  .parbase.troubleReporting.section {
      margin-top: 20px;
      margin-bottom: -8px;
  }
}
*/
.tds-card .tds-form-group input, .tds-card .tds-form-group select {
  background: #ffffff;
}

.tds-card .form-control[disabled], .tds-card .form-control[readonly], .tds-card fieldset[disabled] .form-control {
  background-color: #eee;
}

/* tds-biz-tables
==========================================*/
.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: center;
  padding-top: 20px;
}

table.table tbody > tr:last-child > td, .text.parbase.section table tbody > tr:last-child > td, table.careers-table tbody > tr:last-child > td {
  border-bottom: none !important;
}

table.dataTable.no-footer {
  border-bottom: 2px solid #25acf0;
}

@media (max-width: 583px) {
  table.dataTable.no-footer {
    border-bottom: none;
  }
}

@media (max-width: 751px) {
  .table-btn {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.tds-responsive-table tr td {
  min-height: 20px;
}

@media (max-width: 583px) {
  .tds-responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 12px;
    color: #19388a;
    display: block;
    margin-top: 2px;
  }
}

thead {
  background-color: #25acf0;
}

table.table tr.tds-form-group th, .text.parbase.section table tr.tds-form-group th, table.careers-table tr.tds-form-group th {
  color: white;
  font-size: 12px;
  line-height: 14px;
}

.tds-form-group th {
  padding: 12px !important;
  border-top: none !important;
  border-bottom: none !important;
}

.tds-responsive-table tr.even {
  background: #e3e3e3 !important;
}

.table > thead:first-child > tr:first-child > th {
  border-left: solid 1px rgba(255, 255, 255, 0.7);
}

.table > thead:first-child > tr:first-child > th:first-child {
  border-left: none;
}

.tds-responsive-table thead th {
  font-weight: normal !important;
  text-align: left;
  vertical-align: middle !important;
}

.tds-responsive-table tbody td {
  text-align: left;
}

@media (max-width: 583px) {
  .tds-responsive-table tbody td {
    text-align: right;
  }
}

#usersTable.table > thead > tr > th, .text.parbase.section table#usersTable > thead > tr > th, table#usersTable.careers-table > thead > tr > th, #ticketTable.table > thead > tr > th, .text.parbase.section table#ticketTable > thead > tr > th, table#ticketTable.careers-table > thead > tr > th, #historicalUsageTable.table > thead > tr > th, .text.parbase.section table#historicalUsageTable > thead > tr > th, table#historicalUsageTable.careers-table > thead > tr > th {
  vertical-align: middle;
  border-top: none !important;
  border-bottom: none !important;
}

#usersTable th, #ticketTable th, #historicalUsageTable th {
  background-color: #25acf0 !important;
  color: #fff !important;
  font-weight: 400 !important;
  text-decoration: none;
  text-align: left;
  font-size: 14px !important;
}

#usersTable.table tbody > tr > td, .text.parbase.section table#usersTable tbody > tr > td, table#usersTable.careers-table tbody > tr > td, #ticketTable.table tbody > tr > td, .text.parbase.section table#ticketTable tbody > tr > td, table#ticketTable.careers-table tbody > tr > td, #historicalUsageTable.table tbody > tr > td, .text.parbase.section table#historicalUsageTable tbody > tr > td, table#historicalUsageTable.careers-table tbody > tr > td, .text.parbase.section table > tbody > tr > td {
  border-top: none !important;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: inherit;
}

#usersTable.table tbody tr.even {
  background-color: #e3e3e3;
}

.table.dataTable button.gallery-btn.tds-btn-gray.tds-btn-plain {
  background-color: #19388a !important;
  color: white !important;
}

.table.dataTable button.gallery-btn.tds-btn-gray.tds-btn-plain:hover {
  background-color: #0c8fd0 !important;
}

#usersTable.table > tbody > tr > td, .text.parbase.section table#usersTable > tbody > tr > td, table#usersTable.careers-table > tbody > tr > td, #usersTable.table > tbody > tr > th, .text.parbase.section table#usersTable > tbody > tr > th, table#usersTable.careers-table > tbody > tr > th, #usersTable.table > tfoot > tr > td, .text.parbase.section table#usersTable > tfoot > tr > td, table#usersTable.careers-table > tfoot > tr > td, #usersTable.table > tfoot > tr > th, .text.parbase.section table#usersTable > tfoot > tr > th, table#usersTable.careers-table > tfoot > tr > th, #usersTable.table > thead > tr > td, .text.parbase.section table#usersTable > thead > tr > td, table#usersTable.careers-table > thead > tr > td, #usersTable.table > thead > tr > th, .text.parbase.section table#usersTable > thead > tr > th, table#usersTable.careers-table > thead > tr > th, #ticketTable.table > tbody > tr > td, .text.parbase.section table#ticketTable > tbody > tr > td, table#ticketTable.careers-table > tbody > tr > td, #ticketTable.table > tbody > tr > th, .text.parbase.section table#ticketTable > tbody > tr > th, table#ticketTable.careers-table > tbody > tr > th, #ticketTable.table > tfoot > tr > td, .text.parbase.section table#ticketTable > tfoot > tr > td, table#ticketTable.careers-table > tfoot > tr > td, #ticketTable.table > tfoot > tr > th, .text.parbase.section table#ticketTable > tfoot > tr > th, table#ticketTable.careers-table > tfoot > tr > th, #ticketTable.table > thead > tr > td, .text.parbase.section table#ticketTable > thead > tr > td, table#ticketTable.careers-table > thead > tr > td, #ticketTable.table > thead > tr > th, .text.parbase.section table#ticketTable > thead > tr > th, table#ticketTable.careers-table > thead > tr > th, #historicalUsageTable.table > tbody > tr > td, .text.parbase.section table#historicalUsageTable > tbody > tr > td, table#historicalUsageTable.careers-table > tbody > tr > td, #historicalUsageTable.table > tbody > tr > th, .text.parbase.section table#historicalUsageTable > tbody > tr > th, table#historicalUsageTable.careers-table > tbody > tr > th, #historicalUsageTable.table > tfoot > tr > td, .text.parbase.section table#historicalUsageTable > tfoot > tr > td, table#historicalUsageTable.careers-table > tfoot > tr > td, #historicalUsageTable.table > tfoot > tr > th, .text.parbase.section table#historicalUsageTable > tfoot > tr > th, table#historicalUsageTable.careers-table > tfoot > tr > th, #historicalUsageTable.table > thead > tr > td, .text.parbase.section table#historicalUsageTable > thead > tr > td, table#historicalUsageTable.careers-table > thead > tr > td, #historicalUsageTable.table > thead > tr > th, .text.parbase.section table#historicalUsageTable > thead > tr > th, table#historicalUsageTable.careers-table > thead > tr > th, .text.parbase.section table > tbody > tr > td {
  padding: 12px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}

@media (max-width: 583px) {
  #usersTable.table.dataTable.no-footer {
    border-bottom: solid 2px #25acf0;
  }
}

.richTextComponent + .opportunitiesAndLeadsViews.parbase.section {
  margin-top: 32px;
}

.opportunitiesAndLeadsViews div#DataTables_Table_0_wrapper {
  margin-top: 20px;
  margin-bottom: 32px;
}

a#opp-lead-export-csv {
  display: inline-block;
  margin-top: 0;
}

/* tds-biz-alerts-errors
==========================================*/
.shopperid.shopperId > .container {
  max-width: 100%;
  padding: 0;
}

.shopperid.shopperId .tds-error-msg {
  padding: 8px;
  font-size: 12px;
  color: #555;
  margin-bottom: 0;
}

.shopperid.shopperId .tds-error-msg .container {
  padding-left: 15px;
  padding-right: 15px;
}

.parbase.section.shopperId .tds-error-msg.tds-error-info {
  padding: 8px 0;
  margin-bottom: 0;
}

.agentGreeting .tds-error-msg.tds-error-info {
  margin-bottom: 0;
  padding: 8px 0;
}

.agentGreeting div#enteredUserName {
  font-size: 12px;
  color: #555;
}

.agentGreeting .container {
  padding-left: 16px;
  padding-right: 16px;
}

/* tds-biz-carousel
==========================================*/
.parbase.carousel.section + .pagelayout.parbase.section {
  margin-top: -40px;
}

.carouselcontainer {
  width: 100%;
}

.carouselcontainer.col-sm-12 {
  padding: 0;
}

.carouselcontainer #maincarousel .carousel-inner .item .content-block {
  height: 340px;
}

@media (max-width: 584px) {
  .carouselcontainer #maincarousel .carousel-inner .item .content-block {
    height: 320px;
  }
}

#maincarousel .item .tds-width-container {
  padding: 0;
}

#carouselcontainer-image {
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 340px;
  background-size: cover !important;
  background-position: center top;
  background-repeat: no-repeat;
}

#slide-overlay {
  display: none;
}

.carouselslide {
  background-color: rgba(255, 255, 255, 0.85);
  width: auto;
  max-width: 525px;
  height: auto;
  padding: 32px;
  position: absolute;
  margin: 24px;
  bottom: inherit;
}

@media (max-width: 584px) {
  .carouselslide {
    margin-top: 42px !important;
    max-width: 100%;
  }
}

.carouseltitletext {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
  font-size: 32px;
  line-height: 1.5em;
  margin-bottom: 12px;
}

@media (max-width: 584px) {
  .carouseltitletext {
    color: #19388A;
  }
}

@media (max-width: 400px) {
  .carouseltitletext {
    font-size: 20px;
  }
}

.carouselbodytext {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
  font-size: 18px;
  max-width: inherit;
}

@media (max-width: 584px) {
  .carouselbodytext > p {
    font-size: 14px;
    line-height: 1.5em;
    color: #555;
  }
  .carouselbodytext > span {
    font-size: 16px;
  }
}

.carouselslide > .gallery-btn {
  background-color: #F37D1D;
  padding: 15px 30px !important;
  font-size: 18px;
}

.carouselslide > .gallery-btn:hover {
  background-color: #C8600B;
}

.carouselslide > .gallery-btn:after {
  content: none;
}

@media (min-width: 1000px) {
  .carouselslide {
    margin-left: 0;
  }
}

@media (max-width: 584px) {
  .carouselslide > .gallery-btn {
    padding: 12px 16px !important;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

#carousel-controls {
  padding-left: 24px;
  padding-right: 24px;
  top: -64px;
}

#carousel-controls {
  padding-left: 16px;
  padding-right: 16px;
}

.carousel-btn {
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-btn:hover, .carousel-btn:active {
  background-color: #F37D1D;
}

.carousel-btn .cc-icon-play {
  background-color: rgba(153, 153, 153, 0.85);
}

.carousel-btn .cc-icon-play:hover, .carousel-btn .cc-icon-play:active {
  background-color: #F37D1D;
}

.cc-icon-back {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/left-caret-dk-gray.svg);
  background-size: 9px 14px;
  background-position: 9px 8px;
  background-repeat: no-repeat;
}

.cc-icon-back:hover, .cc-icon-back:focus, .cc-icon-back:active {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/left-caret-white.svg);
}

.cc-icon-pause {
  background-image: url(/content/dam/tdstelecom/images/ui/carousel/icon-pause-dk-gray.svg);
  background-size: 10px 13px;
  -webkit-background-size: 10px 13px;
  background-position: 10px 8px;
}

.cc-icon-pause:hover, .cc-icon-pause:focus, .cc-icon-pause:active {
  background-image: url(/content/dam/tdstelecom/images/ui/carousel/icon-pause.svg);
}

.cc-icon-play {
  background-image: url(/content/dam/tdstelecom/images/ui/carousel/icon-play-orange.svg);
  background-size: 12px 18px;
  background-position: 11px 6px;
}

.cc-icon-play:hover, .cc-icon-play:focus, .cc-icon-play:active {
  background-image: url(/content/dam/tdstelecom/images/ui/carousel/icon-play.svg);
}

.cc-icon-next {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-caret-dk-gray.svg);
  background-size: 9px 14px;
  background-position: 12px 8px;
}

.cc-icon-next:hover, .cc-icon-next:focus, .cc-icon-next:active {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-caret-white.svg);
}

.carousel-indicators {
  bottom: -3px;
}

.carousel-indicators li,
.carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.carousel-indicators li {
  background-color: #777;
  border: none;
}

.carousel-indicators li:hover, .carousel-indicators li:focus, .carousel-indicators li:active {
  background-color: #25acf2;
}

.carousel-indicators .active {
  background-color: #0c8fd0;
}

@media (max-width: 584px) {
  .carousel-indicators {
    bottom: 260px;
  }
}

/* tds-biz-page-banner
==========================================*/
.container-fluid.tds-body-content,
.tds-page-banner.col-sm-12 {
  padding: 0;
}

#page-banner {
  border: none;
}

#page-banner.banner-lg {
  height: 380px;
}

#page-banner.banner-sm {
  height: 240px;
}

#page-banner .container {
  padding-left: 24px;
  padding-right: 24px;
}

.banner-image {
  background-position: center top;
}

.tds-page-banner {
  margin-bottom: 0;
}

.container .banner-content {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 40%;
  padding: 24px;
  margin-top: 32px;
}

#banner-overlay {
  border: none;
  background: none;
}

.banner-content {
  border: none;
}

h1.banner-title {
  font-size: 22px;
}

@media (max-width: 751px) {
  #page-banner.banner-lg {
    height: 240px;
  }
  #page-banner.banner-sm {
    height: 180px;
  }
  .container .banner-content {
    max-width: 50%;
  }
}

@media (max-width: 584px) {
  .container .banner-content {
    max-width: 100%;
  }
  .banner-image {
    display: initial;
  }
  #page-banner.banner-lg {
    height: 180px;
  }
  #page-banner.banner-sm {
    height: 120px;
  }
}

.tds-page-banner.has-content div#page-banner {
  min-height: 240px;
}

.tds-page-banner.long-content div#page-banner {
  height: 360px;
}

.tds-page-banner.long-content .banner-content {
  max-width: 55%;
}

.tds-page-banner.float-right .banner-content {
  float: right;
}

@media (max-width: 751px) {
  .tds-page-banner.long-content #page-banner {
    height: auto !important;
  }
  .tds-page-banner.long-content .banner-content {
    width: 100%;
    max-width: 100%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
}

@media (max-width: 583px) {
  .tds-page-banner.long-content div#page-banner {
    margin-top: 0;
  }
  .tds-page-banner.long-content .banner-content {
    margin-top: 20%;
    margin-bottom: 8%;
  }
}

.tds-page-banner.error-page .banner-content {
  margin: 5% auto;
  max-width: 85%;
}

.tds-page-banner.error-page #page-banner {
  height: auto !important;
}

.tds-page-banner.error-page h1.banner-title {
  font-size: 28px;
}

@media (max-width: 750px) {
  .tds-page-banner.error-page .banner-content {
    max-width: 100%;
    margin: 8% auto;
  }
}

.tds-page-banner.error-page p.h2 {
  font-size: 24px;
  color: #353535;
}

@media (max-width: 584px) {
  .tds-page-banner.error-page h1.banner-title {
    font-size: 22px;
  }
  .tds-page-banner.error-page p.h2 {
    font-size: 20px;
  }
}

/* tds-biz-collapsible-archive
==========================================*/
.collapsibleArchive .panel-group.tds-collapse .panel-heading a.btn-block {
  color: white;
  background-color: #19388A;
}

.collapsibleArchive .panel-group.tds-collapse .panel-heading a.btn-block:hover {
  color: white;
  background-color: #0c8fd0;
}

.collapsibleArchive .panel-group.tds-collapse .panel-heading a.btn-block.collapsed {
  color: #fff;
  background-color: #25acf0;
}

.collapsibleArchive .panel-group.tds-collapse .panel-heading a.btn-block.collapsed:hover,
.collapsibleArchive .panel-group.tds-collapse .panel-heading a.btn-block.collapsed:focus {
  color: #fff;
  background-color: #19388a;
}

.panel-group.tds-collapse .panel-heading a.btn-block:focus.collapsed .icon-expand {
  background-image: url(/content/dam/tdstelecom/images/ui/icon_plus-white.svg);
}

/* tds-biz-news-feed-articles
==========================================*/
.pagelayout .tds-news-feed-group {
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tds-news-feed-group .tds-news-feed {
  border-bottom: 1px solid #e3e3e3;
}

.tds-block-dk-blue .tds-news-feed-group .tds-news-feed,
.tds-block-lt-blue .tds-news-feed-group .tds-news-feed,
.tds-block-orange .tds-news-feed-group .tds-news-feed,
.tds-block-dk-gray .tds-news-feed-group .tds-news-feed {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*--HYDRA-2137 Agent Portal - Styling - News article (incentive and promos) --*/
.tds-news-feed-parsys {
  margin: 0px 0px 0px 0px;
}

.tds-news-feed-group.tds-news-feed-group-mixed.homepage {
  padding-left: 0;
}

.tds-news-feed-group.tds-news-feed-group-mixed.homepage h2 {
  margin-top: 0;
  padding-top: 0;
}

.media.tds-news-feed.feature-article .feed-image {
  display: block;
}

.media.tds-news-feed.feature-article .feed-image img {
  object-fit: cover;
  object-position: 0% 20%;
  height: 300px;
  padding: 0 !important;
}

@media screen and (min-width: 480px) {
  .media-body img {
    float: none;
    object-fit: cover;
    object-position: 0% 20%;
    height: 120px;
    width: 120px;
    padding: 0 !important;
  }
  .feed-image {
    display: table-cell;
  }
}

@media screen and (max-width: 479px) {
  .media.tds-news-feed.feature-article .feed-image img {
    height: 200px;
  }
  .media-body img {
    float: none;
    object-fit: cover;
    object-position: 0% 20%;
    width: 100%;
  }
  .feed-image {
    display: block;
    margin-bottom: 20px;
  }
}

/* tds-biz-dam-styles
==========================================*/
