/* tds-footer.scss
==========================================*/
.footer-block {
  display: block;
}
#genericfooter-container {
  background-color: #555555;
  width: 100%;
  display: table;
  border-top: solid 4px #353535;
}
//centers the large nav bar menu component in the footer
#genericfooter-container .customLargeNavBar.parbase.navbar {
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;
}
.extended-footer {
  background: #555;
  padding: 0;
  .container {
      padding: 0;
  }
}

.footer-contact-wrap .container {
    padding: 0;
}
//===== footer copyright =======================================================
//==============================================================================
#copyright-container {
  background-color: $tds-dkr-gray;
  width: 100%;
}
div.copyright-logo,
div.copyright-text {
  display: table-cell;
  vertical-align: top;
}
div.copyright-text {
  margin: 0;
  padding: 30px;
  font-family: $tds-font-body;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 21px;
  color: #cacaca;
}
.copyright-text > p {
  margin: 0;
}
.copyright-text p span {
  display: inline-block;
}
.copyright-text p {
  color: #cacaca;
}
.reg-mark {
  font-size: 7px;
  vertical-align: 4px;
}
@media (max-width: $screen-sm-min) {
  div.copyright-text {
    //padding: 18px 40px 30px 10px;
  }
}
@media all and (max-width: $screen-xs-min) {
  div#copyright-long-text {
    display: none;
  }
  div.copyright-text {
    padding: 30px;
    display: block;
    text-align: center;
  }
}
div.copyright-text {
    padding-left: 12px;
}

@media (max-width: 750px) {
    div.copyright-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 32px;
    }
    div.copyright-text {
        text-align: center;
        padding-top: 0;
    }
}
@media (max-width: 584px) {
    div.copyright-logo {
        display: none;
    }
    div.copyright-text {
        padding: 24px;
    }
}

/*==================================================
#FOOTER LOG IN BUTTON
==================================================*/
div#footer-login {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}
@media all and (min-width: $screen-sm-min) {
  div#footer-login {
    display: none;
  }
}

.btn-login {
  font-family: $tds-font-family;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  padding: 12px 0;
  color: #ffffff;
  padding-left: 1em;
  background-color: #19388a;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}
.btn-login:hover {
  background-color: #0c8fd0;
  color: #ffffff;
  text-decoration: none;
}
.btn-right-arrow-white {
  display: inline-block;
  height: 18px;
  width: 9px;
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.png);
  background-image: linear-gradient(transparent, transparent), url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-white.svg);
  background-size: 9px 14px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 1em;
}
// ===== Homepage/Extended footer ==============================================
//moved to _tds-footer-extended.scss
// =============================================================================
