/* tds-bundle-builder
==========================================*/
// this is used in the shop section

// TODO see if they're still needed
#bundleMessages {
    display: none;
}

.bundle-success {
    background-color: #90ee90;
    border: 2px solid #008000;
    color: #006400;
}

.tds-select-btn ul {
    top: 2.3em;
}

.ext-gecko #CQ .x-form-text, .ext-ie8 #CQ .x-form-text {
    min-height: 22px;
    min-width: 300px;
}

#one-time-costs, #one-time-credits {
    display: none;
}

.tab-contents {
    /*border: 1px solid black;*/
}
/* END taken from bundlecontainer.css */

// note from liz: these aren't actually page banners,
// just the content that goes under the page banner on
// the bundle picker pages
.bundleSubheader h3 {
  font-family: $tds-font-family;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.1em;
  color: $tds-dk-blue;
}
.bundle_container .tds-page-banner {
  max-width: 960px;
  &.tds-sub-banner {
    border-bottom: 2px solid $tds-dk-blue; // border just for sub-banners
  }
}
.bundleSubheader {
  padding-top: 20px;
  padding-bottom: 35px;
}

.bundle-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  padding: 16px 50px 16px 16px;
  line-height: 24px;
  font-family: 'ITC Avant Garde Gothic W01';
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  overflow: hidden;
  background-color: $tds-critical-bg;
  border-color: $tds-red;
  color: #000;
  border-left: 3px solid $tds-red!important;
  border: 0 solid transparent;
}
.bundle-error:before {
    color: #cb1c1d;
}
.bundle-error h4 {
  margin-top: 0;
  color: inherit;
}
.bundle-error h5 {
    color: #000;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}
.bundle-error .alert-link {
  font-weight: bold;
}
.bundle-error>p,
.bundle-error>ul {
  margin-bottom: 0;
}
.bundle-error>p+p {
  margin-top: 5px;
}
.bundle-error a {
  color: #000;
  text-decoration: underline;
}
.bundle-error #enteredAddress a {
  text-decoration: underline;
}
.bundle-error #enteredAddress a:hover {
  text-decoration: none;
}
.bundle-error .tds-error-msg-description {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}
.bundle-error .tds-error-msg-description .fa,
.bundle-error .tds-error-msg-description span {
  float: left;
  display: table;
  margin-right: 15px;
}
.bundle-error>.fa {
  width: 25px;
}
.bundle-error ul {
  display: block;
  margin: 10px;
}
.bundle-error ul li {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.bundle-error ul li:before {
  margin-right: 10px;
}
.bundle-error hr {
  border-top-color: $tds-red;
}
.bundle-error .alert-link {
  color: $tds-red;
}
.bundle-error:before {
  width: 25px;
  content: "\f06a";
  margin-right: 20px;
  font: normal normal normal 14px/1 FontAwesome;
  color: $tds-red;
}
.tds-pb-logo {
  position: relative;
  top: 18px;
  text-align: center;
}
//moved to page-layout.scss
//moved to grid.scss
//moved to type.scss
.bundle_container ul.ui-tabs-nav {
  max-width: 100%;
  margin: 0 auto;
  display: table;
}
.ui-tabs .ui-tabs-panel {
  border-top: 2px solid $tds-blue-100!important;
  max-width: 940px;
  margin-left: 15px;
  margin-top: 20px;
}
.bundle_container ul.ui-tabs-nav li {
  position: relative;
  margin-bottom: 20px !important;
  margin-left: 2em;
  min-height: 3em;
  border-color: transparent;
}
.bundle_container ul.ui-tabs-nav li a {
  display: block;
  width: auto;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.ui-state-default {
  opacity: 0.5;
  filter:alpha(opacity=50);
}
.ui-state-active {
  opacity: 1;
  filter:alpha(opacity=100);
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  cursor: default!important;
}
.bundle_container ul.ui-tabs-nav li:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
  content: "\f054";
  color: $tds-gray;
  font-size: 55px;
}
.bundle_container ul.ui-tabs-nav li:after.pull-left {
  margin-right: 0.3em;
}
.bundle_container ul.ui-tabs-nav li:after.pull-right {
  margin-left: 0.3em;
}
a#internet-tab,
a#phone-tab,
a#tv-tab,
a#extra-tab {
  height: 55px;
  font-family: 'ITC Avant Garde Gothic W01';
  padding-left: 65px;
}
a#internet-tab {
  background: url(/content/dam/tdstelecom/images/products/internet/icon-product-internet.svg) left center no-repeat;
  -ms-background-position-x: -60px;
}
a#phone-tab {
  background: url(/content/dam/tdstelecom/images/products/phone/icon-product-phone.svg) left center no-repeat;
  -ms-background-position-x: -50px;
}
a#tv-tab {
  background: url(/content/dam/tdstelecom/images/products/tv/icon-product-tv.svg) left center no-repeat;
  -ms-background-position-x: -27px;
}
a#extra-tab {
  background: url(/content/dam/tdstelecom/images/products/bundles/icon-bundle-triple.svg) left center no-repeat;
  -ms-background-position-x: -45px;
}
.ui-tabs-nav,
.ui-widget-header,
.ui-state-default {
  background: transparent!important;
  border: 0 transparent!important;
}
.ui-tabs-nav,
.ui-widget-header,
.ui-state-default {
  background: transparent!important;
  border: 0 transparent!important;
}
.top-header .dropdown-menu {
  min-width: 1px;
}
.top-header img.right-caret-sm,
.top-header img.right-caret-open-sm,
.top-header img.down-caret-sm,
.top-header img.down-caret-open-sm {
  height: 12px;
  width: 12px;
}
.top-header img.right-caret-open-sm,
.top-header img.right-caret-sm {
  top: 0;
}
.top-header .dropdown-menu.sub-menu {
  background: $tds-dk-gray;
}
.top-header .dropdown-menu.sub-menu li a {
  padding-right: 40px !important;
}
.top-header .dropdown-menu.sub-menu li a:hover {
  background-color: $tds-dkr-gray;
}
.top-header .dropdown-menu.sub-menu li a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
  font-size: 17px;
}
.top-header .dropdown-menu.sub-menu li a:after.pull-left {
  margin-right: 0.3em;
}
.top-header .dropdown-menu.sub-menu li a:after.pull-right {
  margin-left: 0.3em;
}
.top-header .dropdown-menu.sub-menu li a:hover:after {
  content: "\f0da";
  position: absolute;
  right: 15px;
}
.top-header .nav>li>a,
.tds-user-nav li a {
  font-family: 'Neue Helvetica W01';
}
.tds-user-nav li {
  margin-top: 5px;
  margin-left: 20px;
}
img.down-caret-green-lg {
  background-position: -115px -101px;
}
.nav-bar .nav-tabs a {
  color: $tds-blue-100;
}
.nav-bar .menu>ul ul.dropdown {
  padding-left: 0;
  list-style-type: none;
}
.site-navigation .nav>li>a:hover,
.site-navigation .nav>li>a:focus {
  background-color: $tds-dkr-gray;
}
.site-navigation ul {
  font-family: 'ITC Avant Garde Gothic W01';
}
//moved to breadcrumbs
.bundle_container h2 {
  text-align: center;
  font-family: 'ITC Avant Garde Gothic W01';
}
#bundle-products {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  border-radius: 0;
  border: 0 solid transparent;
}
.prod-section-wrap {
  position: relative;
  float: left;
  margin-bottom: 20px;
  padding-top: 36px;
  width: 100%;
  min-height: 1px;
  border-bottom: 2px solid $tds-lt-gray;
}
.prod-summary {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media(min-width:$screen-sm) {
  .prod-summary {
    float: left;
    width: 33.33333333%;
  }
}
.prod-summary .prod-title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: $tds-blue-100;
  margin-bottom: 20px;
  color: $tds-lt-blue-80;
  font-size: 24px;
  font-family: 'ITC Avant Garde Gothic W01';
  font-weight: 400;
}
.prod-summary .prod-title small,
.prod-summary .prod-title .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
.prod-summary .prod-title small,
.prod-summary .prod-title .small {
  font-size: 75%;
}
.tds-error-msg.tds-plus-pricing {
  padding: 30px 0;
  text-align: center;
}
.prod-items {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: right!important;
}
@media(min-width:$screen-sm) {
  .prod-items {
    float: left;
    width: 66.66666667%;
  }
}
.prod-contents .prod-name {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  color: $tds-blue-100;
  margin-top: 0;
}
.prod-contents .prod-name small,
.prod-contents .prod-name .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
.prod-contents .prod-name small,
.prod-contents .prod-name .small {
  font-size: 75%;
}
.prod-contents .price-text {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: $tds-blue-100;
  margin-bottom: 20px;
  color: $tds-green-80;
  font-size: 24px;
}
.prod-contents .price-text small,
.prod-contents .price-text .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
.prod-contents .price-text small,
.prod-contents .price-text .small {
  font-size: 75%;
}
.prod-contents .prod-name,
.prod-contents .price-text {
  font-family: 'ITC Avant Garde Gothic W01';
}
.prod-contents .price-text.price-base {
  font-size: 18px;
}
.prod-contents .term-base {
  font-size: 85%;
}
.prod-contents a {
  color: $tds-blue-100!important;
}
.prod-subitems>p {
  font-family: 'ITC Avant Garde Gothic W01';
  text-transform: uppercase;
  font-weight: 500;
}
.dish-subtotal.prod-contents {
  background: $tds-ltr-gray;
  border-top: 2px dotted $tds-lt-gray!important;
  border-bottom-color: transparent!important;
  border-right-color: transparent!important;
  border-left-color: transparent!important;
}
.prod-contents hr {
  border: solid 1px $tds-blue-40;
}
.bottom-buttons {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 1px;
}
.campaign-subtotal {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1em auto;
  padding-top: 1em;
  border-top: 2px solid $tds-blue-100;
  border-bottom: 3px solid $tds-lt-blue-80;
}
.row.tds-divider {
  padding-top: 16px;
  padding-bottom: 36px;
  border-bottom: 2px solid $tds-lt-gray;
}
.row.tds-divider.last {
  padding-top: 36px;
  border-color: transparent;
}
.row.tds-divider h3 {
  color: $tds-lt-blue-80;
}
.row.tds-divider h2 {
  color: $tds-blue-100;
}
div#usernameError {
  margin-top: 20px;
}
.prod-items .hit-area {
  display: inline-block;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
}
.prod-items .hit-area input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.prod-items .check-radio-btn {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin: 22px 9px 10px 0;
  background: #fff;
  border: 3px solid $tds-gray;
  border-radius: 50%;
}
.prod-items input:checked+label .check-radio-btn {
  background: $tds-green-80;
  border: 3px solid $tds-green-80;
}
.prod-items input:checked+label .check-radio-btn:before {
  position: absolute;
  transform: rotate(-45deg);
  margin: 5px 3px;
  height: 0.7rem;
  width: 1.2rem;
  content: "";
  background: transparent;
  border: 3px solid $tds-lt-gray;
  border-top-style: none!important;
  border-right-style: none!important;
  border-radius: 0;
}
.prod-items input[type="radio"] {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.prod-items label {
  float: left;
}
input.addressRadio,
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  position: absolute;
  display: block;
  float: left;
  margin: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}
span.tds-radio-btn {
  display: block;
  float: left;
  margin: 0 14px 0 0;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 3px solid $tds-gray;
  border-radius: 50%;
}
.radio {
  margin-bottom: 20px;
}
input:checked+.tds-radio-btn {
  background: $tds-green-80;
  border: 3px solid $tds-green-80;
}
input:checked+.tds-radio-btn:before {
  content: "";
  position: absolute;
  margin: 5px 3px;
  height: 0.7rem;
  width: 1.2rem;
  background: transparent;
  border: 3px solid $tds-lt-gray;
  border-top-style: none!important;
  border-right-style: none!important;
  border-radius: 0;
  transform: rotate(-45deg);
}
.sel-summary .summ-header-text {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'ITC Avant Garde Gothic W01';
  margin-bottom: 20px;
  font-size: 24px;
  color: $tds-lt-blue-80;
}
.sel-summary .summ-header-text small,
.sel-summary .summ-header-text .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
.sel-summary .summ-header-text small,
.sel-summary .summ-header-text .small {
  font-size: 65%;
}
.summ-items {
  float: right;
}
.summ-column {
  text-align: center;
}
[class*="sel-head-text"] {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: $tds-blue-100;
  margin-bottom: 20px;
}
[class*="sel-head-text"] small,
[class*="sel-head-text"] .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
[class*="sel-head-text"] small,
[class*="sel-head-text"] .small {
  font-size: 75%;
}
[class*="sel-price-text"] {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  font-size: 28px;
  color: $tds-blue-100;
  font-family: 'ITC Avant Garde Gothic W01';
}
[class*="sel-price-text"] small,
[class*="sel-price-text"] .small {
  font-weight: normal;
  line-height: 1;
  color: $tds-dk-gray-80;
}
[class*="sel-price-text"] small,
[class*="sel-price-text"] .small {
  font-size: 65%;
}
.summ-fees {
  font-size: 85%;
}
.sel-price-text-mth {
  color: $tds-green-80;
}

.bundleSubheader h3 {
  font-family: 'ITC Avant Garde Gothic W01';
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.1em;
  color: $tds-blue-100;
}
.bundle_container .tds-page-banner {
  max-width: 940px;
}
.bundle_container .tds-page-banner.tds-sub-banner {
  border-bottom: 2px solid $tds-blue-100;
}
.bundleSubheader {
  padding: 20px 30px 35px;
}
.bundle_container.section {
  float: left;
}

.bundle_container h2 {
  text-transform: uppercase;
  color: $tds-lt-blue-80;
  font-weight: 300;
}
.bundleSubheader h2 {
  margin-top: 0;
  margin-bottom: 45px;
  text-align: left!important;
  font-size: 20pt;
  font-weight: 300;
}
.bundleSubheader p {
  font-size: 1.3em;
  color: #555;
}
.tds-header {
  margin-bottom: 36px;
  color: $tds-blue-100;
}
.referralProgram .tds-header {
  color: $tds-lt-blue-80;
}
// h3{color:#141414} removed via git commit #e88dd5a
#captilize {
  font-weight: bold;
}
// christ
.tds-price {
  font-family: 'ITC Avant Garde Gothic W01';
}
h2.tds-price {
  margin: -10px 0 0;
  height: auto!important;
  font-weight: 500;
}
h2.tds-price small {
  color: $tds-blue-100;
  margin-left: -7px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 500;
}
h3.tds-price {
  margin: -10px 0 10px;
  height: auto;
  font-weight: 500;
}
.pluspack-lineitem.tds-panel h3 {
  padding-left: 0;
  margin-top: 5px;
  color: $tds-lt-blue-80;
}
.tds-cart-price {
  color: $tds-green-80;
}
.tds-cost-price {
  color: $tds-blue-100;
}
.tds-cart-price,
.tds-cost-price {
  font-family: 'ITC Avant Garde Gothic W01';
}
.price-text.price-base {
  font-size: 85%;
}
h6.disclaimer-heading {
  font-weight: bold;
}
.bundle_container .tds-page-banner.tds-sub-banner .col-sm-8 {
  width: 100% !important;
}
.bundleSubheader h2 {
  text-transform: none;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'ITC Avant Garde Gothic W01';
}
// even more mobile bundle
@media (max-width: $screen-md) {
  .bundle_container ul.ui-tabs-nav li {
    width: 80%;
  }
  .bundle_container ul.ui-tabs-nav li a {
    width: 100%;
  }
}
// checkboxed on xs screens
@media (max-width: $screen-xs) {
  .prod-items > label {
    position: absolute;
    left: 20px;
    z-index: 2;
  }
  .prod-items>.prod-contents,
  .prod-items.tds-plus-packs .prod-contents {
    padding: 20px 20px 20px 50px;
    width: 100%;
    margin-left: -20px;
    margin-right: -15px;
    left: -25px;
    position: relative;
  }
}
