// Media Queries
@mixin phones {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin tablets {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin desktops {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// EXAMPLE USAGE
// .container {
//   background: $tds-dk-blue;
//   @include phones {
//     background: red;
//   }
//   @include tablets {
//     background: green;
//   }
//   @include desktops {
//     background: orange;
//   }
// }

//Legacy Media Queries - Needs to be obsoleted. doh!
$tablet-width: 750px;
$desktop-width: 1024px;
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Vendor Prefixes
// HOW TO USE:
// @include prefix(transition, all 2s ease);
// OUTPUTS:
// -webkit-transition: all 2s ease;
// -moz-transition: all 2s ease;
// -ms-transition: all 2s ease;
// -o-transition: all 2s ease;
// transition: all 2s ease;
@mixin prefix($property, $value, $vendors: (webkit moz ms o)) {
  @each $vendor in $vendors {
    #{'-' + $vendor + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin tds_card {
  position: relative;
  min-height: 1px;
  float: left;
  //float causing display issues but there are so many dependencies we have to leave as is
  width: 100%;
  margin-bottom: 28px;
  padding: 24px;
  background-color: $tds-white;
  border: 3px solid $tds-lt-gray;
  h2,
  h3 {
      margin-top: 0;
  }
  h3 {
      font-size: 1.5em;
  }
  .card-content {
      margin-top: 20px;
  }
  ul {
      padding-left: 20px;
      li {
          color: $tds-dk-gray;
          margin-bottom: 6px;
      }
  }
}

// Clearfix //
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
