/* tds-package-builder
==========================================*/
// NOTE: cable site uses the package builder component which
// will hopefully replace the old bundle builder component
// this component uses bootstrap's toggleable/dynamic tabs
// instead of jquery ui tabs (because there is less css to override)

/* Section Layout */
// ----------------
.pkg-builder-form.section-layout h2 {
}
.pkg-prod-list-summary {
    padding-left: 0;
}

.pkg-prod-list-options {
    padding-right: 0;
    padding-left: 48px;
}
// Section Navigation/Tabs
// ----------------
.pkg-builder-tab-hr {
    background-color: #19388a;
    height: 2px;
}
.pkg-builder-nav-tabs {
    max-width: 100%;
    margin: 20px auto;
    display: table;
    border: none;
}
.pkg-builder-container .pkg-builder-nav-tabs li {
    opacity: 1;
    padding: 0;
    display: block;
    width: auto;
    margin-left: 0px;
    min-height: 0;
    margin-bottom: 0;
}
.pkg-builder-container .pkg-builder-nav-tabs > li > a,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:link,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:visited {
    color: #aaa;
    height: 55px;
    font-family: 'ITC Avant Garde Gothic W01';
    font-size: 22px;
    background: none;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a,
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a:hover {
    color: #19388a;
    border-color: transparent;
}
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a:before {
    filter: grayscale(0%);
    opacity: 1;
}
.pkg-builder-container .pkg-builder-nav-tabs > li > a:hover,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:focus {
    filter: grayscale(0%);
    opacity: 1;
    color: #0c8fd0;
    border-color: transparent;
}
.pkg-builder-container .pkg-builder-nav-tabs > li:focus > a {
    color: #0c8fd0;
}
.pkg-builder-container .pkg-builder-nav-tabs > li:focus > a:before {
    filter: grayscale(0%);
    opacity: 1;
}

//product icons before categories
// ----------------
.pkg-builder-nav-tabs li a .pkg-category-img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    filter: grayscale(100%);
    opacity: 0.5;
    background-size: 50px;
    background-repeat: no-repeat;
}
.pkg-builder-nav-tabs li a:hover .pkg-category-img,
.pkg-builder-nav-tabs li a:focus .pkg-category-img,
.pkg-builder-nav-tabs li.active a .pkg-category-img {
    filter: grayscale(0%);
    opacity: 1;
}
.pkg-builder-nav-tabs > li > a {
  padding: 0 44px 0 0;
}
// arrow icons after categories
.pkg-builder-container .pkg-builder-nav-tabs li a:after {
    content: "";
    width: 40px;
    height: 50px;
    background-image: url("/content/dam/tdstelecom/images/ui/arrows/right-arrow-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    opacity: 0.4;
    display: block;
    position: absolute;
    right: 4px;
    top: 0;
}
// removes arrow icon from last item in tabs
.pkg-builder-container .pkg-builder-nav-tabs li:last-child a:after {
    content: none;
}
//tabs with numbers
body {
    counter-reset: section;
}
ul.nav.nav-tabs.pkg-builder-nav-tabs.has-numbers {
    text-align: center;
    margin-top: 0;
}

ul.nav.nav-tabs.pkg-builder-nav-tabs.has-numbers>li {
    float: none;
    display: inline-block;
    margin-top: 20px;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li:before {
    counter-increment: section;
    content: counter(section);
    color:white;
    font-size: 24px;
    font-weight: 500;
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    background-color:#7a86b7;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li a {
  padding-left: 50px;
  padding-right: 56px;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li a img {
    display:none;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li a:after {
    width: 46px;
    height: 40px;
    background-size: 40px 40px;
    opacity: 0.4;
    right: 4px;
    top: 0;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers > li > a,
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers > li > a:link,
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers > li > a:visited {
  height: 40px;
  line-height: 40px;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li.active:before {
    background-color: #19388a;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li:hover:before {
    background-color: #0c8fd0;
}
.pkg-builder-container .pkg-builder-nav-tabs.has-numbers li:last-child a {
    padding-right: 0px;
}
@media (max-width:625px) {
    .pkg-builder-nav-tabs > li > a {
        padding: 0 50px 0 0;
    }
    .pkg-category-img {
        width: 40px;
        background-size: 34px;
    }
    .pkg-builder-container .pkg-builder-nav-tabs li:after {
        width: 36px;
        height: 40px;
        background-size: 30px 30px;
        margin-right: 5px;
        margin-left: 3px;
    }
}
@media (max-width:445px) {
    .pkg-builder-container .pkg-builder-nav-tabs li {
        margin-left: 0;
        min-height: 0;
        margin-bottom: 0;
    }
}
@media (max-width:340px) {
    .pkg-builder-container .pkg-builder-nav-tabs li {
        float: none;
    }

    .pkg-category-img {
        display: none;
    }
}
@media (max-width: 400px) {
    ul.nav.nav-tabs.pkg-builder-nav-tabs.has-numbers {
        text-align: left;
        margin-top: 0;
    }
    ul.nav.nav-tabs.pkg-builder-nav-tabs.has-numbers>li {
        float: none;
        display: block;
        margin-top: 20px;
        min-width: 240px;
    }
    .pkg-builder-container .pkg-builder-nav-tabs.has-numbers li a {
        padding-left: 60px;
    }
}
// typography
// ----------------
.prod-listitem-content {
  h3 {
    margin-top: 0;
    span { // use for (optional)
        font-size: 75%;
        color: #555;
    }
  }
  p {
      margin-bottom: 0;
  }
}

.pkg-product-card {
  .prod-name {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 21px;
  }
  .product-content {
    p:last-child {
        margin-bottom: 0;
    }
  }
  .product-price {
    .price-text.price-base {
        font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
        font-size: 21px;
        color: #578228;
        font-weight: 500;
        line-height: 1.25em;
    }
    .price-text > .term {
        font-size: 70%;
        text-transform: uppercase;
        display: inline-block;
    }
  }
}

.product-subitem {
  .prod-subitem-heading {
      font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
      font-size: 16px;
      color: #353535;
      font-weight: 400;
      margin-top: 20px;
      text-transform: uppercase;
  }
  .prod-subitem-name {
      font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
      color: #19388a;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
  }
}

// Section/Tab Content
// ----------------
.tab-content.pkg-builder-tab-content {
    margin-top: 24px;
}

// product list section
.product-list-contents {
    padding: 20px 0;
    border-bottom: solid 2px #d3d8e8;
}
.pkg-builder-tab-content > div > .product-list-contents:first-child {
    padding-top: 0;
}
.product-list-contents:nth-last-child(2) {
    border-bottom: none;
    padding-bottom: 0;
}

// Package Cards
// ----------------
.pkg-product-card {
    border: solid 3px #d9d9d9;
}
.pkg-product-card.is-selected {
  background-color: #d9d9d9;
}
.product-content {
    padding: 0 20px 20px 20px;
}
.prod-subitem-content {
    padding: 8px 20px 0 44px;
}
// Package product list item radio styling
.pkg-product-card:last-child {
    margin-bottom: 4px;
}
.pkg-product-card .pkg-builder-listoption-wrap {
    margin: 0;
}
.pkg-product-card .pkg-builder-label {
    padding: 20px 20px 8px 20px;
}
.pkg-product-card .pkg-builder-listoption-wrap .tds-radio-btn {
    margin-left: -64px;
    margin-top: -4px;
}
.pkg-product-card input:disabled + .tds-radio-btn {
    opacity: initial;
    background-color: #999;
    border-color: #999;
}
.pkg-builder-listoption-wrap .product-subitem .form-sub-group {
    padding: 0 0 20px 20px;
}
.pkg-builder-listoption-wrap .product-content .form-sub-group {
    padding: 0;
}
.pkg-builder-listoption-wrap .form-sub-group .input-group.bootstrap-touchspin {
    margin-top:0;
}
// Package product subitem/addon
// ----------------
.pkg-product-card .product-subitem .form-group:last-child {
    margin-bottom: 0;
}

.pkg-product-card .product-subitem .form-group > .tds-divider-line {
    margin-top: 20px;
}

.pkg-product-card .product-subitem .form-group:last-child > .tds-divider-line {
    display: none;
}
// alert spacing in addon section
.prod-subitem-content ~ .tds-alert.tds-alert-critical {
    margin-top: 16px;
    margin-bottom: 0;
}
// Package product subitem checkbox
.pkg-builder-addon-wrap {
    margin: 0px;
    padding: 0 20px 20px 20px;
}
.pkg-builder-addon-wrap .product-subitem {
    margin-bottom: 0;
    margin-top: 20px;
}
.pkg-builder-addon-wrap .product-subitem .tds-radio-btn {
    margin-left: -42px;
}
.pkg-builder-addon-wrap .product-subitem label {
    padding-left: 44px;
}
// package subtotal
// ----------------
.pkg-builder-subtotal {
    margin-top: 4px;
    margin-bottom: 24px;
}
.pkg-subtotal-content {
    padding: 21px 0;
}
.subtotal-column {
    text-align: center;
}

.subtotal-column-content {
    padding: 0 8px;
    margin: 0 auto;
    float: right;
}

.subtotal-items {
    text-align: center;
}
h3.subtotal-header-text {
    margin-top: 0;
    font-weight: 400;
}
.pkg-subtotal-content .sel-head-text {
    color: #353535;
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    margin-bottom: 0;
    margin-top: 0;
}
.pkg-subtotal-content .sel-price-text {
    margin-top: 10px;
}
.pkg-subtotal-content .sel-head-text.sel-head-text-mth {
    color: #19388a;
}
.pkg-subtotal-content .sel-price-text.sel-price-text-mth {
    margin-bottom: 8px;
}
.subtotal-fees{
    font-size: 75%;
    margin-bottom: 0;
}
table.table.pkg-subtotal-table {
    margin-bottom: 0;
}
.table.pkg-subtotal-table > tbody > tr > td.subtotal-column {
    padding: 0;
}

@media (max-width: 960px) {
    .pkg-subtotal-content .subtotal-header-text {
        text-align: left;
    }
    .sel-summary.col-sm-12.col-md-3 {
        text-align: center;
    }
}
@media (max-width:750px) {
    .subtotal-column-content {
        float: none;
    }
    .pkg-subtotal-content .subtotal-header-text {
        text-align: center;
    }
}
@media (max-width: 584px) {
    .sel-head-text {
        font-size: 16px;
    }
    h3.subtotal-header-text {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .pkg-subtotal-content .sel-price-text {
        font-size: 24px;
    }
    .pkg-subtotal-content .sel-price-text.sel-price-text-mth {
        margin-bottom: 4px;
    }
}
@media (max-width:420px){
   .table.pkg-subtotal-table > tbody > tr > td.subtotal-column {
        display: block!important;
    }
}
// divider lines
.tab-content .bottom-buttons .tds-divider-line.thin-lt-gray {
    margin-bottom: 4px;
}
//loading modal
.pkg-builder-modal .modal-body.tds-msg-box {
    border: none;
    min-height: inherit;
    border-top: 5px solid #19388a;
}
.pkg-builder-modal .modal-body.tds-msg-box .tds-msg-box {
    border: none;
    padding: 0;
    text-align: center;
    min-height: inherit;
}
.pkg-builder-modal .modal-body .tds-msg-box h2 {
    font-size: 24px;
    font-weight: 400;
}
.pkg-builder-modal .tds-modal .modal-body .tds-msg-box .spinner {
    margin-top: 22px;
    margin-bottom: 20px;
}
@media (max-width:751px) {
    .pkg-prod-list-options {
        padding-left: 0px;
    }
    .pkg-product-card .pkg-builder-listoption-wrap .tds-radio-btn {
        margin-left: -40px;
    }
    .pkg-product-card .pkg-builder-label {
        padding-left: 60px;
        padding-top: 24px;
    }
}

@media (max-width:583px) {
    .pkg-product-card .pkg-builder-label {
        padding-left: 54px;
        padding-top: 16px;
    }
    .product-content {
        padding: 0 14px 14px 14px;
    }
    .pkg-builder-addon-wrap {
        margin: 0px;
        padding: 0 14px 14px 14px;
    }
    .pkg-builder-form h2 {
        font-size: 24px;
    }
    .pkg-builder-form h3 {
        font-size: 21px;
    }
    .pkg-builder-form .h4 {
        font-size: 18px;
    }
}
