/* tds-outdated-browser
==========================================*/
#old-browser {
	position: relative;
	background-color: #FFF8D8;
	border-top: solid 3px #FFCE00;
	color: #353535;
	padding: 16px 50px 16px 16px;
	max-width: 960px;
	margin: 0 auto;
	font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	margin-top: 24px;
	z-index: 10;
	padding-left: 50px;
	background-image:
	   linear-gradient(transparent, transparent),
	   url('/content/dam/tdstelecom/images/ui/alerts/icon_alert-warning.svg');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 14px 15px;
}

#old-browser > a {
	color: #000000;
	text-decoration: underline;
}
#close-icon {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 13px;
	right: 16px;
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/icon_x-yellow.svg');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center 5px;
	cursor: pointer;
}
#close-icon:hover {
	background-image: linear-gradient(transparent, transparent), url('/content/dam/tdstelecom/images/ui/icon_x-black.svg');
}

// @media all and (min-width: 751px) {
// }

@media all and (max-width: $screen-sm-min) {
.oldbrowser-container {
	padding: 0;
}
#old-browser {
	margin: 0;
}
}
