/* tds-package-builder
==========================================*/
// NOTE: cable site uses the package builder component which
// will hopefully replace the old bundle builder component
// this component uses bootstrap's toggleable/dynamic tabs
// instead of jquery ui tabs (because there is less css to override)

// Section Layout
// ----------------
.pkg-builder-form.section-layout h2 {
}
.col-sm-4.pkg-prod-list-summary {
    padding-left: 0;
}

.col-sm-8.pkg-prod-list-options {
    padding-right: 0;
    padding-left: 48px;
}
// Section Navigation/Tabs
// ----------------
.pkg-builder-tab-hr {
    background-color: #19388a;
    height: 2px;
}
.pkg-builder-nav-tabs {
    max-width: 100%;
    margin: 20px auto;
    display: table;
    border: none;
}
.pkg-builder-container .pkg-builder-nav-tabs li {
    opacity: 1;
    padding: 0;
    display: block;
    width: auto;
    margin-left: 0px;
    min-height: 0;
    margin-bottom: 0!important;
}
.pkg-builder-container .pkg-builder-nav-tabs > li > a,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:link,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:visited {
    color: #aaa;
    height: 55px;
    font-family: 'ITC Avant Garde Gothic W01';
    font-size: 22px;
    background: none;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a,
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a:hover {
    color: #19388a;
    border-color: transparent;
}
.pkg-builder-container .pkg-builder-nav-tabs > li.active > a:before {
    filter: grayscale(0%);
    opacity: 1;
}
.pkg-builder-container .pkg-builder-nav-tabs > li > a:hover,
.pkg-builder-container .pkg-builder-nav-tabs > li > a:focus {
    filter: grayscale(0%);
    opacity: 1;
    color: #0c8fd0;
    border-color: transparent;
}
.pkg-builder-container .pkg-builder-nav-tabs > li:focus > a {
    color: #0c8fd0;
}
.pkg-builder-container .pkg-builder-nav-tabs > li:focus > a:before {
    filter: grayscale(0%);
    opacity: 1;
}
// adds padding to allow for icons and arrows
.pkg-builder-container .pkg-builder-nav-tabs > li > a.pkg-builder-internet-tab,
.pkg-builder-container .pkg-builder-nav-tabs > li > a.pkg-builder-phone-tab,
.pkg-builder-container .pkg-builder-nav-tabs > li > a.pkg-builder-tv-tab {
    padding: 0 50px 0 60px;
}
.pkg-builder-container .pkg-builder-nav-tabs > li > a.pkg-builder-extra-tab {
    padding: 0;
}
//product icons before categories
// ----------------
.pkg-builder-internet-tab:before,
.pkg-builder-phone-tab:before,
.pkg-builder-tv-tab:before {
    content: "";
    width: 60px;
    height: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50px;
    margin-top: 0;
    filter: grayscale(100%);
    opacity: 0.5;
    position: absolute;
    left: 0;
}
.pkg-builder-internet-tab:before {
    background-image: url("/content/dam/tdstelecom/images/products/internet/icon-product-internet.svg");
}
.pkg-builder-phone-tab:before {
    background-image: url("/content/dam/tdstelecom/images/products/phone/icon-product-phone.svg");
}
.pkg-builder-tv-tab:before {
    background-image: url("/content/dam/tdstelecom/images/products/tv/icon-product-tv.svg");
}
.pkg-builder-extra-tab:after {
    content: none;
}
.pkg-builder-internet-tab:focus:before,
.pkg-builder-internet-tab:hover:before,
.pkg-builder-phone-tab:focus:before,
.pkg-builder-phone-tab:hover:before,
.pkg-builder-tv-tab:focus:before,
.pkg-builder-tv-tab:hover:before {
    filter: grayscale(0%);
    opacity: 1;
}
// arrow icons after categories
.pkg-builder-container .pkg-builder-nav-tabs li a:after {
    content: "";
    width: 40px;
    height: 50px;
    background-image: url("/content/dam/tdstelecom/images/ui/arrows/right-arrow-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    opacity: 0.4;
    display: block;
    position: absolute;
    right: 4px;
    top: 0;
}
// removes arrow icon from last item in tabs
.pkg-builder-container .pkg-builder-nav-tabs li:last-child a:after {
    content: none;
}
@media (max-width:625px) {
    .pkg-builder-internet-tab,
    .pkg-builder-phone-tab,
    .pkg-builder-tv-tab {
        padding: 0 50px 0 46px;
    }
    .pkg-builder-internet-tab:before,
    .pkg-builder-phone-tab:before,
    .pkg-builder-tv-tab:before {
        width: 40px;
        background-size: 34px;
    }
    .pkg-builder-container .pkg-builder-nav-tabs li:after {
        width: 36px;
        height: 40px;
        background-size: 30px 30px;
        margin-right: 5px;
        margin-left: 3px;
    }
}
@media (max-width:560px) {
    .pkg-builder-internet-tab:before,
    .pkg-builder-phone-tab:before,
    .pkg-builder-tv-tab:before {
        content: none;
    }
    .pkg-builder-internet-tab,
    .pkg-builder-phone-tab,
    .pkg-builder-tv-tab {
        padding: 0 50px 0 0;
    }
}
@media (max-width:445px) {
    .pkg-builder-container .pkg-builder-nav-tabs li {
        margin-left: 0;
        min-height: 0;
        margin-bottom: 0;
    }
}
@media (max-width:340px) {
    .pkg-builder-container .pkg-builder-nav-tabs li {
        float: none;
    }
    .pkg-builder-internet-tab,
    .pkg-builder-phone-tab,
    .pkg-builder-tv-tab {
        padding: 0 50px;
    }
    .pkg-builder-internet-tab:before,
    .pkg-builder-phone-tab:before,
    .pkg-builder-tv-tab:before {
        content: "";
    }
}
// typography
// ----------------
.prod-listitem-content h3 {
    margin-top: 0;
}
// use for (optional)
.prod-listitem-content h3 span {
    font-size: 75%;
    color: #555;
}
.pkg-product-card .prod-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 21px;
}
.pkg-product-card .pkg-builder-listoption-wrap .product-content p:last-child {
    margin-bottom: 0;
}
.pkg-product-card .price-text.price-base {
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    font-size: 21px;
    color: #578228;
    font-weight: 500;
    line-height: 1.25em;
}
.product-subitem .prod-subitem-heading {
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    font-size: 16px;
    color: #353535;
    font-weight: 400;
    margin-top: 20px;
    text-transform: uppercase;
}
.product-subitem .prod-subitem-name {
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    color: #19388a;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}


// Section/Tab Content
// ----------------
.tab-content.pkg-builder-tab-content {
    margin-top: 24px;
}

// product list section
.product-list-contents {
    padding: 20px 0;
    border-bottom: solid 2px #d3d8e8;
}
.pkg-builder-tab-content > div > .product-list-contents:first-child {
    padding-top: 0;
}
.product-list-contents:nth-last-child(2) {
    border-bottom: none;
    padding-bottom: 0;
}

// Package Cards
// ----------------
.pkg-product-card {
    border: solid 3px #d9d9d9;
}
.pkg-product-card.is-selected {
  background-color: #d9d9d9;
}
.product-content {
    padding: 0 20px 20px 20px;
}
.prod-subitem-content {
    padding: 8px 20px 0 44px;
}
// Package product list item radio styling
.pkg-product-card:last-child {
    margin-bottom: 4px;
}
.pkg-product-card .pkg-builder-listoption-wrap {
    margin: 0;
}
.pkg-product-card .pkg-builder-label {
    padding: 20px 20px 8px 20px;
}
.pkg-product-card .pkg-builder-listoption-wrap .tds-radio-btn {
    margin-left: -64px;
    margin-top: -4px;
}
.pkg-product-card input:disabled + .tds-radio-btn {
    opacity: initial;
    background-color: #999;
    border-color: #999;
}
.pkg-builder-listoption-wrap .form-sub-group {
    padding: 0 0 20px 20px;
}
.pkg-builder-listoption-wrap .form-sub-group .input-group.bootstrap-touchspin {
    margin-top:0;
}
// Package product subitem/addon
// ----------------
.pkg-product-card .product-subitem .form-group:last-child {
    margin-bottom: 0;
}

.pkg-product-card .product-subitem .form-group > .tds-divider-line {
    margin-top: 20px;
}

.pkg-product-card .product-subitem .form-group:last-child > .tds-divider-line {
    display: none;
}
// alert spacing in addon section
.pkg-builder-addon-wrap .form-sub-group + .tds-alert.tds-alert-critical {
    margin-top: 16px;
}
// Package product subitem checkbox
.pkg-builder-addon-wrap {
    margin-top: 0px;
    padding: 0 20px 20px 20px;
}
.pkg-builder-addon-wrap .form-sub-group {
    padding-left: 44px;
}
.pkg-builder-addon-wrap .product-subitem {
    margin-bottom: 0;
    margin-top: 20px;
}
.pkg-builder-addon-wrap .product-subitem .tds-radio-btn {
    margin-left: -42px;
}
.pkg-builder-addon-wrap .product-subitem label {
    padding-left: 44px;
}
// package subtotal
// ----------------
.pkg-builder-subtotal {
    margin-top: 4px;
    margin-bottom: 24px;
}
.pkg-subtotal-content {
    padding: 21px 0;
}
.subtotal-column-content {
    padding: 0 8px;
}
.subtotal-items {
    text-align: center;
}
h3.subtotal-header-text {
    margin-top: 0;
    font-weight: 400;
}
.pkg-subtotal-content .sel-head-text {
    color: #353535;
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
    margin-bottom: 0;
    margin-top: 0;
}
.pkg-subtotal-content .sel-price-text {
    margin-top: 10px;
}
.pkg-subtotal-content .sel-head-text.sel-head-text-mth {
    color: #19388a;
}
.pkg-subtotal-content .sel-price-text.sel-price-text-mth {
    margin-bottom: 8px;
}
.subtotal-fees{
    font-size: 75%;
    margin-bottom: 0;
}
table.table.pkg-subtotal-table {
    margin-bottom: 0;
}
.table.pkg-subtotal-table > tbody > tr > td.subtotal-column {
    padding: 0;
}
@media (max-width: 960px) {
    .pkg-subtotal-content .subtotal-header-text {
        text-align: center;
    }
    .sel-summary.col-sm-12.col-md-3 {
        text-align: center;
    }
}
@media (max-width: 584px) {
    .sel-head-text {
        font-size: 16px;
    }
    h3.subtotal-header-text {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .pkg-subtotal-content .sel-price-text {
        font-size: 24px;
    }
    .pkg-subtotal-content .sel-price-text.sel-price-text-mth {
        margin-bottom: 4px;
    }
}
@media (max-width:420px){
   .table.pkg-subtotal-table > tbody > tr > td.subtotal-column {
        display: block!important;
    }
}
// divider lines
.tab-content .bottom-buttons .tds-divider-line.thin-lt-gray {
    margin-bottom: 4px;
}
//loading modal
.pkg-builder-modal .modal-body.tds-msg-box {
    border: none;
    min-height: inherit;
    border-top: 5px solid #19388a;
}
.pkg-builder-modal .modal-body.tds-msg-box .tds-msg-box {
    border: none;
    padding: 0;
    text-align: center;
    min-height: inherit;
}
.pkg-builder-modal .modal-body .tds-msg-box h2 {
    font-size: 24px;
    font-weight: 400;
}
.pkg-builder-modal .tds-modal .modal-body .tds-msg-box .spinner {
    margin-top: 22px;
    margin-bottom: 20px;
}
