/* tds-search-results.scss
==========================================*/
// search info message
// TODO || need to move search to own less file
.multiPathSearch .resultText {
  //@extend .tds-error-msg;
  margin-bottom: 20px;
  display: block;
  text-align: left;
  padding: 12px 16px;
  width: 100%;
  line-height: 24px;
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
  font-size: 14px;
  font-weight: 400 !important;
  border-radius: 0px;
  border: 0px solid transparent;
  //@extend .tds-error-info;
  background-color: #E8EBF3;
  border-color: #d1dae7;
  color: #353535;
}
// search links see above
.multiPathSearch > a {
  @include make-xs-column(12);
}
// Page name
.search-current-page {
  text-transform: uppercase;
}
// search results page layout
// Maybe move this to layout section later.
.multiPathSearch {
  //@extend .container;
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  max-width: $screen-md;

  //links
  .col-sm-6 a {
    color: #333;
    margin-bottom: 40px;
    &:hover {
      color: $tds-dk-blue;
    }
  }
  .results-pages {
      display: table;
  }
}

a.search-result {
  font-size: 20px;
  text-decoration: none;
  color: $tds-lt-blue;
  border-bottom: 2px solid lighten($tds-lt-blue, 30%);
  &:hover {
    color: $tds-dk-blue;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
}
button span.tds-icon.tds-icon-search {
  margin-right: 12px;
}

/* search content */
p.resultText.tds-error-msg.tds-error-status {
  background: $tds-status-bg;
}

.searchResultsContainer {
    padding: 0 40px;
    max-width: 680px;
}
.search-results-pagination.pagination {
    padding-top: 6px;
    padding-bottom: 16px;
}

a.search-result {
    border-bottom: 1px solid $tds-lt-blue;
    font-size: 16px;
    font-family: $tds-font-family;
}

.searchHit {
    margin-bottom: 24px;
}
.searchHit:last-child {
    margin-bottom: 0px;
}
.searchHit:first-child {
    margin-top: 32px;
}

.searchHit > p {
    margin-top: 6px;
}

.newsSearch > .tds-news-feed-group {
  padding-right: 40px;
}
@media (max-width:750px){
  .newsSearch > .tds-news-feed-group {
    padding-right: 28px;
  }
}

.pagebanner + .multiPathSearch.parbase.section {
    margin-top: -10px;
}

span.search-current-page {
    padding-left: 0;
}

.results-pages > a {
    margin-bottom: 10px;
}

@media (max-width:750px){
    .search-result-content .searchResultsContainer {
        padding-left: 24px;
    }
}

@media (max-width:583px){
    .search-result-content .searchResultsContainer {
        padding: 0px;
    }
}
.noResultsFound ul {
    display: table;
    list-style-type: none;
}

.noResultsFound ul li:before {
    content: "\f04d";
    position: relative;
    top: -3px;
    margin-right: 10px;
    margin-left: -22px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    color: #0c8fd0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.noResultsFound > div {
    padding-left: 40px;
    padding-right: 40px;
}

// IWP-3214 style the search biz site copy*/
.otherSearch-business {
    background-image: url(/content/dam/tdstelecom/images/ui/alerts/icon_alert-information.svg);
    background-size: 18px 18px;
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-left: 40px;
    margin-top: 28px;
    font-weight: 500;
    font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial;
}

@media (max-width: 751px) {
    .otherSearch-business {
    margin-left: 24px;
    }
}
@media (max-width: 583px) {
    .otherSearch-business {
    margin-left: 0px;
    }
}

.otherSearchDescription {
    display: inline-block;
}

.otherSearch {
    display: inline-block;
}
