/* tds-mobile-header.scss
==========================================*/

#mobile-header-container {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 500;
  //margin-left: -15px;
}
#add-padding {
  height: 78px;
}
.tdsheader > #add-padding {
  height: 72px;
}
.myaheader.parbase.header > div#add-padding {
  height: 87px;
}
@media all and (min-width: $screen-sm-min) {
  #mobile-header-container {
    position: relative;
  }
  #add-padding,
  .myaheader.parbase.header > div#add-padding,
  .tdsheader > #add-padding {
    height: 0;
  }
}
#mobile-menu {
  overflow: auto;
}
.add-scroll {
  height: 370px;
  overflow: auto;
}
#mobile-menu {
  display: none;
  min-width: 300px;
  border-bottom: 5px solid #7f7f7f;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: relative;
  top: -2px;
}
#mobile-menu ul {
  position: relative;
  z-index: 20;
  // remove the bullets next to list items:
  list-style: none;
  // get rid of any default or inherited margins and padding:
  margin: 0;
  padding: 0;
  font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.375em;
}
#mobile-menu ul li {
  background-color: $tds-dkr-gray;
}
#mobile-menu ul li:hover {
  background-color: $tds-dk-gray;
}
#mobile-menu ul ul li:hover {
  background-color: $tds-dk-gray;
  border-top: solid 1px $tds-dk-gray;
  margin-top: -1px;
}
#mobile-menu ul li:first-child:hover {
  border-top: none;
  margin-top: 0;
}
#mobile-menu ul li a {
  display: block;
  text-decoration: none;
  margin: 0 18px;
  // left and right padding
  padding: 14px 2em 14px 0;
  color: $tds-headfoot-text-color;
  border-bottom: solid 2px $tds-lt-blue-80;
}
#mobile-menu > ul > li:first-child > a {
  //border-bottom: solid 2px #7bb227;
  //removing green border, not consistent throughout
}
#mobile-menu ul li li a {
  color: $tds-headfoot-text-color;
  padding-left: 1.2em;
  border-bottom: solid 1px $tds-dk-gray;
}
#mobile-menu ul li li:last-child a {
  border-bottom: solid 2px $tds-lt-blue-80;
}
// remove so that support section sub menu menu has thin gray divider lines
// #mobile-menu ul ul li:last-child a {
//   border-bottom: none;
// }

// Link on hover
#mobile-menu ul li a:hover,
#mobile-menu ul li:hover > a {
  color: white;
}
#mobile-menu ul li:hover > a {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/down-arrow-ltblue.png);
  background-image: linear-gradient(transparent, transparent), url(/content/dam/tdstelecom/images/ui/arrows/down-arrow-ltblue.svg);
  background-size: 16px 11px;
  background-position: center right;
  background-repeat: no-repeat;
}
#mobile-menu ul li a:hover {
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-green.png);
  background-image: linear-gradient(transparent, transparent), url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-green.svg);
  background-size: 11px 16px;
  background-position: center right;
  background-repeat: no-repeat;
}
.mobile-menu-active1 {
  color: $tds-white!important;
  font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
  font-weight: 500;
  font-style: normal;
  background-image: url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-green.png);
  background-image: linear-gradient(transparent, transparent), url(/content/dam/tdstelecom/images/ui/arrows/right-arrow-green.svg);
  background-size: 11px 16px;
  background-position: center right;
  background-repeat: no-repeat;
}
.mobile-menu-active2 {
  background-color: $tds-dk-gray!important;
}
#tds-mobile-header {
  display: block;
  width: 100%;
  min-width: 280px;
  position: relative;
}
div.hr-gray {
  border-bottom: solid 2px $tds-lt-gray;
}
div.hr-ltblue {
  border-bottom: solid 2px $tds-blue-100;
}
#mobile-nav-container {
  padding: 16px 16px 0 16px;
  min-width: 304px;
  background-color: white;
}
.remove-padding {
  padding-bottom: 0;
}
ul.mobile-header-nav {
  margin: 0;
  list-style-type: none;
  //float: right;
  //float was causing weird gaps in small form
  text-align: right;
}
ul.mobile-header-nav li {
  display: inline-block;
  height: 30px;
  margin: 0 0 0 14px;
}
#btn-menu {
  font-size: 12px;
  font-family: "ITC Avant Garde Gothic W01", Century Gothic, Arial;
  font-weight: 400;
  font-style: normal;
  color: $tds-dk-gray;
  height: 36px;
  padding: 8px 16px 0;
}
#btn-menu:hover,
#btn-menu:active {
  border: solid 2px $tds-blue-100;
  color: $tds-white;
  background-color: $tds-blue-100;
  cursor: pointer;
}
.menu-normal {
  border: solid 2px $tds-lt-gray;
  color: $tds-blue-100;
  padding: 16px;
}
.menu-active {
  border: solid 2px $tds-blue-100;
  color: $tds-white!IMPORTANT;
  background-color: $tds-blue-100;
  padding: 16px;
  margin-bottom: 0 !important;
  z-index: 250!important;
  position: relative;
}
.menu-normal, .menu-active {
    padding: 8px!important;
    top: -13px;
    position: relative;
    text-decoration: none;
}
.search-normal {
  width: 36px;
  height: 36px;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_ui-search-gray-lgr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 36px 36px;
  background-size: 36px 36px;
}
.search-normal:hover {
  background-image: url(/content/dam/tdstelecom/images/ui/icon_ui-search.svg);
  background-color: $tds-blue-100;
}
.search-active {
  width: 36px;
  height: 36px;
  background-color: $tds-blue-100;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_ui-search.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 36px 36px;
  background-size: 36px 36px;
}
#btn-search, #btn-cart {
  text-indent: -9999px;
}
.icon_cart-empty {
  width: 36px;
  height: 36px;
  background-image: url(/content/dam/tdstelecom/images/ui/icon_ui-cart-gray-lgr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 36px 36px;
  background-size: 36px 36px;
}
.icon_cart-empty:hover {
  background-image: url(/content/dam/tdstelecom/images/ui/icon_ui-cart-empty.svg);
  background-color: $tds-blue-100;
}
@media all and (min-width: $screen-sm-min) {
  #tds-mobile-header,
  #mobile-menu {
    display: none;
  }
}
div.hr-mobile-tdsblue {
  border-top: solid 4px $tds-blue-100;
  position: relative;
}
// Removing the bootstrap min-height for `.navbar` since we don't use it it was
// adding extra padding in mobile.
.navbar {
  margin-bottom: 15px;
  min-height: 0;
  border: 0;
}

//hides link text but still makes it available for screen readers
a#tds-logo, a#btn-cart, a#btn-search {
    text-indent: -9999px;
    display: inline-block;
    text-align: initial;
}
.small-nav-logo {
    height: 36px;
    float: left;
    width: auto;
}
// request a quote button on the tds business site
// called the "cta button" in the component dialog
#mobile-nav-container .mobile-header-nav {
  .btn-cta-wrap {
    a#btn-cta.gallery-btn.tds-btn-orange {
      font-size: 12px;
      font-family: "ITC Avant Garde Gothic W01",Century Gothic,Arial;
      font-weight: 400;
      font-style: normal;
      color: white;
      padding: 8px 16px 0;
      border: solid 2px $tds-orange-80;
      background-color: $tds-orange-80;
      &:after {
          content: none;
      }
      &:hover, &:focus {
        border: solid 2px $tds-orange-100;
        color: white;
        background-color: $tds-orange-100;
      }
    }
  }
}

#mobile-menu ul li a span.gallery-btn.tds-btn-orange {
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  &:after {
    content: none;
  }
}
@media (max-width: 430px) {
    li.btn-cta-wrap {
        display: none!important;
    }
}
@media (min-width: 431px) {
    #mobile-menu-dropdown li.mobile-cta-wrap {
        display: none!important;
    }
}
